/*
Theme Name: Philadelphia
Theme URI: http://www.philadelphia.com
Author: Philadelphia
Version: 1.0
Copyright: (c) Philadelphia
*/


/*======== TABLE OF CONTENT ==========
1.  Global Style
2.  Top Bar
3.  Nav Bar
4.  Header
5.  Offer
6.  Content
7.  Pagination
8.  Sidebar
9.  Testimonial
10. Single Post
11. Carousel
12. Footer
13. Copyright
14. Author Details
15. Thumb
16. Single Page Heading
17. Comments
18. Search Box
19. Recipe Form
20. User Navigation
21. Popular Post
22. Ingredients
23. Instructions
24. Recipe Meta
25. Recipe Categories
26. Post Navigation
27. 404
28. Contact Info
29. Social Popup
30. WordPress Styles

/*=================================*/

/* 
=================================
       1.  Global Style
=================================
*/

body {
	margin: 0;
	padding: 0;
	font-family: 'PT Serif', 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #888;
	background: #fff;
	overflow-x: hidden;
	scrollbar-face-color: #333;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

::-moz-selection {
	color: #fff;
	text-shadow: none;
	background: #3498db;
}

::-webkit-selection {
	color: #fff;
	text-shadow: none;
	background: #3498db;
}

::selection {
	color: #fff;
	text-shadow: none;
	background: #3498db;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #333;
}

::-webkit-scrollbar-thumb {
	background-color: #666;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-corner {
	background-color: #000000;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Lora', 'PT Serif', sans-serif;
    font-style: italic;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #ff9638;
	text-decoration: none;
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{
	color: #818a91;
    font-weight: 500;
}

select:focus,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus
	{
	color: #ff9638;
	border-color: #bbb;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn,.form-control {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.form-control, .sidebar .widget-sidebar select, .footer .widget select, .login-wrap form input[type="text"], .login-wrap form input[type="password"] {
	background-color: #fcfcfc;
	color: #818a91;
	border-radius: 0;
	border-color: #dfe5e7;
	font-size: 15px;
	font-family: 'Lora', 'PT Serif', serif;
	font-style: italic;
	padding: 0 14px;
	height: 44px;
	line-height: 44px;
	box-shadow: none;
	transition: border-color .2s linear, background-color .2s linear;
}

_:-ms-fullscreen, :root select.form-control {padding: 10px;}

select {
	background-image: url(./img/down.png) !important;
	background-repeat: no-repeat !important;
	background-position: right 12px center !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
}

input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	display: inline-block;
	outline: none;
	overflow: hidden;
	position: relative;
	z-index: 10;
	color: #fff;	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-radius: 0px;
	border: 0px;
	box-shadow: 0px 0px 0px 0px;
    background-color: #ff9638;
    border-color: #F18D33;
}

.form-control:focus {
	color: #ff9638;
	border-color: #bbb;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.clear-marg {
	margin: 0 !important;
}

.btn-success {
	background-color: #ff9638;
	border-color: #F18D33;
}

.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.btn-success.dropdown-toggle
	{
	background-color: #D97F2E;
	border-color: #D97F2E;
}

.btn-warning {
	background-color: #B8B6B6;
	border-color: #B8B6B6;
}

.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.btn-warning.dropdown-toggle
	{
	background-color: #a0a0a0;
	border-color: #a0a0a0;
}

.btn-success.btn-continue {
    margin-top: 10px;
}

/* 
=================================
          2. Top Bar
=================================
*/
.topbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background: #f9f9f9;
	height: 40px;
}

.topbar .container {
	position: relative;
}

.topbar-right {
	float: right;
}

.topbar-left {
	float: left;
}

.topbar-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.topbar-nav>li {
	float: left;
}

.topbar-nav>li>a {
	display: block;
	padding: 8px 12px;
	background-color: transparent;
	color: #95a0aa;
}

.topbar-nav>li>a:hover {
	background: #ff9638;
	color: #fff;
}

.topbar-nav.top-contact-info>li {
	border-right: solid 1px #eee;
}

.topbar-nav.top-contact-info>li:first-child {
	border-left: solid 1px #eee;
}

.topbar-nav.top-contact-info>li i {
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

.topbar-nav>.active>a,.topbar-nav>.active>a:hover,.topbar-nav>.active>a:focus
	{
	background: #242636;
}

.topbar-nav>.disabled>a,.topbar-nav>.disabled>a:hover,.topbar-nav>.disabled>a:focus
	{
	color: #fff;
	background: #ff9638;
}

/* 
=================================
         3.  Nav Bar
=================================
*/
.navbar-default {
	background-color: #fff;
	border-color: #eee;
}

.navbar-default.navbar-fixed-top {
	top: 40px;
    min-height: 80px;
}

.navbar-default .navbar-brand img {
	height: 55px;
    padding-top: 5px;
	width: auto;
	display: block;
}

.navbar-default .navbar-brand {
	position: relative;
	color: #8cc152;
	font-size: 26px;
	display: block;
	padding: 10px 40px 10px 15px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navbar-default .navbar-brand::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 80px;
}

.navbar-default .navbar-brand span {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 400;
}

.navbar-default .navbar-brand:hover {
	color: #fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navbar-default .navbar-brand:hover>span {
	color: #fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
	color: #898ba2;
	font-size: 16px;
	text-shadow: none;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus
	{
	color: #fff;
	background-color: #0f101a;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover
	{
	position: relative;
	color: #fff;
	background-color: #ff9638;
}

.navbar-default .navbar-nav>.active>a::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 3px;
	width: 100%;
	background: #EC7912;
}

.navbar.navbar-default .navbar-nav li.dropdown.open>a,.navbar.navbar-default .navbar-nav li.dropdown.open>a:hover
	{
	color: #fff;
	background-color: #ff9638;
}

.dropdown-menu {
	background-color: #ff9638;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.dropdown-menu>li>a {
	color: #fff;
	padding-top: 12px;
	padding-bottom: 12px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus
	{
	color: #fff;
	background-color: #0f101a;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: rgb(255, 196, 144);
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.signin {
	padding: 12px 18px !important;
	margin-top: 19px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.signup {
	padding: 12px 12px 10px !important;
	margin-top: 19px;
	margin-left: 15px;
	background-color: #ff9638 !important;
	color: #fff !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.signup:hover,.signup:focus,.signup:active {
	background-color: #D97F2E !important;
}

#modal-signin .modal-header h4,#modal-signup .modal-header h4 {
	text-align: center;
	color: #ff9638;
}

#modal-signin .modal-footer,#modal-signup .modal-footer {
	margin-top: 0;
	background-color: #f4f4f4;
	text-align: left !important;
}

#modal-signin .modal-footer p,#modal-signup .modal-footer p {
	margin-bottom: 15px;
}

.sticky {
	padding-bottom:2em;
	border-bottom:1px dotted #ccc;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}
.bypostauthor {}

/********** CUSTOM MAIN MENU**************/

.en .main-nav-bar .main-nav-links li a{ text-transform: uppercase;}
.en .main-nav-bar .main-nav-links li a:hover, .en .main-nav-bar .main-nav-links li.current-menu-item a{
	
	background-color: #124391;
    color: #ffffff;
}


/* 
=================================
          4.  Header
=================================
*/
#header {
	width: 100%;
	min-height: 500px;
	height: auto;
}

#header.carousel-fade .carousel-inner .item {
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-ms-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}

#header.carousel-fade .carousel-inner .active {
	opacity: 1;
	filter: alpha(opacity = 100);
}

#header.carousel-fade .carousel-inner .active.left,#header.carousel-fade .carousel-inner .active.right
	{
	left: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	z-index: 1;
}

#header.carousel-fade .carousel-inner .next.left,#header.carousel-fade .carousel-inner .prev.right
	{
	opacity: 1;
	filter: alpha(opacity = 100);
}

#header.carousel-fade .carousel-control {
	z-index: 2;
}

#header .carousel-inner .item {
	min-height: 800px;
	height: auto;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-ms-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-attachment: fixed;
	background-position: center 0;
	background-repeat: no-repeat;
}

#header .carousel-inner .item .carousel-caption {
	background-color: #fff;
	right: 30%;
	left: 30%;
	bottom: 20%;
	color: #6b6e80;
	text-shadow: none;
	text-align: center;
	padding: 60px;
	-webkit-box-shadow: 0px 39px 56.4px 3.6px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 39px 56.4px 3.6px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 39px 56.4px 3.6px rgba(0, 0, 0, 0.24);
	transition: box-shadow 0.2s ease-in-out;
}

#header .carousel-inner .item .carousel-caption h3 {
	margin-top: 0;
	font-size: 50px;
	line-height: 72px;
	font-weight: 600;
	color: #656D78;
    font-style: normal;
}

#header .carousel-inner .item .carousel-caption .list-features {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 0;
}

#header .carousel-inner .item .carousel-caption .list-features li {
	display: inline-block;
	padding: 5px 10px;
	margin-bottom: 4px;
	background-color: #eaeaea;
	border-radius: 4px;
	border: 1px solid #ccc;
}

#header .carousel-inner .item .carousel-caption .view-btn {
	display: block;
	padding: 15px 0 10px;
}

#header .carousel-control>.glyphicon,#header .carousel-control>.fa {
	font-size: 16px;
	line-height: 30px;
}

#header .carousel-control.left,#header .carousel-control.right {
	position: absolute;
	background-image: none;
	width: 50px;
	height: 50px;
	margin-top: 30%;
	background-color: transparent !important;
	color: rgba(255, 255, 255, 0.5);
	text-shadow: none;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
	border-radius: 24px;
	opacity: 0;
	filter: alpha(opacity = 0);
}

#header .carousel-control.left:hover,#header .carousel-control.right:hover
	{
	background-color: #fff !important;
	color: #ff9638;
	text-shadow: none;
}

#header .carousel-control.left {
	left: 30px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#header .carousel-control.right {
	right: 30px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#header:hover>.carousel-control.left,#header:hover>.carousel-control.right
	{
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.quick-search {
	padding: 25px 40px;
	background: rgba(255, 255, 255, 1);
}

.main-search {
	width: 100%;
	padding-top: 40px;
	background-color: #f9f9f9;
}

#header.page-heading {
	position: relative;
	min-height: 200px;
	padding-top: 200px;
	padding-bottom: 40px;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-ms-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

#header.page-heading>* {
	position: relative;
	z-index: 2;
}

#header.page-heading .page-title {
	position: relative;
	z-index: 2;
	display: block;
	margin-bottom: 40px;
	text-align: center;
	color: #ddd;
	font-size: 14px;
	line-height: 24px;
}

#header.page-heading .page-title h2 {
	margin-bottom: 15px;
	font-size: 36px;
	font-style: italic;
	line-height: 40px;
	color: #fff;
	text-align: center;
	font-weight: 800;
}

#header.page-heading .page-title h2 span {
	font-weight: 400;
}

#header.page-heading .breadcrumb {
	position: relative;
	z-index: 2;
	display: table;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	text-align: center;
	font-family: 'Lora', 'PT Serif', serif;
	font-style: italic;
}

#header.page-heading .breadcrumb>.active,#header.page-heading .breadcrumb>.item-current
	{
	color: #f9f9f9;
}

#header.page-heading .quick-search {
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 39px 56.4px 3.6px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 39px 56.4px 3.6px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 39px 56.4px 3.6px rgba(0, 0, 0, 0.24);
}


/* 
=================================
          5.  Offer
=================================
*/
#offer {
	width: 100%;
	padding: 40px 0;
}

#offer h2 {
	display: block;
	margin-bottom: 60px;

}

#offer h2 small {
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
}

.offer-container {
	display: block;
	margin-bottom: 20px;
}

.offer-container:hover>.offer-icon {
	-webkit-box-shadow: 0 0 0 5px #ff9638;
	-moz-box-shadow: 0 0 0 5px #ff9638;
	-ms-box-shadow: 0 0 0 5px #ff9638;
	-o-box-shadow: 0 0 0 5px #ff9638;
	box-shadow: 0 0 0 5px #ff9638;
}

.offer-icon {
	display: block;
	margin-bottom: 20px;
}

.offer-icon {
	position: relative;
	display: block;
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	background: #ff9638;
	-webkit-box-shadow: rgba(50, 50, 50, 0.11) 0 5px 2px 0;
	-khtml-box-shadow: rgba(50, 50, 50, 0.11) 0 5px 2px 0;
	-moz-box-shadow: rgba(50, 50, 50, 0.11) 0 5px 2px 0;
	-ms-box-shadow: rgba(50, 50, 50, 0.11) 0 5px 2px 0;
	-o-box-shadow: rgba(50, 50, 50, 0.11) 0 5px 2px 0;
	box-shadow: rgba(50, 50, 50, 0.11) 0 5px 2px 0;
	color: #5b5b5b;
	font-size: 36px;
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-transform: 0deg;
	-khtml-transform: 0deg;
	-moz-transform: 0deg;
	-ms-transform: 0deg;
	-o-transform: 0deg;
	transform: 0deg;
	-webkit-transition: all, 0.3s, ease-out;
	-khtml-transition: all, 0.3s, ease-out;
	-moz-transition: all, 0.3s, ease-out;
	-ms-transition: all, 0.3s, ease-out;
	-o-transition: all, 0.3s, ease-out;
	transition: all, 0.3s, ease-out;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.offer-icon>i {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 45px;
	height: 45px;
	margin-left: -22px;
	margin-top: -22px;
	font-size: 45px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

.offer-content {
	text-align: center;
}

.offer-content h3 {
	font-size: 1.2em;
    font-style: normal;
	line-height: 20px;
	margin-bottom: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

.offer-icon>i:before {
	margin: auto;
	text-align: center;
	border-radius: 100%;
	display: block;
	font-size: 45px;
	width: 45px;
	height: 45px;
	line-height: 45px;
}
/* 
=================================
          6.  Content
=================================
*/
#content,#most-rated,#latest,#top-rated,#most-read,#latest-news,#top_authors
	{
	position: relative;
	width: 100%;
	padding: 60px 0;
	background: #f4f4f4;
}

#content {
	background: #fff;
}

#latest,#latest-news,#top_authors {
	background: #f9f9f9;
}

#top-rated {
	background: #fff;
}

.heading {
	display: block;
	text-align: center;
	margin-bottom: 60px;
}

.heading h2 {
	position: relative;
	display: inline;
	padding: 12px 20px;
	font-size: 28px;
	line-height: 32px;
	font-style: normal;
	font-weight: 600;
	font-family: 'PT Serif', serif;
}

.heading.heading-sm h2 {
	padding: 10px 14px;
	font-size: 18px;
	line-height: 24px;
}

.heading.bg-white h2::before {
	background: #fff;
}

.heading.heading-alt {
	text-align: left;
	margin: 0 0 30px;
}

.heading.heading-alt h3 {
	font-size: 26px;
	line-height: 30px;
}

.item-container {
	margin-bottom: 30px;
	background: #fff;
	transition: box-shadow 0.2s ease-in-out;
	-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.item-container:hover {
	-webkit-box-shadow: 0px 0px 25px 3.6px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 0px 25px 3.6px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 0px 25px 3.6px rgba(0, 0, 0, 0.24);
	transition: box-shadow 0.2s ease-in-out;
}

.item-img-box {
	position: relative;
	overflow: hidden;
}

.item-img-box img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.item-badge {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	width: auto;
	max-width: 70%;
	padding: 5px 10px;
	background: rgba(255, 255, 255, 0.9);
	font-weight: 400;
	color: #666;
}

.item-meta-box {
	display: block;
	padding: 5px 10px;
	background: #ff9638;
	color: #fff;
}

.item-meta-box span {
	padding: 2px 5px;
	font-size: 13px;
}

.item-content-box {
	padding: 5px 15px;
}
#content .item-content-box h3 {
    min-height: 71px;
}
.item-content-box h3,.single-post .item-content-box h3,.item-text h3,.main-service h3
	{
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	font-family: 'Lora', 'PT Serif', serif;
	font-style: italic;
}

.item-content-box h3 small,.item-text h3 small {
	display: block;
	margin-top: 10px;
	font-size: 13px;
	font-style: italic;
	width: 100%
}

.item-content-box h3 small i,.item-text h3 small i {
	padding-right: 10px;
}

.item-content-box-list {
	display: table;
}

.item-img-box-list {
	position: relative;
	width: 50%;
	display: table-cell;
	vertical-align: bottom;
    background: #f4f4f4;
}

.item-img-box-list img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.item-img-box-list .item-badge {
	position: absolute;
	left: 0;
	bottom: 40px;
}

.item-img-box-list .item-button-box a {
	background: #f9f9f9;
	color: #ccc;
}

.item-img-box-list .item-button-box a:hover {
	background: #898ba2;
	color: #d9dae9;
}

.item-text {
	position: relative;
	width: 50%;
	display: table-cell;
	padding: 15px;
	vertical-align: top;
}

.item-button-box {
	position: relative;
	display: table;
	width: 100%;
	padding: 0;
}

.item-button-box a {
	display: table-cell;
	width: 10%;
	padding: 8px 12px;
	text-align: center;
	background: #f9f9f9;
	font-size: 16px;
	color: #aaa;
	overflow: hidden;
}

.item-button-box a:hover,.item-button-box a:focus {
	color: #eee;
	background: #ccc;
	overflow: hidden;
	outline: none;
}


/* 
=================================
         7.  Pagination
=================================
*/
.pagination>li>a,.pagination>li>span {
	color: #646464;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus
	{
	color: #ff9638;
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus
	{
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #ff9638;
	border-color: #ff9638;
}



/* 
=================================
          8.  Sidebar
=================================
*/
.sidebar {
	margin-bottom: 20px;
}

.sidebar .widget:before,.sidebar .widget:after,.sidebar .widget-sidebar:before,.sidebar .widget-sidebar:after
	{
	content: "";
	display: table;
	clear: both;
}

.sidebar .widget-white {
	position: relative;
	padding: 15px 25px;
	background: #f7f7f7;
	margin-bottom: 30px !important;
	border-bottom: 2px solid #ddd;
}

.sidebar .widget,.sidebar .widget-sidebar {
	margin-bottom: 20px;
}

.sidebar .widget .widget-header {
	margin-bottom: 20px;
}

.sidebar .widget .widget-header h3 {
	font-family: 'Lora', 'Open Sans', 'PT Serif', sans-serif;
	color: #7f8c8d;
	font-size: 1.04em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	background-repeat: repeat-x;
	background-position: bottom center;
	margin-top: 15px;
	padding-bottom: 25px;
    font-style: normal;
}

.sidebar .widget ul {
	list-style-type: none;
	margin-bottom: 5px;
}

.sidebar .widget ul>li {
	display: block;
	padding: 3px 0;
	margin-left: -40px;
}

.sidebar .widget ul>li:first-child>a {
	padding-top: 0;
}

.sidebar .widget ul>li>a:before {
	font-family: 'FontAwesome';
	content: "\f105";
	padding-right: 10px;
}

.sidebar .widget ul>li>a {
	display: inline;
	font-size: 14px;
}

.sidebar .widget-sidebar .list-check>li>a:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	font-size: 12px;
	color: #ff9638;
	padding-right: 8px;
	position: relative;
	left: 0;
	top: -1px;
}

.sidebar .widget-sidebar .list-check>li>a:hover:before {
	color: #6f9a37;
}

.sidebar .widget-sidebar .nav-tabs {
	border-bottom: 3px solid #ddd;
}

.sidebar .widget-sidebar .nav-tabs>li>a {
	font-size: 18px;
	border: none;
	position: relative;
}

.sidebar .widget-sidebar .nav-tabs>li>a:hover {
	color: #2C3E50;
	border-color: transparent;
	background: transparent;
}

.sidebar .widget-sidebar .nav-tabs>li>a:hover:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 3px;
	background: #ccc;
}

.sidebar .widget-sidebar .nav-tabs>li.active>a,.sidebar .widget-sidebar .nav-tabs>li.active>a:hover,.sidebar .widget-sidebar .nav-tabs>li.active>a:focus
	{
	color: #2C3E50;
	cursor: default;
	background-color: transparent;
	border: none;
	border-bottom-color: transparent;
}

.sidebar .widget-sidebar .nav-tabs>li.active>a:before,.sidebar .widget-sidebar .nav-tabs>li.active>a:hover:before,.sidebar .widget-sidebar .nav-tabs>li.active>a:focus:before
	{
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 3px;
	background: #ff9638;
}

.sidebar .widget-sidebar .inner-content {
	padding-top: 20px;
}

.sidebar .widget .widget-header h3:after {
	content: "";
	width: 50px;
	height: 2px;
	background: #ff9638;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
}

.sidebar .widget .widget-header h3:before {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #E7E7E7;
	position: absolute;
	bottom: 0;
	left: 0;
}

.sidebar .widget-sidebar select {
    width: 100%;
    background: #fff;
}
/* 
=================================
         9.  Testimonial
=================================
*/

#testimonial {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 60px;
	padding-bottom: 60px;
	background-attachment: fixed;
	background-position: center 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-ms-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

#testimonial .title {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	font-size: 28px;
}

.testimonial-slide.owl-carousel .owl-wrapper-outer {
	padding-top: 60px;
	padding-bottom: 100px;
}

.article-slide.owl-carousel .owl-wrapper-outer {
	padding-top: 10px;
}

.article-slide.owl-theme .owl-controls .owl-page span {
	border: 2px solid #ccc;
}

.testimonial-quote-item {
	padding: 30px 40px;
	margin: 0 10px;
	background-color: #fff;
	position: relative;
	border-right: 1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.24);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.24);
}

.testimonial-quote-item:after {
	content: "";
	position: absolute;
	bottom: -16px;
	left: 50px;
	border-width: 16px 0 0 16px;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
}

.testimonial-quote-item .quote-text {
	margin: 10px 0;
	display: inline-block;
	font-style: italic;
	font-family: 'Lora', serif;
	color: #555;
}

.testimonial-text:before {
	content: "";
	position: absolute;
	bottom: -22px;
	left: 20px;
	border-width: 21px 15px 0 15px;
	border-style: solid;
	border-color: #a7a7a7 transparent;
	display: block;
	width: 0;
}

.testimonial-text:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 21px;
	border-width: 20px 14px 0 14px;
	border-style: solid;
	border-color: #f9f9f9 transparent;
	display: block;
	width: 0;
}

.testimonial-thumb,#testimonial .avatar.photo {
	position: absolute;
	bottom: -100px;
	width: 80px;
	height: 80px;
	margin: 0;
	opacity: 0.60;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-ms-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

.quotes-author {
	font-size: 1.1em;
	font-weight: 700;
	color: #ff9638;
}

.quotes-subtext {
	font-style: italic;
}

.testimonial-slide.owl-theme .owl-controls {
	text-align: center;
	margin-top: 25px;
	position: relative;
	z-index: 1;
}

.testimonial-slide.owl-theme .owl-dots .owl-dot.active span {
	background: #0052a5;
}

.testimonial-slide.owl-theme .owl-dots .owl-dot span {
	width: 24px;
	height: 3px;
	margin: 0 2px !important;
	border-radius: 0;
}

/* 
=================================
        10. Single Post
=================================
*/
.single-post {
	margin-bottom: 20px;
}

.single-post .section-title {
    line-height: 28px;
    margin-bottom: 20px;
    font-weight: 500;
    font-style: italic;
    font-size: 1.65em;
    color: #555;
}

.single-post .nav-tabs>li>a {
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 18px;
	font-weight: 600;
}

.sidebar .widget-white.favorite::before {
	content: '';
	border: none;
}

.favorite a {
	position: relative;
	display: block;
	vertical-align: middle;
}

.favorite a::before {
	content: '';
	position: absolute;
	left: 34px;
	top: 0;
	width: 1px;
	height: 100%;
	background: #ff9638;
}

.favorite a>i {
	font-size: 20px;
	padding-right: 25px;
	display: inline-block;
	vertical-align: middle;
}

/* 
=================================
         11. Carousel
=================================
*/
#slider-recipe .carousel-inner .item img {
	max-width: 100%;
	height: auto;
}

#slider-recipe .carousel-control {
	opacity: 1;
	filter: alpha(opacity = 100);
}

#slider-recipe .carousel-control.left,#slider-recipe .carousel-control.right
	{
	position: absolute;
	background-image: none;
	width: 50px;
	height: 50px;
	margin-top: 30%;
	color: rgba(255, 255, 255, 0.5);
	text-shadow: none;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	-ms-border-radius: 55px;
	-o-border-radius: 55px;
	border-radius: 55px;
}

#slider-recipe .carousel-control.left:hover,#slider-recipe .carousel-control.right:hover
	{
	background-color: rgba(255, 255, 255, .8) !important;
	color: #ff9638;
	text-shadow: none;
}

#slider-recipe .carousel-control.left {
	left: 30px;
}

#slider-recipe .carousel-control.right {
	right: 30px;
}

#slider-recipe .carousel-control>.glyphicon,#slider-recipe .carousel-control>.fa
	{
	font-size: 16px;
	line-height: 30px;
}

#slider-recipe .carousel-indicators li {
	position: relative;
	width: 100px;
	height: 65px;
	margin: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border-width: 2px;
	border-color: #fff;
	text-indent: 0;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

#slider-recipe .carousel-indicators li::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .6);
	-webkit-transition: background .1s ease-in-out;
	-moz-transition: background .1s ease-in-out;
	-ms-transition: background .1s ease-in-out;
	-o-transition: background .1s ease-in-out;
	transition: background .1s ease-in-out;
}

#slider-recipe .carousel-indicators li img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

#slider-recipe .carousel-indicators .active::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .1);
	-webkit-transition: background .1s ease-in-out;
	-moz-transition: background .1s ease-in-out;
	-ms-transition: background .1s ease-in-out;
	-o-transition: background .1s ease-in-out;
	transition: background .1s ease-in-out;
}

#slider-recipe .carousel-indicators .active {
	border-color: #ff9638;
	border-width: 2px;
}

.jcarousel-wrapper {
	position: relative;
	margin: 20px auto;
	border: 10px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 2px #999;
	-moz-box-shadow: 0 0 2px #999;
	-ms-box-shadow: 0 0 2px #999;
	-o-box-shadow: 0 0 2px #999;
	box-shadow: 0 0 2px #999;
}

.jcarousel {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.jcarousel ul {
	position: relative;
	width: 20000em;
	margin: 0;
	padding: 0;
	list-style: none;
}

.jcarousel li {
	width: 200px;
	float: left;
	border: 1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.jcarousel img {
	display: block;
	max-width: 100%;
	height: auto !important;
}

.jcarousel-control-prev,.jcarousel-control-next {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	text-align: center;
	background: #1b1d2a;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 0 1px #000;
	font-size: 14px;
	line-height: 30px;
}

.jcarousel-control-prev {
	left: 15px;
}

.jcarousel-control-next {
	right: 15px;
}

.jcarousel-pagination {
	position: absolute;
	bottom: -40px;
	left: 50%;
	margin: 0;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.jcarousel-pagination a {
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-right: 7px;
	font-size: 11px;
	line-height: 10px;
	text-decoration: none;
	background: #fff;
	color: #4e443c;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	text-indent: -9999px;
	-webkit-box-shadow: 0 0 2px #4e443c;
	-moz-box-shadow: 0 0 2px #4e443c;
	-ms-box-shadow: 0 0 2px #4e443c;
	-o-box-shadow: 0 0 2px #4e443c;
	box-shadow: 0 0 2px #4e443c;
}

.jcarousel-pagination a.active {
	background: #ff9638;
	color: #fff;
	opacity: 1;
	-webkit-box-shadow: 0 0 0 1px #6f9a37;
	-moz-box-shadow: 0 0 0 1px #6f9a37;
	-ms-box-shadow: 0 0 0 1px #6f9a37;
	-o-box-shadow: 0 0 0 1px #6f9a37;
	box-shadow: 0 0 0 1px #6f9a37;
}

#slider-recipe.carousel {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
		inset;
}

/* 
=================================
          12. Footer
=================================
*/

.footer .footer-content {
	background: #363636;
	color: #fff;
	padding: 60px 0;
	padding-bottom: 30px;
	font-size: 14px;
    font-style: normal;
}

.footer .footer-content .widget {
    padding-bottom: 15px;
}

.footer .footer-content a, .footer .footer-content span {
	color: #999;
	font-size: 15px;
}

.footer .footer-content a:hover {
	color: #f9bf3b;
}

.footer .footer-content .sub-title {
	color: rgba(255, 255, 255, 0.9);
	letter-spacing: 1px;
	font-weight: 400;
	position: relative;
	padding-bottom: 20px;
	font-size: 16px;
	margin-bottom: 30px;
	margin-top: 0px;
	text-transform: uppercase;
    font-style: normal;
}

.footer .footer-content .sub-title:before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.15);
	position: absolute;
	bottom: 0;
	left: 0;
}

.footer .footer-content .sub-title:after {
	content: '';
	width: 80px;
	height: 3px;
	left: 0;
	bottom: -1px;
	position: absolute;
	background-color: #ff9638;
}
.footer .footer-content ul {
	padding-left: 0;
    list-style: none;
}
.footer .footer-content .links-col li {
	margin-bottom: 10px;
}

.footer .footer-content li:before {
	content: '\f10c';
	font-family: 'FontAwesome';
	padding-right: 10px;
	color: #999;
}
.footer .footer-content .meta li:before {
    content: none;
}
.footer .footer-content li i {
	margin-right: 10px;
	color: #777;
}

.footer .footer-content .contact-col p:last-child {
	border-bottom: none;
}

.footer .footer-content .contact-col p {
	margin-bottom: 10px;
	border-bottom: 1px solid #444;
	padding-bottom: 15px;
}

.footer .footer-content .contact-col p i {
	margin-right: 10px;
	color: #777;
}

.footer .footer-content .blog-col .item {
	margin-bottom: 30px;
	position: relative;
	padding-left: 75px;
	padding-right: 30px;
}

.footer .footer-content .blog-col .item .post-title {
	font-size: 14px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
}

.footer .footer-content .blog-col .item .post-title a {
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	color: #ccc;
}

.footer .footer-content .blog-col .item .figure {
	position: absolute;
	left: 0;
	top: 0;
	width: 60px;
	height: 60px;
}

.footer .footer-content .blog-col .item .figure img {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	margin: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.footer .footer-content .blog-col .item .post-content {
	margin-bottom: 5px;
	color: #999;
}

.footer .footer-content .item .meta {
	color: rgba(255, 255, 255, 0.3);
	font-weight: 300;
}

.footer .footer-content .item .meta span {
	color: #999;
	font-style: italic;
	font-size: 13px;
	font-family: 'Lora', serif;
}

.footer .footer-content .tagcloud {
	display: inline-block;
}

.footer .footer-content .tagcloud a {
	color: #bbb;
	background: #333;
	border: none;
	display: block;
	float: left;
	line-height: 1;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 10px 12px;
	font-weight: 300;
    font-size: 15px !important;
}

.footer .footer-content .tagcloud a:hover {
	background: rgba(255, 255, 255, 0.15);
	color: #fff;
	text-decoration: none;
}
.footer .footer-content select, 
.footer .footer-content input[type=text],
.footer .footer-content input[type=search],
.footer .footer-content input[type=email] {
    width: 100%;
    background: #545454;
    border-color: #363636;
    margin-bottom: 25px;
    border-radius: 4px;
    color: #eee;
}
.footer .bottom-bar {
	background: #222;
	color: #fff;
	padding: 15px;
	text-align: center;
}

.footer .bottom-bar .copyright {
	display: block;
	font-size: 13px;
}

.footer .bottom-bar .copyright a {
	color: rgba(255, 255, 255, 0.5);
}

.footer .bottom-bar .copyright a:hover {
	color: rgba(255, 255, 255, 0.5);
}

.footer .social-icons {
	margin: 0 auto;
}

.footer .social-icons li {
	margin-bottom: 15px;
}
.footer #wp-calendar tbody td {
    background: #363636;
    border: 1px solid #404040;
}
.footer #wp-calendar tbody td:hover {
    background: #363636;
}
.social-icons {
	list-style: none;
	padding: 10px 0;
	margin: 0 auto;
	display: inline-block;
}

.social-icons li {
	display: inline-block;
	margin: 0 !important;
    padding: 0 3px;
}

.social-icons li.last {
	margin-right: 0;
}

.social-icons a {
	display: inline-block;
	background: #555;
	width: 36px;
	height: 36px;
	text-align: center;
	padding-top: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	font-size: 16px;
	float: left;
}

.social-icons a:hover {
	background: #333;
}

.social-icons a:hover .fa {
	color: #fff;
}

.social-icons a .fa {
	color: #222;
}

.social-icons a .fa:before {
	font-size: 18px;
	text-align: center;
	padding: 0;
}

/* 
=================================
         13. Copyright
=================================
*/
.copyright {
	position: relative;
	padding: 30px 0;
	border-top: 1px solid #333;
}

.copyright .scroltop {
	position: absolute;
	right: 0;
	top: 35px;
}

.avatar img {
	border-radius: 50%;
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#latest-news .avatar img {
	margin-bottom: 0;
}

.user-ratings .rating-title,.author-ratings .rating-title {
	font-size: 10px;
	line-height: 10px;
	display: block;
}

.user-ratings .fa-star,.user-ratings .fa-star-half-o {
	color: #ff9638;
}

.item-img-box:hover .hover-button,.item-img-box-list:hover .hover-button
	{
	opacity: 1;
	visibility: visible;
	margin-bottom: 0;
	top: 50%;
	left: 50%;
}

.hover-button {
	background-color: rgba(255, 150, 56, 0.82);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px;
	width: 100px;
	text-align: center;
	opacity: 0;
	display: inline-block;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 13px;
}

.hover-button:hover {
	background-color: #ff9638;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.hover-button {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.item-img-box img {
	width: 100%;
	position: relative;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* 
=================================
       14. Author Details
=================================
*/

.author-details {
	position: relative;
	background-color: #fff;
	margin-bottom: 10px;
}

.author-details .title {
	margin-bottom: 0.5em;
}

.author-details .contact {
	font-size: 0.9em;
	color: #999;
	line-height: 2;
}

.author-details .contact i {
	display: inline-block;
	width: 20px;
	margin-right: 5px;
}

/* 
=================================
         15. Thumb
=================================
*/
.thumb {
	display: block;
	position: relative;
	overflow: hidden;
	background: #23140c;
	text-align: center;
	-webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
	color: #fff;
	margin-bottom: 30px;
}

.thumb:after {
	border: 1px solid rgba(255, 255, 255, 0.5);
	bottom: 15px;
	content: '';
	display: block;
	left: 15px;
	position: absolute;
	right: 15px;
	top: 15px;
}

.thumb:hover {
	-webkit-box-shadow: 0px 0px 25px 3.6px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 0px 25px 3.6px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 0px 25px 3.6px rgba(0, 0, 0, 0.24);
	transition: box-shadow 0.2s ease-in-out;
}

.thumb img {
	width: 100%;
	height: auto;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
}

.thumb-overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 20px;
}

@media ( min-width : 1200px) {
	.thumb-overlay {
		padding: 30px 45px;
	}
}

@media ( min-width : 1200px) {
	.thumb_overlay_lg {
		padding: 20px 105px 60px;
	}
}

.thumb-heading {
	position: relative;
}

@media ( min-width : 768px) and (max-width: 991px) {
	.thumb-heading {
		font-size: 20px;
		line-height: 26px;
	}
}

.thumb-heading:before,.thumb-heading:after {
	content: "";
	display: block;
	height: 1px;
	width: 125px;
	background: rgba(255, 255, 255, 0.4);
	position: absolute;
	left: 50%;
	margin-left: -63px;
}

.thumb-heading:before {
	top: -25px;
}

.thumb-heading:after {
	bottom: -20px;
}

.thumb-heading a {
	color: #fff;
	font-size: 1.1em;
	line-height: 28px;
	font-style: italic;
	font-weight: 500;
	font-family: 'Lora', 'PT Serif', sans-serif;
	background: rgba(0, 0, 0, 0.45);
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	z-index: 100 !important;
}

.thumb-heading a:hover,.thumb-heading a:focus {
	color: #ff9638;
}

.thumb_text {
	position: relative;
	color: #ff3296;
}

.thumb_text:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0;
	height: 2px;
	content: "";
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.thumb_text:hover {
	color: #ff9638;
}

.thumb_text:hover:after {
	width: 100%;
}

.thumb .heading-box {
	border-color: #fff;
}

.thumb .btn-lines:before,.thumb .btn-lines:after {
	background: #fff;
}

.thumb .btn-primary {
	background: #fff;
	color: #aac000;
}

.thumb .btn-primary:hover {
	background: #aac000;
	color: #fff;
}

.thumb .btn-primary:active {
	background: #93a700;
}

.thumb:hover img {
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.inner {
	display: table;
	width: 100%;
}

.thumb-row {
	display: table-row;
}

.thumb-cell {
	display: table-cell;
}

.inner,.thumb-row,.thumb-cell {
	vertical-align: middle;
	height: 100%;
}

#header.page-heading a {
	color: #fff;
}

@media only screen and (min-width:1400px) {
	.single-title-wrap {
		width: 65%;
	}
}

/* 
=================================
    16. Single Page Heading
=================================
*/
.single-title-img {
	position: relative;
	height: 500px;
	overflow: hidden;
}

.single-title-img img {
	width: 100%;
}

.single-title-wrap {
	text-align: center;
	margin: auto;
	width: 75%;
	color: #fff;
	font-family: 'Lora', 'PT Serif', sans-serif;
	font-style: italic;
}

.single-title-meta {
	width: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #fff;
	margin-bottom: 15px;
}

.single-title-meta .tags {
    margin-left: 20px;
}

.single-title-wrap .breadcrumbs {
	margin: 20px auto 15px;
}

span.article-date {
	display: inline-block;
	margin-top: 10px;
	font-size: 14px;
	margin-right: 20px;
}

.single-title-ahr-wrap {
	padding: 0 15px 5px;
	background-color: rgba(0, 0, 0, 0.2);
	vertical-align: top;
}

.single-title-wrap h1 {
	font-size: 44px;
	font-weight: 400;
	font-style: italic;
}

.single-title-author-img,.single-title .rel-post figure {
	border-radius: 50%;
	width: 90px;
	height: 90px;
	overflow: hidden;
	margin: auto;
}

.single-title-author-img {
	width: 80px;
	height: 80px;
}

.cook-name,.authr-share h4 {
	margin: 5px 0 5px;
	font-weight: 400;
}

.cook-name a {
	background-color: rgba(0, 0, 0, 0.5);
}


/* 
=================================
         17. Comments
=================================
*/
.comment-list {
    padding-left: 40px;
}

#comments {
	border-top: 1px solid #ebebeb;
	margin-top: 40px;
}

#comments .comments-title {
	font-size: 1.65em;
	margin-top: 30px;
	color: #555;
}

#comments .children {
	padding-left: 50px;
}

#comments .children .comment {
	border: none;
	padding-top: 0;
}

#comments ol li {
	border-top: 1px solid #ebebeb;
	padding-top: 30px;
	margin: 30px 0;
    list-style: none;
}

#comments ol li:first-child {
	border-top: none;
	padding-top: 0;
}

#comments .comment-avatar {
	width: 96px;
	height: 96px;
	float: left;
	margin-right: 15px;
	border-radius: 50%;
	overflow: hidden;
}

#comments .comment-body {
	overflow: hidden;
}

#comments .comment-author {
	font-weight: 700;
}

#comments #respond {
	margin: 30px 0;
}

#comments .comments-closed {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #CCC;
}

#comments .reply {
	display: inline-block;
	margin-top: 10px;
}

#comments #respond #cancel-comment-reply-link {
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
	border: none;
	font-size: 1.1rem;
	font-weight: 400;
	padding: 6px 8px;
	border-radius: 3px;
	color: #333;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
}

#comments #respond #cancel-comment-reply-link:hover {
	background: #000;
}

#comments #respond #reply-title {
	font-size: 1.650em;
	color: #555;
}

#comments #respond #reply-title small {
	display: inline-flex;
	line-height: inherit;
	vertical-align: middle;
}

#comments #respond label {
	display: inline-block;
	width: 100px;
}

#comments #respond .star-cb-group label {
	display: inline-block;
	width: 20px;
}

#comments #respond input[type=text],#comments #respond input[type=email],#comments #respond input[type=url]
	{
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 10px;
	width: 300px;
}

#comments #respond textarea {
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 7px;
	width: 100%;
}

#comments #respond .submit,.recipe-form .submit,.contact-form .submit,.contact-form .wpcf7-submit
	{
	-webkit-appearance: none;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	padding: 10px 20px;
	background: #ff9638;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', 'Lora', 'PT Serif', serif;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
	-webkit-box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
}

#comments #respond .submit:hover {
	background: #000;
}

#comments #respond .comment-notes {
	display: none;
}

#comments #respond .comment-form-author,#comments #respond .comment-form-email,#comments #respond .comment-form-url,#comments #respond .comment-form-comment
	{
	margin: 15px 0;
}

#comments #respond .comment-form-comment label {
	display: none;
}

/* comment-body */
.comment-body h1,.comment-body h2,.comment-body h3,.comment-body h4,.comment-body h5,.comment-body h6
	{
	text-transform: none;
	margin-bottom: 1rem;
}

.comment-body h1 {
	font-size: 2.874rem;
}

.comment-body h2 {
	font-size: 2.528rem;
}

.comment-body h3 {
	font-size: 2.24rem;
}

.comment-body h4 {
	font-size: 2rem;
}

.comment-body h5 {
	font-size: 1.8rem;
}

.comment-body h6 {
	font-size: 1.633rem;
}

.comment-body p {
	margin-bottom: 20px;
}

.comment-body a:hover {
	color: #dd4126;
}

.comment-body .btn {
	color: #FFF;
	border-bottom: 0;
}

.comment-body .btn:hover {
	color: #FFF;
}

.comment-body ul,.comment-body ol {
	padding-left: 20px;
	margin-bottom: 20px;
}

.comment-body ul ul,.comment-body ol ol {
	margin-bottom: 0;
}

.comment-body ul {
	list-style: disc;
}

.comment-body ol {
	list-style: decimal;
}

.comment-body li {
	margin: 0 0 5px;
}

.comment-body ul li,.comment-body ol li {
    border-top: none !important;
    padding-top: 0 !important;
    margin: 0 !important;
    list-style: inherit !important;
}

.comment-body img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

.comment-body blockquote,.comment-body q {
	font-size: 1.25rem;
	line-height: 1.35;
	font-style: italic;
	padding-left: 20px;
	border-left: 5px solid #dd4126;
	color: #777;
	margin: 20px 0;
}

.comment-body blockquote cite,.comment-body q cite {
	font-size: 1.15rem;
	display: block;
	margin-top: 20px;
}

.comment-body table {
	width: 100%;
	margin-bottom: 1rem;
}

.comment-body table thead {
	background: #ff9638;
	border-bottom: 2px solid #DD8435;
	color: #fff;
	text-transform: uppercase;
	vertical-align: middle;
	font-weight: bold;
}

.comment-body dl {
	margin-bottom: 1rem;
}

.comment-body dt {
	font-weight: bold;
	text-decoration: underline;
}

.comment-body dd {
	margin: 0;
	padding: 0 0 1rem 0;
}

.comment-body pre {
	overflow: auto;
	border: 1px solid #CCC;
	font-size: 0.813em;
	margin-bottom: 1rem;
	padding: 1rem;
}

.comment-body .page-links:after {
	content: "";
	display: table;
	clear: both;
}

.comment-body .page-links a {
	line-height: 28px;
	height: 28px;
	width: 28px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background: #333;
	float: left;
	border: none;
	border-radius: 3px;
}

.comment-body .page-links .page-link-item {
	color: #F6F6F6;
	font-size: 0.750em;
	line-height: 28px;
	height: 28px;
	width: 28px;
	display: inline-block;
	border-radius: 5px;
	float: left;
	text-align: center;
	text-decoration: none;
}

.comment-body .page-links>span.page-link-item {
	margin: 0 2px;
	background: #000;
}

.comment-body .page-links a {
	margin: 0 2px;
}

.comment-body .page-links a .page-link-item {
	background: #333;
}

.comment-body .wp-caption {
	margin: 20px 0;
}

.comment-body .wp-caption.alignnone {
	width: 100% !important;
	text-align: center;
}

.comment-body .wp-caption-text {
	padding: 5px;
	font-size: 0.813rem;
	margin-bottom: 0;
}

.comment-body .alignleft {
	float: left;
	margin: 20px 20px 20px 0;
}

.comment-body .alignright {
	float: right;
	margin: 20px 0 20px 20px;
}

.comment-body .aligncenter {
	margin: 20px auto 10px;
	text-align: center;
}

.comment-body .size-auto,.comment-body .size-full,.comment-body .size-large,.comment-body .size-medium,.comment-body .size-thumbnail
	{
	max-width: 100%;
	height: auto;
}

.comment-edit-link, .comment-reply-link {
	border-bottom: 1px solid #dd4126;
	border: none;
	background: #FF9638;
	font-size: 12px;
	line-height: 20px;
	color: #fff !important;
	text-transform: uppercase;
	font-weight: 700;
	padding: 5px 20px;
	display: inline-block;
	transition: all .5s ease !important;
	vertical-align: top;
	position: relative;
	border-bottom: 3px solid #DA8131 !important;
	outline: none;
	border-radius: 3px;
    margin-bottom: 10px;
}

.comment-body a:active {
	border: none;
	top: 3px;
	color: #fff;
}
.comment-reply-link:before {
	content: '\f112';
	font-family: 'FontAwesome';
	position: relative;
	right: 10px;
}
.comment-edit-link:before {
	content: '\f040';
	font-family: 'FontAwesome';
	position: relative;
	right: 10px;
}


/* 
=================================
        18. Search Box
=================================
*/
.search-box {
	background-color: #ffffff;
	position: relative;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 30px;
	padding-bottom: 55px;
	margin-top: -125px;
	z-index: 100;
	-webkit-box-shadow: 0px 5px 55px 3.6px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0px 5px 55px 3.6px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 5px 55px 3.6px rgba(0, 0, 0, 0.1);
}

.search-box .button-group {
	background-color: #f7f7f7;
	margin: -60px -30px;
	margin-top: 20px;
	padding: 15px 30px;
}

.search-box .action-buttons {
	text-align: right;
}

.quick-search .button-group {
	background-color: #f7f7f7;
	margin: -25px -40px;
	margin-top: 20px;
	padding: 15px 30px;
}

.quick-search .container {
	position: relative;
	z-index: 1;
	background-color: #fff;
	padding: 30px 30px 20px;
	box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .07);
	-webkit-transform: translateY(84px);
	transform: translateY(84px);
}

.quick-search .button-group .action-buttons {
	float: right;
	line-height: 12px;
}

.quick-search .button-group:after {
	display: table;
	content: '';
	clear: both;
}

.quick-search .button-group .action-buttons .btn-success {
	margin-right: 10px
}

select.input-lg {
	height: 46px;
	line-height: 24px;
}


/* 
=================================
        19. Recipe Form
=================================
*/
.recipe-form .header h2 {
	font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: 800;
}

.recipe-form .content p,.recipe-form .header p,.recipe-form .content text,.recipe-form .content .input-lg,.form-horizontal .form-group-lg .form-control
	{
	font-family: 'Lora', 'PT Serif', serif;
}

.recipe-form .content .input-lg,.form-horizontal .form-group-lg .form-control
	{
	font-size: 16px;
}

.recipe-form label {
	font-weight: 700;
	color: #ff9638;
	text-transform: uppercase;
	font-family: 'Lora', 'PT Serif', serif;
}

.recipe-form .description {
	font-size: 13px;
	font-size: 1.3rem;
	color: rgba(0, 0, 0, 0.5);
	margin-top: 3px;
}

.recipe-form .upload {
	position: relative;
}

.recipe-form .upload a {
	position: absolute;
	height: 100%;
	line-height: 36px;
	width: auto;
	right: 0;
	top: 0;
	border: none;
	background: #EFEFEF;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size: 12px;
}

.recipe-form .upload a:hover {
	background: #eee;
}


#recipe-form #wp-description-editor-container,#recipe-form fieldset.content table
	{
	padding: 0;
	margin: 0;
	border: 1px solid #e0e0e0;
}

.add-more {
	background: #ff9638 !important;
	font-weight: 600 !important;
	float: right;
	border-radius: 3px;
	padding: 7px 20px;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
}

.recipe-form .error {
	font-weight: 600;
	font-family: 'Open Sans', 'Raleway', sans-serif;
	font-size: 0.9em;
	color: red;
	letter-spacing: 0.5px;
	display: block;
	text-transform: uppercase;
}

#ingredients,#method_steps {
	margin-top: 10px;
}

div.upload {
	background-color: #fcfcfc;
	border: 1px solid #dfe5e7;
	height: 44px;
	display: inline-block;
	height: 44px;
	line-height: 44px;
	position: relative;
	width: 100%;
}

div.upload:hover {
	opacity: 0.95;
}

div.upload input[type="file"] {
	display: input-block;
	width: 100%;
	height: 30px;
	opacity: 0;
	cursor: pointer;
	position: absolute;
	left: 0;
}

div.upload .button {
	margin: 0px 2px;
	float: right;
	height: 30px;
}

.uploadButton,.deleteButton {
	background-color: #ff9638;
	border: none;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	width: auto;
	padding: 0 20px;
	box-sizing: content-box;
	font-family: 'Open Sans', "Raleway", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.uploadButton {
	float: right;
	margin-right: -1px;
	margin-top: -1px;
}

.deleteButton {
	float: right;
	line-height: 30px;
}

.filename {
	font-size: 16px;
	font-family: 'Lora', 'PT Serif', serif;
	font-style: italic;
	-webkit-user-select: none;
	text-overflow: ellipsis;
	display: block;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	float: left;
	text-align: right;
	cursor: default;
	height: 44px;
	line-height: 44px;
	padding: 0 10px;
	color: #818a91;
	max-width: 80%;
	text-align: left;
}

.upload+.uploadButton {
	height: 38px;
}

table {
	border-spacing: 0;
	width: 100%;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background: #f9f9f9;
	border-collapse: separate;
}

table td,table th {
	text-align: center;
    padding: 5px;
}

table td p:last-child,table th p:last-child {
	margin-bottom: 0;
}

table thead th {
	background: #ff9638;
	border-bottom: 2px solid #DD8435;
	color: #fff;
	text-transform: uppercase;
	vertical-align: middle;
	font-weight: bold;
}

table thead th:first-child {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

table thead th:last-child {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

table tr th:last-child,table tr td:last-child {
	border-right: 0;
}

table tbody {
	background: #fff;
}

table tbody th {
	background: #fff;
}

table tbody h2 {
	font-size: 1em;
	letter-spacing: normal;
	font-weight: normal;
}

table tbody h2 a {
	font-weight: normal;
}

table tbody h4 {
	letter-spacing: normal;
	font-weight: 500;
	font-style: italic;
	color: #848484;
}

table tbody tr:last-child td:first-child {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

table tbody tr:last-child td:last-child {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

table tbody tr:last-child td {
	border-bottom: 0;
}

table tfoot th,table tfoot td {
	border-right: 1px solid #f39643;
}

table tfoot tr {
	background: #ff9638;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	font-weight: bold;
}

table tfoot tr a {
	color: #fff;
}

table tfoot tr a:hover {
	color: #fff;
}

table td.small {
	font-size: 13px;
	color: #999;
}

.table-scroll {
	overflow-x: auto;
	overflow-y: auto;
	height: 100%;
}

table tbody tr:nth-child(odd) {
	background-color: #fff;
}

table tbody tr:nth-child(even) {
	background-color: #f8f8f8;
}

.recipe-form .btn-success,.recipe-form .btn-warning {
	display: inline-block;
	padding: .382em 1.387em;
	line-height: 1.618em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap;
    margin-bottom: 5px;
}

.recipe-form table td, .recipe-form table th {
	padding: .857em 1.387em;
	text-align: left;
	vertical-align: top;
}

/* 
=================================
       20. User Navigation
=================================
*/
.user-navigation {
	position: relative;
	background: #f7f7f7;
	margin-bottom: 30px !important;
	border-bottom: 2px solid #ddd;
}

.user-navigation .author-content {
	padding: 10px 10px 0 0;
	font-style: italic;
	font-family: Lora;
}

.user-navigation h4 small {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-style: italic;
	width: 100%
}

.user-navigation .social-icons {
	margin-bottom: 0;
	border-top: 4px double #E5E5E5;
	border-bottom: 4px double #E5E5E5;
}

.user-navigation .social-icons a {
	background: #ddd;
}

.user-navigation .social-icons a:hover {
	background: #ff9638;
}

.user-navigation .social-icons a:hover .fa {
	color: #fff;
}

.user-navigation .social-icons a .fa {
	color: #fff;
}

.user-nav-sidebar {
	text-align: center;
}

.user-nav-sidebar h4 {
	margin: 20px 0px;
}

.user-avatar {
	text-align: center;
	display: block;
	background-position: center;
	padding: 30px 0px;
}

.user-avatar ul {
	margin: 0px;
}

.user-avatar img {
	display: inline-block;
	border-radius: 50%;
}

.user-avatar.has-cover .share:before,.user-avatar.has-cover .share:after,.user-avatar.has-cover .share
	{
	color: #fff;
	border-color: #fff;
}

.user-nav-menu {
	margin: 0px;
}

.user-nav-menu li {
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #eee;
}

.user-nav-menu li.active,.user-nav-menu li:hover {
	background: rgba(150, 150, 150, 0.07);
}

.user-nav-menu li:hover:not (.active ) {
	border-left: none;
}

.user-nav-menu li.active a,.user-nav-menu li:hover a {
	color: #ff9638;
}

.user-nav-menu a .right-value {
	float: right;
}

.user-nav-menu li:last-child {
	border: none;
}

.user-nav-menu li a {
	display: block;
	padding: 10px 20px 10px 20px;
}

.user-nav-menu .fa {
	margin-right: 10px;
}


/* 
=================================
       21. Popular Post
=================================
*/
.popular-post .img-cap-effect .img-box .img-caption:before {
	border-width: 2px;
}

.popular-post li {
	margin-bottom: 20px;
}

.popular-post li:last-child {
	margin-bottom: 0;
}

.popular-post .img-box,.popular-post .content {
	display: table-cell;
	vertical-align: top;
}

.popular-post .img-box img {
	width: 50px;
	height: 50px;
}

.popular-post .content {
	padding-left: 15px;
}

.popular-post .content a h4 {
	font-family: 'Lora', 'PT Serif', sans-serif;
	font-size: 1.1em;
	font-style: italic;
	font-weight: 500;
	line-height: 20px;
	margin: 0;
	padding: 0;
	transition: all .3s ease;
}

.popular-post .content a h4:hover {
	color: #ff9638;
}

.popular-post .content span {
	color: #999999;
	font-size: 13px;
	display: block;
}

.popular-post .content span i {
	font-size: 14px;
	color: #AEAEAE;
	position: relative;
}

/* 
=================================
       22. Ingredients
=================================
*/
.ingredients-list {
	background: #F9F9F9;
	padding: 30px;
	border-top: 1px solid #ff9638;
}

.ingredients-list ul.ingredient-check li {
	display: block;
	margin-right: 0;
}

.ingredients-list ul.ingredient-check li:last-child {
	margin-bottom: 0;
}

ul.ingredient-check {
	margin-left: -30px;
}

ul.ingredient-check li {
	display: inline-block;
	color: #898989;
	font-size: 14px;
	line-height: 18px;
	margin-right: 25px;
	cursor: pointer;
	font-weight: normal;
	border: 1px solid transparent;
	padding: 0px 0px 0 0;
	margin-bottom: 20px;
}

ul.ingredient-check li.active {
	color: #ff9638;
	text-decoration: line-through;
}

ul.ingredient-check li.active span {
	border: 1px solid #E2E2E2;
	background: #ff9638;
}

ul.ingredient-check li.active span:before {
	color: #fff;
}

ul.ingredient-check li span {
	width: 18px;
	height: 18px;
	background: #fff;
	border: 1px solid #E2E2E2;
	margin-right: 18px;
	display: inline-block;
	vertical-align: bottom;
}

ul.ingredient-check li span:before {
	content: '\f14a';
	font-family: 'FontAwesome';
	font-size: 23px;
	color: transparent;
	position: relative;
	top: -1px;
	right: 2px;
}

ul.ingredient-check li span input[type='checkbox'] {
	display: none;
}

ul li.nutrition {
    text-align: left;
}

/* 
=================================
        23. Instructions
=================================
*/
.instructions ol {
	list-style-type: none;
	list-style-type: decimal!ie;
	margin: 15px 0 0 34px;
	padding: 0;
	counter-reset: li-counter;
}

.instructions ol>li {
	position: relative;
	margin-bottom: 15px;
	padding: 8px 14px;
	line-height: 24px;
}

.instructions ol>li:last-child {
	margin-bottom: 35px;
}

.instructions ol>li:before {
	position: absolute;
	top: 3px;
	left: -34px;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 32px;
	color: #999;
	font-weight: 700;
	font-size: 16px;
	background-color: #f4f4f4;
	content: counter(li-counter);
	counter-increment: li-counter;
	cursor: default;
}

/* 
=================================
        24. Recipe Meta
=================================
*/
.author-data {
	display: none;
}

.recipe-meta {
	background-color: #f7f7f7;
	padding: 20px;
    min-height: 85px;
	margin-bottom: 30px;
	position: relative;
	background: #fff;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
		inset;	
}
.recipe-meta .button-box {
    display: inline-flex;
}
.recipe-meta ul {
    padding: 0;
    float: left;
    display: block;
}

.recipe-meta ul li {
	display: inline;
	float: left;
	margin-right: 21px;
	padding-right: 21px;
	border-right: 1px solid #d8d8d8;
	font-family: 'Lora', 'PT Serif', serif;
	font-style: italic;
}

.recipe-meta ul li:last-child {
	border: none;
	margin-right: 0px;
}

.recipe-meta ul li strong {
	display: block;
}

.recipe-meta a,.recipe-meta button, .recipe-footer a,.recipe-footer button {
	margin-left: 5px;
	border: 0;
	background-color: #808080;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 5px 10px;
	display: inline-block;
	float: right;
	margin-top: 1px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.recipe-footer {
    display: table;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
}
/* Print Button */
a.print {
	background-color: #808080;
}

a.email {
	background-color: #ff9638;
}
a.share {
	background-color: #ff7838;
}
a.allergen {
	background-color: #ff9638;
}
.recipe-meta button {
	background-color: #C6713F;
}

a.print:hover {
	background-color: #555;
}

a.print i {
	font-size: 14px;
	margin-right: 2px;
}

.foldtl {
	position: relative;
}

.foldtl:before {
	content: "";
	position: absolute;
	top: 0%;
	left: 0%;
	width: 0px;
	height: 0px;
	border-bottom: 70px solid #eee;
	border-left: 70px solid transparent;
	-webkit-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.foldtl:after {
	content: "";
	position: absolute;
	top: 0%;
	left: 0%;
	width: 0px;
	height: 0px;
	border-top: 69px solid #272822;
	border-right: 69px solid transparent;
}

/* 
=================================
      25. Recipe Categories
=================================
*/

.recipe_categories a {
	display: block;
	position: relative;
	font-style: italic;
	color: white;
	overflow: hidden;
	-webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.recipe_categories a:focus *,.recipe_categories a:active *,.recipe_categories a:hover *
	{
	color: white;
}

.recipe_categories a:focus:before,.recipe_categories a:active:before,.recipe_categories a:hover:before
	{
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0)
}

.recipe_categories a:focus:after,.recipe_categories a:active:after,.recipe_categories a:hover:after
	{
	opacity: 0;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%)
}

.recipe_categories a:focus h4,.recipe_categories a:active h4,.recipe_categories a:hover h4
	{
	text-decoration: underline;
	-webkit-animation: categoriesTitlesAnim 400ms;
	animation: categoriesTitlesAnim 400ms
}

.recipe_categories a:focus h6,.recipe_categories a:active h6,.recipe_categories a:hover h6
	{
	-webkit-animation: categoriesTitlesAnim 400ms 100ms;
	animation: categoriesTitlesAnim 400ms 100ms
}

.recipe_categories a:before {
	content: '';
	position: absolute;
	display: inline-block;
	height: 50%;
	width: 100%;
	bottom: 0;
	left: 0;
	background: linear-gradient(to top, #FF9638, transparent);
	opacity: 0;
	transition: 0.25s;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%)
}

.recipe_categories a:after {
	content: '';
	position: absolute;
	display: inline-block;
	height: 50%;
	width: 100%;
	bottom: 0;
	left: 0;
	background: linear-gradient(to top, #1a1a26, transparent);
	opacity: 1;
	transition: 0.25s
}

.recipe_categories a img {
	width: 100%
}

.recipe_categories a .article-content {
	position: absolute;
	display: inline-block;
	bottom: 35px;
	left: 50%;
	width: 100%;
	text-align: center;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 2
}

@media ( max-width : 480px) {
	.recipe_categories a .article-content .articles .article-content {
		margin: 0
	}
}

.recipe_categories a .article-content h4 {
	font-weight: 400;
	font-size: 1.65em;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	text-decoration: none;
	transition: all 0.7s ease;
	border-bottom: 1px solid rgba(255, 255, 255, 0.498039);
	padding: 10px;
}

.recipe_categories a .article-content h6 {
	font-weight: normal;
	margin: 0;
	font-size: 14px;
}

.recipe_categories .tm-grid-2x2-widget .grid-wrap>div {
	margin: 0 0 30px
}




.item-text .item-cat {
	display: inline-block;
	position: relative;
	letter-spacing: 2px;
	color: #bbb;
	font-size: .857em;
	width: 100%;
    padding-top: 10px;
}

.item-text .item-cat a {
	display: inline-block;
	color: #ff9638;
	letter-spacing: 1px;
	text-decoration: none;
	line-height: normal;
	padding: 5px 8px;
	border: 1px solid #F3BC8B;
    margin-bottom: 5px;
    font-family: Lora;
    font-style: italic;
    background: #fffbf7;
}

@media ( min-width : 768px) {
	.modal-dialog {
		margin: 10% auto;
	}
}

.noarticle {
	text-align: center;
    margin: 0;
}


/* 
=================================
       26. Post Navigation
=================================
*/
.post-navigation {
	clear: both;
	font-family: 'Lora', 'Open Sans', 'PT Serif', sans-serif;
	font-size: 15px;
	padding-top: 20px;
}

.post-navigation .alignleft {
	float: left;
	margin-right: 0;
}

.post-navigation .alignright {
	float: right;
	margin-left: 0;
}

.post-navigation .post-nav-links {
	float: left;
	position: relative;
	width: 50%;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
	background: #f7f7f7;
}

.post-navigation .post-nav-links:hover {
	background: #F2F2F2
}

.post-navigation .post-nav-links  span {
	display: block;
	color: #7E7E7E;
	font-weight: 600;
}

.post-navigation  a {
	line-height: 26px;
}

.post-navigation  a:hover {
	color: #ff9638;
	text-decoration: none;
}

.post-navigation .prev-link,.post-navigation .next-link {
	overflow: hidden;
	padding: 20px 20px 20px 55px;
	position: relative;
	z-index: 10
}

.post-navigation .next-link {
	padding: 20px 55px 20px 20px;
	border-bottom: 2px solid #ddd;
}

.post-navigation .prev-link {
	border-right: 1px solid rgba(0, 0, 0, 0.11);
	border-bottom: 2px solid #ddd;
}

.post-navigation .next-link:before,.post-navigation .prev-link:before {
	color: rgba(0, 0, 0, 0.2);
	font-family: 'FontAwesome';
	font-size: 40px;
	top: 35%;
	position: absolute
}

.post-navigation .next-link:before {
	content: "\f105";
	right: 10px;
}

.post-navigation .prev-link:before {
	content: "\f104";
	left: 10px;
}

.post-navigation .next-link-wrapper {
	float: right;
	text-align: right;
}


/* 
=================================
            27. 404
=================================
*/
.search_form label {
    display: block;
}

.page404 {
    text-align: center;
}

.page404 h2 {
    font-size: 27px;
    font-family: 'Lora', 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    padding-bottom: 20px;
}

.page404 .titleError {
    font-size: 150px;
    height: 150px;
    line-height: 150px;
    font-weight: 700;
    color: #ff9638;
}

.page404 p {
    font-weight: 400;
    color: #90919c;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    min-height: 68px;
}

.page404 .search_form {
    position: relative;
    margin: 0 auto 20px auto;
    width: 100%;
    max-width: 600px;
}

.page404 .search_form input[type=search] {
    background-color: #f5f5f5;
    background-image: url(./img/search.png);
    background-position: 97% 12px;
    background-repeat: no-repeat;
    border: 0 none;
    border-radius: 20px;
    color: #777;
    font-family: inherit;
    font-size: 16px;
    padding: 9px 45px 9px 15px;
    transition: all 0.7s ease 0s;
    width: 100%;
    font-weight: 400;
}

.page404 .search_form input[type=submit] {
    -webkit-appearance: none;
    display: none;
}


/* 
=================================
      28. Contact Info
=================================
*/
.contact-info .column {
	position: relative;
	min-height: 50px;
	margin-bottom: 25px;
	padding-left: 90px;
}

.contact-info .column.bl {
	border-left: 1px solid #E3E3E3;
}

.contact-info  .column .icon {
	position: absolute;
	left: 15px;
	top: 0px;
	width: 50px;
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	color: #ffffff;
	background: #FF9638;
	text-align: center;
	-webkit-box-shadow: rgba(50, 50, 50, 0.11) 0 5px 2px 0;
	-khtml-box-shadow: rgba(50, 50, 50, 0.11) 0 5px 2px 0;
	-moz-box-shadow: rgba(50, 50, 50, 0.11) 0 5px 2px 0;
	-ms-box-shadow: rgba(50, 50, 50, 0.11) 0 5px 2px 0;
	-o-box-shadow: rgba(50, 50, 50, 0.11) 0 5px 2px 0;
	box-shadow: rgba(50, 50, 50, 0.11) 0 5px 2px 0;
}

.contact-info .column h3 {
	font-size: 1.2em;
	text-transform: uppercase;
	padding-bottom: 5px;
	font-style: italic;
	font-weight: 700;
	margin: 0;
}

.contact-info .column p {
	font-size: 15px;
	font-family: Lora;
	font-style: italic;
}

.contact-form {
	padding: 30px;
	background: #f7f7f7;
	border-top: 2px solid #eee;
}

.contact-form h2 {
	margin-bottom: 30px;
}

.contact-form input,.contact-form textarea,.contact-form input[type="email"]
	{
	background: #fff;
}

.contact-form div.wpcf7-validation-errors {
	border: none;
	display: inline-block !important;
	text-align: center;
	width: 100%;
	font-family: 'Lora', 'PT Serif', sans-serif;
	font-style: italic;
}

.contact-form span.wpcf7-not-valid-tip {
	font-size: 0.9em;
	font-family: 'Lora', 'PT Serif', sans-serif;
	font-style: italic;
}


/* 
=================================
      29. Social Popup
=================================
*/
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 1070 !important;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 170px auto;
	background: #fff;
	width: 35%;
	position: relative;
	transition: all 5s ease-in-out;
	z-index: 1080 !important;
}

.popup h2 {
	font-family: 'PT Serif', sans-serif;
	color: #ff9638;
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #eee;
	padding: 20px;
    line-height: 20px;
    font-style: normal;
    font-weight: 600;
    background: #f7f7f7;
    margin-bottom: 10px;
}

.popup .close-popup {
	position: absolute;
	top: 15px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #aaa;
}

.popup .close-popup:hover {
	color: #333;
}

.popup .content {
	max-height: 40%;
	overflow: auto;
	padding: 5px;
}

.popup .content p,.popup .content div {
	text-align: center;
}

.popup .content p {
	font-style: italic;
	font-size: 18px;
	font-family: Lora, 'PT Serif', sans-serif;
}

.popup .social-icons a {
	background: #ddd;
}

.popup .social-icons a:hover {
	background: #ff9638;
}

.popup .social-icons a:hover .fa {
	color: #fff;
}

.popup .social-icons a .fa {
	color: #fff;
}

/* 
=================================
      30. WordPress Styles
=================================
*/
.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}

blockquote.alignleft {
	margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
	margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
	margin-bottom: 1.473684211em;
}
.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption .wp-caption-text {
	color: #686868;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}


/** Galleries */

.gallery {
	margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


/* calendar widget */
.widget_calendar {margin-bottom: 20px}
#wp-calendar {width: 100%; font-family: 'Lora', 'PT Serif', serif; font-style: italic; }
#wp-calendar caption { cursor: pointer; font-size: 16px; margin: 0; padding: 8px; outline: 0 none !important; background: #ffd8b4; color: #d4955d; font-weight: 600; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #fff; border: 1px solid #f1f1f1; text-align: center; padding:2px; font-size:12px}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; }

.tagcloud a {
    background: #f1f1f1;
    color: #888;
    display: inline-block;
    margin: 0 4px 8px 0;
    padding: 2px 10px;
    font-size: 10px;
}
 
.tagcloud h3 {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: #FF00FF;
    font-family: Comic Sans;
}
.sticky-tag {
    opacity: 0.8;
    text-transform: uppercase;
    margin: 0 0 15px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    line-height: 1.3em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    background-color: #ff0000;
}
dd {
    margin: 0 0 1.75em;
}