.theme-logo{
    width:100%;
    float:left;
    height: 110px;
}

.theme-logo img{
    margin:28px 0px 0px 20px;
}


.tab-wrapper-container{
    float:left;
    z-index: 10;
    background-color: #2daae1;
    color: #fff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-left: 50px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);      
}

.tab-wrapper{
    width:200px;
    height:100%;
    float:left;
}


.tab-item{
    width:100%;
    padding: 0px; 
    float:left;
    font-size: 14px;
    font-family: 'Arial';
    font-style: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;    
    z-index: 100;
    position: relative;
    border-bottom: 1px solid #66BFD3; 
    cursor:pointer;
}

.tab-item:hover{
    background-color: #E6F3F5;
    border-right:none;
}

.tab-item:hover a{
     color:#13A1B3;
}


.tab-item a{
    text-decoration: none;
    color: #fff;
    line-height: 22px;
    padding: 13px 0px 5px 15px;
    width: 185px;
    float: left;
    min-height: 30px;    
}

.tab-item a i{
    width: 24px;
}

.tab-active{
   background-color: #FCFCFC;
    width: 101%;
}

.tab-active a{
    color:#13A1B3;
    border-left: 5px solid #3CF2F2;
    margin-left: -3px;
}

.tab-container{
    height:100%;
    min-height: 800px;
    width:690px;
    float:left;
    border-left:1px solid #ccc;
    background-color: #FCFCFC;
    z-index: 10;
    position: relative;
    padding-right: 20px
}


.tab-h1{
    color: #1a171b;
    font-size: 25px;
    font-weight: normal;
    margin: 37px 20px 20px 20px !important;
    border-bottom: 1px solid #ddd;
    line-height: 60px;    
}

.tab-container .form-table{
    margin-left: 20px;
    color: #1a171b!important;
}


.tabs { 
    display: block;
    width:700px;
    margin-top:30px;
    border:1px solid #CCC;
}

.tabs ul {
    margin: 0;
    padding: 0;
    height: 20px;
    border-bottom: 1px solid #CCC;
}

.tabs li {
    display: block;
    width:200px;
    padding: 0;
    margin: 0 10px 0 0;
    line-height: 30px;
    float: left;
    color: #999;
    cursor: default;
}

.tabs li a {
    display: block;
    width: auto;
    height: 29px;
    padding: 0 9px;
    line-height: 30px;
    border: 1px solid #CCC;
    margin: 0 -1px 0 0;
    color: #05390a;
    background: #5dbb73;
    text-decoration: none;
}

.tabs li a:hover {
    text-decoration: none;
}

.tabs li.active a {
    height: 30px;
    font-weight: bold;
    background: #ebffef;
    border-width: 1px 1px 0 1px;
}

.tabs div {
    display: none;
    padding: 20px 10px;
}

.tabs div.active {
    display: block;
}

.tabs li:last-child {
    margin-right: 0;
}


.form-table, .form-table td, .form-table th, .form-table td p, .form-wrap label{
    font-size: 13px;
    font-weight: normal;
}

textarea, input, select {
    font-size: 13px;
}

.tab-wrapper-container p{
    margin-left: 20px;
}

[class^="icon-"]:before, [class*=" icon-"]:before 
{
     padding-right: 2px;
}

table h2.section-title
{
  color: #1a171b;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
  margin: 0;
}