/*
Theme Name: Philadelphia
Theme URI: http://www.philadelphia.com
Author: Philadelphia
Version: 1.0
Copyright: (c) Philadelphia
*/


/*======== TABLE OF CONTENT ==========
1.  Global Style
2.  Top Bar
3.  Nav Bar
4.  Header
5.  Offer
6.  Content
7.  Pagination
8.  Sidebar
9.  Testimonial
10. Single Post
11. Carousel
12. Footer
13. Copyright
14. Author Details
15. Thumb
16. Single Page Heading
17. Comments
18. Search Box
19. Recipe Form
20. User Navigation
21. Popular Post
22. Ingredients
23. Instructions
24. Recipe Meta
25. Recipe Categories
26. Post Navigation
27. 404
28. Contact Info
29. Social Popup
30. WordPress Styles
31: philly-tips;

/*=================================*/

/* 
=================================
       1.  Global Style
=================================
*/
a:hover {
	text-decoration: none;
}
/* 
=================================
          2. Top Bar
=================================
*/

.en .top-nav-bar .social-media-links li span {
	display: none;
}
.en .top-nav-bar .top-nav-links .search-box input {
	border-radius: 15px !important;
}
#lang_sel_click ul li a.icl-en {
	display: none;
}
.en .top-nav-bar .top-nav-links .language-selector ul, .en .top-nav-bar .top-nav-links .language-selector ul li {
	margin-left: 0;
}
.en .top-nav-bar .top-nav-links .language-selector ul ul li {
	border-left: 1px solid #95a0aa;
	padding-left: 12px;
}

@media screen and (max-width: 640px) {
.en .mobile-search-bar-wrapper .search-box input {
	border-radius: 15px !important;
}
}
/* 
=================================
         3.  Nav Bar
=================================
*/
/********** CUSTOM MAIN MENU**************/


.en .main-nav-bar .main-nav-links li a {
	text-transform: uppercase;
}
.en .main-nav-bar .main-nav-links li a:hover, .en .main-nav-bar .main-nav-links li.current-menu-item a {
	background-color: #124391;
	color: #ffffff;
}
.en .main-nav-bar .main-nav-links li .dropdown-menu {
	background-color: transparent;
	border: 0;
	padding: 0;
	width: 100%;
}

/* 
=================================
         HEADER
=================================
*/
.en .main-image .main-container {
	position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.28);
    width: 100%;
    height: 100%;
    margin: 0;
}



/* 
=================================
          INFINITE LOADER
=================================
*/
.yith-infs-loader p {
	text-transform: uppercase;
	font-weight: bold;
	color: #124391;
	font-family: "Capriola";
	font-size: 20px;
}
/* 
=================================
          LOGIN/REGISTER
=================================
*/
.en #login .modal-sm, .en #register .modal-sm, .en #forgot_password .modal-sm {
	max-width: 415px;
	width: 415px;
	background-color: #ffffff;
	top: 120px;
	border-radius: 10px;
	overflow: hidden;
}
.en #login .modal-header, .en #register .modal-header, .en #forgot_password .modal-header {
	height: 63px;
	border-bottom: 2px solid #124391;
	line-height: 63px;
}
form.ajax-auth .modal-header h4, form.ajax-auth .modal-header h4 {
	text-align: center;
	font-family: "Open Sans Condensed Bold";
	font-size: 28.6px;
	color: #124391;
}
.en #login label, .en #register label, .en #forgot_password label {
	color: #124391;
	font-family: "Open Sans Condensed Bold";
	font-size: 22.2px;
	line-height: 23px;
	margin-bottom: 20px;
}
.en #login .modal-body, .en #register .modal-body, .en #forgot_password .modal-body {
	width: 358px;
	margin: 25px auto 0 auto;
}
.en #login .form-group > input, .en #register .form-group > input, .en #forgot_password .form-group > input {
	border: 2px solid #124391;
	font-family: "Open Sans Condensed Bold";
	font-size: 20.2px;
	margin-bottom: 30px;
}
.en #login .form-group > label, .en #register .form-group > label, .en #forgot_password .form-group > label {
	display: none;
}
.en #login .modal-body .checkbox > label, .en #register .modal-body .checkbox > label, .en #forgot_password .modal-body .checkbox > label {
	line-height: 32px;
}
.en #login .modal-body .checkbox input[type="checkbox"], .en #register .modal-body .checkbox input[type="checkbox"], .en #forgot_password .modal-body .checkbox input[type="checkbox"] {
	float: left;
	height: 28px;
	width: 19px;
	border: 2px solid #124391;
	position: relative;
}
.en #login .modal-footer, .en #register .modal-footer, .en #forgot_password .modal-footer {
	background-color: #124391;
	width: 101%;
	margin: 0 -1px 0 -1px;
}
.en #login .modal-footer .text-box, .en #register .modal-footer .text-box, .en #forgot_password .modal-footer .text-box {
	width: 358px;
	color: #ffffff;
	font-family: "Open Sans Condensed Bold";
	font-size: 22.2px;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
}
.en #login .modal-footer .text-box a, .en #register .modal-footer .text-box a, .en #forgot_password .modal-footer .text-box a {
	display: block;
	color: #ffffff;
}
.en #login .modal-footer .text-box.bb, .en #register .modal-footer .text-box.bb, .en #forgot_password .modal-footer .text-box.bb {
	border-bottom: 2px dashed #ffffff;
}
/*
.en #login .modal-footer   p,  .en #register .modal-footer   p,  .en #forgot_password .modal-footer   p{
    color: #ffffff;
    font-family: "Open Sans Condensed Bold";
    font-size: 22.2px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}
.en #login .modal-footer p a, .en #register .modal-footer p a, .en #forgot_password .modal-footer p a{
display: block;
    color: #fff;
    text-decoration: underline;
}

.en #login .modal-footer p > br, .en #register .modal-footer p > br, .en #forgot_password .modal-footer p > br{
	display: none;
}
*/
.en #login .modal-footer #pop_signup, .en #register .modal-footer #pop_signup, .en #forgot_password .modal-footer #pop_signup {
	padding-bottom: 10px;
}
.en #login .modal-footer .submit_button, .en #register .modal-footer .submit_button, .en #forgot_password .modal-footer .submit_button {
	width: 100%;
	text-align: center;
	font-family: "Open Sans Condensed Bold";
	font-size: 27.5px;
	color: #124391;
	background: #ffffff;
	border: none;
	box-shadow: none;
	margin-bottom: 15px;
}
/* 
=================================
            HomePage
=================================
*/

.en .homepage .homepage-grid {
	overflow: hidden;
}
.en .homepage .homepage-grid .homepage-grid-element .transparent-button {
	padding: 0 15px;
}
.en .homepage .homepage-grid .homepage-grid-element .grid-inner > .column {
	border-radius: 0;
	background: none;
}
.en .homepage .homepage-grid .homepage-grid-element .grid-inner {
	width: 100.1%;
}
.en .homepage .homepage-grid .homepage-grid-element .white-block {
	background: #ffffff !important;
	background-position: top center;
	background-repeat: no-repeat;
}
.en .homepage .homepage-grid .homepage-grid-element .transparent-block {
	background: rgba(255, 255, 255, 0.75) !important;
}

@media (max-width: 1024px) {
.en .homepage .homepage-grid .homepage-grid-element .grid-inner > .column {
	padding-top: 10%;
	border-bottom: 0px;
}
.en .homepage .homepage-grid .homepage-grid-element .grid-inner > .image-block {
	padding-top: 5% !important;
}
.en .homepage .homepage-grid .homepage-grid-element.right .column {
	float: right;
}
.en .homepage .homepage-grid .homepage-grid-element.right .white-block {
	float: left;
}
.en .homepage .homepage-grid .homepage-grid-element.right .transparent-block {
	float: left;
}
.en .homepage .homepage-grid .homepage-grid-element.left .column {
	float: left;
}
.en .homepage .homepage-grid .homepage-grid-element.left .white-block {
	float: right;
}
.en .homepage .homepage-grid .homepage-grid-element.left .transparent-block {
	float: right;
}
}
/* 
=================================
          ABOUT
=================================
*/
.en .about .about-text-block {
	min-height: auto;
	padding: 70px 0;
}
.en .about-products-slider {
	margin: 70px 0;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.embed-container iframe,  .embed-container object,  .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* 
=================================
  		CONTACT
=================================
*/

.en .contact .contact-form input[type="email"] {
	border: 3px solid #124391;
	font-family: "Open Sans Condensed Bold";
	letter-spacing: 1px;
	font-weight: bold;
	margin-bottom: 50px;
}
.en .contact .contact-form input[type="submit"] {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 20px;
	color: #124391;
	font-family: "Open Sans Condensed Bold";
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 2px;
	margin-top: 10px;
	background-color: transparent;
	text-transform: uppercase;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.en .contact .contact-form input[type="submit"]:hover {
	background-color: #124391;
	color: #ffffff;
}
.form-control {
	border-radius: 0 !important;
}
/* 
=================================
        CONTEN PAGES
=================================
*/

.headline {
	text-transform: uppercase;
}
/* 
=================================
          Recipes
=================================
*/

.en .recipes .header-box {
	margin-bottom: 0;
}
.en .recipes .recipe-search-box {
	position: relative;
	margin-left: 0;
	bottom: 0;
	left: 0;
}
.en .recipes .recipe-search-box .search-form {
	padding: 30px 20px 0px 20px;
}
.en .recipes .recipe-search-box .submit-btn-box {
	background: #fff;
	padding: 0 40px 20px 0;
}
.en .recipes .recipe-search-box .submit-btn {
	margin-top: 0px;
	float: right;
}
.en .recipes .recipes-headline {
	
	margin-bottom: 50px;
}
.en .recipes .recipes-grid .recipes-grid-element {
	overflow: hidden;
	margin-bottom: 0px;
}
.en .recipes .recipes-grid .recipes-grid-element .grid-inner {
	width: 101%;
}
.en .recipes .recipes-grid .recipes-grid-element .grid-inner > .column {
	border-radius: 0;
	background: none;
	border-bottom: none;
}
.en .recipes .recipes-grid .recipes-grid-element .transparent-block {
	background-color: rgba(255, 255, 255, 0.75) !important;
}
.en .recipes .recipes-grid .recipes-grid-element .transparent-button {
	padding: 7px;
}

.en .title_icon{
	
	margin-top: -10px;
}

@media screen and (max-width: 640px) {
.en .recipes .recipes-grid .recipes-grid-element {
	margin-bottom: 5px;
}
.en .recipes .recipes-grid .recipes-grid-element h2 {
	font-size: 17.5px;
}
}
/* 
=================================
          Recipe Inner
=================================
*/

.en .single-recipe .header-box {
	position: relative;
	margin-bottom: 30px;
}
.en .single-recipe .main-image {
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: center center;
	position: relative;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.en .single-recipe .main-image .yt-video {
	width: 100%;
	height: 1080px;
	position: absolute;
	top: 50%;
	margin-top: -540px;
	left: 0;
	z-index: 100;
}
.en .single-recipe .main-image .master-slider {
	width: 100%;
	height: 500px;
}
.en .single-recipe .main-container {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.28);
	width: 100%;
	height: 100%;
	margin: 0;
}
.en .single-recipe .main-container h1 {
	text-transform: uppercase;
	color: #ffffff;
	font-family: "Capriola";
	font-size: 53.5px;
}
.en .single-recipe .main-container .recipe-date, .en .single-recipe .main-container .submitted-by {
	font-family: "Capriola";
	font-size: 1rem;
	color: #ffffff;
	text-transform: uppercase;
}
.en .single-recipe .main-container .recipe-submitted-img {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	background-color: #ffffff;
	margin-bottom: 15px;
}
.en .single-recipe .carousel-inner img {
	width: 100%;
}
.en .single-recipe .recipe-video {
	text-align: center;
	margin: 0 auto;
}
.en .single-recipe .recipe-video-btn {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 20px;
	color: #124391;
	font-family: "Open Sans Condensed Bold";
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 2px;
	margin-top: 10px;
	background-color: transparent;
	text-transform: uppercase;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.en .single-recipe .recipe-video-btn:hover {
	background-color: #124391;
	color: #ffffff;
}
.en .single-recipe .favorite-btn {
	padding: 12px 20px 13px;
}
.en .single-recipe .recipe-buttons-box {
	display: inline-block;
	text-align: right;
}
.en .single-recipe .recipe-buttons-box ul {
	float: right;
}
.en .single-recipe .recipe-buttons-box ul li {
	list-style: none;
	float: left;
	margin-left: 5px;
}
.en .single-recipe .recipe-title {
	text-align: left;
	font-family: "Capriola";
	font-size: 1.7rem;
	color: #124391;
	margin-bottom: 15px;
}
.en .single-recipe .recipe-description {
	text-align: left;
	font-family: "Open Sans";
	font-size: 1rem;
	color: #124391;
	margin-bottom: 35px;
}
.en .single-recipe .recipe-ingredients {
	background-color: #ffffff;
}
.en .single-recipe .recipe-ingredients span {
	display: none;
}
.en .single-recipe .recipe-ingredients, .en .single-recipe .recipe-instruction {
	padding: 30px 30px 30px 50px;
}
.en .single-recipe .recipe-ingredients h2, .en .single-recipe .recipe-instruction h2 {
	text-align: left;
	font-family: "Capriola";
	font-size: 1.7rem;
	color: #124391;
	margin-bottom: 15px;
}
.en .single-recipe .recipe-ingredients ul li, .en .single-recipe .recipe-instruction ol li {
	text-align: left;
	font-family: "Open Sans";
	font-size: 18px;
	color: #124391;
	margin-bottom: 15px;
}
.en .single-recipe .recipe-instruction ol, .en .single-recipe .recipe-ingredients ul {
	margin-left: 0;
	padding-right: 0;
	list-style-type: none;
}
.en .single-recipe .recipe-instruction ol li {
	counter-increment: step-counter;
	display: table-row;
}
.en .single-recipe .recipe-instruction ol li::before {
	content: counter(step-counter);
	margin-right: 5px;
	font-size: 30px;
	color: #124391;
	font-weight: bold;
	padding: 3px 8px;
	border-radius: 3px;
	font-family: "Capriola";
	display: table-cell;
}
.en .single-recipe .recipe-ingredients ul li::before {
	content: counter(step-counter);
	margin-right: 15px;
	color: transparent;
	border: 3px solid #124391;
	padding: 4px 5px;
	font-size: 0.1rem;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.en .single-recipe .recipe-grid {
	position: relative;
	margin-top: 95px;
}
.en .single-recipe .recipe-grid .recipes-filter {
	position: absolute;
	width: 150px;
	top: -45px;
	left: 5px;
}
.en .single-recipe .recipe-grid .recipes-filter select {
	color: #848484;
	font-family: "Capriola";
	background-color: #ffffff;
	font-size: 1rem;
}
.en .single-recipe .recipe-grid .recipes-grid-element {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	text-align: center;
	border-right: 4px solid #f7f7f7;
	border-left: 4px solid #f7f7f7;
}
.en .single-recipe .recipe-grid .recipes-grid-element .white-block {
	background-color: #ffffff;
	height: 330px;
	background-position: top center;
	background-repeat: no-repeat;
}
.en .single-recipe .recipe-grid .recipes-grid-element .white-block .philly-image {
	width: 70%;
	margin: 0 auto;
}
.en .single-recipe .recipe-grid .recipes-grid-element .transparent-block {
	background-color: rgba(255, 255, 255, 0.75) !important;
	height: 330px;
}
.en .single-recipe .recipe-grid .recipes-grid-element h2 {
	text-transform: uppercase;
	color: #124391;
	font-family: "Capriola";
	font-size: 30px;
}
.en .single-recipe .recipe-grid .recipes-grid-element p {
	color: #124391;
	font-family: "Open Sans";
	font-size: 18px;
	display: inline-block;
	width: 80%;
}
.en .single-recipe .recipe-grid .recipes-grid-element .transparent-button {
	border: 3px solid #124391;
	display: inline-block;
	padding: 0;
	color: #124391;
	font-family: "Open Sans Condensed Bold";
	font-weight: bold;
	font-size: 18.1px;
	letter-spacing: 2px;
	margin-top: 10px;
	background-color: transparent;
	min-width: 158px;
	height: 43px;
	line-height: 43px;
	text-transform: uppercase;
}
.en .single-recipe .recipe-grid .recipes-grid-element .transparent-button:hover {
	background-color: #124391;
	color: #ffffff;
}
.en .single-recipe .recipe-grid .recipes-grid-element .grid-inner {
	height: 330px;
	margin: 0;
	display: table;
}
.en .single-recipe .recipe-grid .recipes-grid-element .grid-inner > .column {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	background: none;
	border-radius: 0;
}
.en .single-recipe .recipe-grid .left {
	border-top: 5px solid #ffffff;
	border-right: 5px solid #ffffff;
	border-bottom: 5px solid #ffffff;
}
.en .single-recipe .recipe-grid .right {
	border-top: 5px solid #ffffff;
	border-left: 5px solid #ffffff;
	border-bottom: 5px solid #ffffff;
}
.en .single-recipe .ymal-recipes {
	margin-top: 75px !important;
}
.en .single-recipe .ymal-headline {
	text-align: center;
	font-family: "Capriola";
	font-size: 30px;
	color: #124391;
	margin-bottom: 15px;
}
.en .single-recipe .comment-box {
	padding: 30px 0;
	background-color: #ffffff;
	margin-top: 50px;
}
.en .single-recipe .comment-box .comment {
	margin-bottom: 30px;
}
.en .single-recipe .comment-box .comments-headline {
	text-align: left;
	font-family: "Capriola";
	font-size: 1.5rem;
	color: #124391;
	margin-bottom: 15px;
	margin-top: 15px;
}
.en .single-recipe .comment-box .profile-pic {
	width: 80px;
	height: 40px;
	text-align: center;
	margin: 0 auto;/* background-color: #C4c4c4;
      border-radius: 80px;*/
}
.en .single-recipe .comment-box .comment-name {
	font-size: 0.8rem;
	text-align: center;
}
.en .single-recipe .comment-box .comments-body p {
	font-size: 1rem;
	color: #124391;
	font-family: "Open Sans";
	text-align: left;
}
.en .single-recipe .comment-box .comment-reply-btn {
	border: 3px solid #124391;
	display: inline-block;
	padding: 0;
	color: #124391;
	font-family: "Open Sans Condensed Bold";
	font-weight: bold;
	font-size: 18.1px;
	letter-spacing: 2px;
	margin-top: 10px;
	background-color: transparent;
	text-transform: uppercase;
	width: 122px;
	height: 43px;
	text-align: center;
	line-height: 43px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.en .single-recipe .comment-box .comment-reply-btn:hover {
	background-color: #124391;
	color: #ffffff;
}
.en .single-recipe .comment-box .comment-see-replies {
	float: right;
	width: 150px;
	color: #848484;
	font-family: "Capriola";
	background-color: #fcfcfc;
	font-size: 1rem;
}
.en .single-recipe .comment-box .comments-view-more {
	text-align: center;
}
.en .single-recipe .comment-box .comments-view-more select {
	width: 150px;
	color: #848484;
	font-family: "Capriola";
	background-color: #fcfcfc;
	font-size: 1rem;
	margin: 10px auto;
}
.en .single-recipe .comment-box .add-comment-headline, .comment-reply-title {
	text-align: left;
	font-family: "Capriola";
	font-size: 30px;
	color: #124391;
	margin-bottom: 15px;
}
.en .single-recipe .comment-box .add-comment-box textarea {
	width: 100%;
	resize: none;
	height: 114px;
}
.en .single-recipe .comment-box .add-comment-btn, .en .single-recipe .comment-respond .form-submit {
	text-align: right;
}
.en .single-recipe .comment-box .add-comment-btn button, .en .single-recipe .comment-respond .form-submit .submit {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 20px;
	color: #124391;
	font-family: "Open Sans Condensed Bold";
	font-weight: bold;
	font-size: 18.1px;
	letter-spacing: 2px;
	margin-top: 10px;
	background-color: transparent;
	text-transform: uppercase;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.en .single-recipe .comment-box .add-comment-btn button:hover, .en .single-recipe .comment-respond .form-submit .submit:hover {
	background-color: #124391;
	color: #ffffff;
}
.en .single-recipe .be-our-chef {
	margin-top: 110px;
}
.en .single-recipe .be-our-chef .transparent-block {
	height: 539px !important;
}
.en .single-recipe .recipe-servings-wrapper, .en .single-recipe .recipe-servings, .en .single-recipe .recipe-servings-caption {
	float: left;
	margin-bottom: 40px;
}
.en .single-recipe .recipe-serving {
	height: 32px;
	width: 8px;
	background-image: url(../img/servings-icon.png);
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	margin-right: 7px;
	margin-top: 10px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
}
.en .single-recipe .recipe-servings-caption {
	height: 32px;
	padding-left: 20px;
	line-height: 32px;
	font-size: 18px;
	color: #124391;
	margin-top: 10px;
}

@media screen and (max-width: 640px) {
.en .single-recipe .recipe-video iframe {
	height: 300px;
}
.en .single-recipe .recipe-video-btn {
	font-size: 14px;
	padding: 3px 10px;
}
.en .single-recipe .favorite-btn {
	padding: 7px 20px;
	    margin-top: 0;
}
.en .single-recipe .recipe-buttons-box ul li {
		float: none;
	display: inline;
	margin: 0;
	}
.en .single-recipe .main-image {
	background-repeat: no-repeat;
	background-size: cover;
}
.en .single-recipe .main-image .yt-video {
	display: none;
}
.en .single-recipe .recipe-buttons-box {
	text-align: center;
}
.en .single-recipe .recipe-buttons-box ul {
	float: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.en .single-recipe .recipe-title {
	margin-top: 30px;
	text-align: center;
	font-size: 17px;
}
.en .single-recipe .recipe-description {
	font-size: 14px;
}
.en .single-recipe .recipe-description, .en .single-recipe .recipe-ingredients, .en .single-recipe .recipe-instruction {
	text-align: center;
}
.en .single-recipe .recipe-ingredients h2 {
	text-align: center;
	font-size: 17px;
}
.en .single-recipe .recipe-instruction h2 {
	text-align: center;
	font-size: 17px;
}
.en .single-recipe .recipe-title img, .en .single-recipe .recipe-instruction img, .en .single-recipe .recipe-ingredients img {
	height: 20px;
	margin-top: -8px;
	margin-right: 10px;
}
.en .single-recipe .recipe-servings-wrapper, .en .single-recipe .recipe-servings, .en .single-recipe .recipe-servings-caption {
	margin-bottom: 15px;
}
.en .single-recipe .recipe-servings-wrapper {
	float: none;
	display: inline-block;
}
.en .single-recipe .recipe-servings-caption {
	height: 30px;
	line-height: 30px;
}
.en .single-recipe .recipe-serving {
	width: 8px;
	height: 30px;
}
.en .single-recipe .recipe-ingredients, .en .single-recipe .recipe-instruction {
	padding: 30px 30px 0 30px;
}
.en .single-recipe .recipe-ingredients ul, .en .single-recipe .recipe-instruction ul {
	display: inline-block;
	max-width: 100%;
}
.en .single-recipe .recipe-ingredients ul li, .en .single-recipe .recipe-instruction ol li {
	font-size: 14px;
}
.en .single-recipe .recipe-instruction ol li {
	line-height: 18px;
	display: inline-flex;
	float: left;
	margin-bottom: 20px;
}
.en .single-recipe .recipe-instruction ol li::before {
	font-size: 17px;
	padding: 3px 22px 3px 0;
}
.en .single-recipe .recipe-grid {
	margin-top: 40px;
}
.en .single-recipe .prev-btn a, .en .single-recipe .next-btn a {
	border: 3px solid #124391;
	display: inline-block;
	color: #124391;
	font-family: "Open Sans Condensed Bold";
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
	background-color: transparent;
	text-transform: uppercase;
	min-width: 132px;
	height: 30px;
	line-height: 26px;
	text-align: center;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.en .single-recipe .next-btn {
	text-align: right;
}
.en .single-recipe .prev-btn {
	text-align: left;
}
.en .single-recipe .prev-btn a:hover, .en .single-recipe .next-btn a:hover {
	background-color: #124391;
	color: #ffffff;
}
.en .single-recipe .comment-box .comments-headline {
	text-align: left;
	font-size: 17px;
}
.en .single-recipe .comment-box .profile-pic {
	margin: 10px auto;
	width: 40px;
	height: 40px;
}
.en .single-recipe .comment-box .comments-body p {
	font-size: 14px;
}
.en .single-recipe .comment-box .comment-reply-btn {
	margin-top: 0;
}
.en .single-recipe .comment-see-replies {
	height: 43px;
}
.en .single-recipe .comments-view-more {
	margin-top: 0;
}
.en .single-recipe .comment-box .comments-view-more select {
	font-size: 10px;
	width: 100px;
	height: 28px;
}
.en .single-recipe .comment-box .add-comment-headline {
	margin-top: 20px;
	font-size: 19px;
}
.en .single-recipe .comment-box .add-comment-btn {
	text-align: center;
}
.en .single-recipe .comment-box .add-comment-btn button {
	font-size: 11.5px;
	letter-spacing: 1px;
	width: 80px;
	height: 25px;
	line-height: 21px;
	padding: 0;
}
.en .single-recipe .recipe-grid .recipes-grid-element {
	margin-bottom: 4px;
}
.en .single-recipe .ymal-headline {
	font-size: 17px;
}
.en .single-recipe .recipe-grid .recipes-grid-element p {
	font-size: 9px;
}
.en .single-recipe .recipe-grid .recipes-grid-element {
	margin-bottom: 4px;
}
.en .single-recipe .recipe-grid .recipes-grid-element h2 {
	font-size: 17px;
}
.en .single-recipe .recipe-grid .recipes-grid-element .transparent-button {
	font-size: 11.2px;
	min-width: 112px;
	height: 30px;
	padding: 0;
	line-height: 26px;
	letter-spacing: 1px;
}
.en .single-recipe .be-our-chef {
	margin-top: 40px;
}
.en .single-recipe .be-our-chef .recipes-grid-element {
	height: 330px !important;
}
.en .single-recipe .be-our-chef .transparent-block {
	height: 330px !important;
}
.en .single-recipe .ymal-recipes {
	margin-top: 40px !important;
}
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
.en .single-recipe .recipe-buttons-box {
	text-align: center;
}
.en .single-recipe .recipe-buttons-box ul {
	float: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.en .single-recipe .recipe-title {
	margin-top: 30px;
	text-align: center;
}
.en .single-recipe .recipe-description, .en .single-recipe .recipe-ingredients, .en .single-recipe .recipe-instruction {
	text-align: center;
}
.en .single-recipe .recipe-ingredients h2 {
	text-align: center;
}
.en .single-recipe .recipe-instruction h2 {
	text-align: center;
}
.en .single-recipe .recipe-title img, .en .single-recipe .recipe-instruction img, .en .single-recipe .recipe-ingredients img {
	height: 20px;
	margin-top: -8px;
	margin-right: 10px;
}
.en .single-recipe .recipe-servings-wrapper, .en .single-recipe .recipe-servings, .en .single-recipe .recipe-servings-caption {
	margin-bottom: 15px;
}
.en .single-recipe .recipe-servings-wrapper {
	float: none;
	display: inline-block;
}
.en .single-recipe .recipe-servings-caption {
	height: 30px;
	line-height: 30px;
}
.en .single-recipe .recipe-serving {
	width: 8px;
	height: 30px;
}
.en .single-recipe .recipe-ingredients, .en .single-recipe .recipe-instruction {
	padding: 30px 30px 0 30px;
}
.en .single-recipe .recipe-ingredients ul, .en .single-recipe .recipe-instruction ul {
	display: inline-block;
	max-width: 100%;
}
.en .single-recipe .prev-btn a, .en .single-recipe .next-btn a {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 20px;
	color: #124391;
	font-family: "Open Sans Condensed Bold";
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 2px;
	background-color: transparent;
	text-transform: uppercase;
	min-width: 180px;
	text-align: center;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.en .single-recipe .next-btn {
	text-align: right;
}
.en .single-recipe .prev-btn {
	text-align: left;
}
.en .single-recipe .prev-btn a:hover, .en .single-recipe .next-btn a:hover {
	background-color: #124391;
	color: #ffffff;
}
.en .single-recipe .comments-headline {
	text-align: center;
}
.en .single-recipe .profile-pic {
	margin: 10px auto;
}
.en .single-recipe .comment-box .comment-reply-btn {
	margin-top: 0;
}
.en .single-recipe .comment-see-replies {
	height: 43px;
}
.en .single-recipe .comments-view-more {
	margin-top: 30px;
}
.en .single-recipe .comment-box .add-comment-btn {
	text-align: center;
}
.en .single-recipe .recipe-grid .recipes-grid-element {
	margin-bottom: 4px;
}
}
/* 
=================================
         COMMENTS
=================================
*/
.comments-title {
	display: none;
}
.comment-list, .comment-list li {
	list-style: none;
}
.comment-avatar {
	float: left;
}
.comment-notes {
	font-size: 12px;
}
.comment-notes #email-notes {
	display: block;
}
.comment-form label {
	display: inline-block;
}
.comment-form .required {
	font-size: 10px;
}
.logged-in-as {
	font-size: 12px;
	display: none;
}
.user-ratings {
	display: none;
}
/* 
=================================
        10. Single Post Social Popup
=================================
*/

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 1070 !important;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.popup {
	margin: 170px auto;
	background: #fff;
	width: 35%;
	position: relative;
	transition: all 5s ease-in-out;
	z-index: 1080 !important;
}
.popup h2 {
	font-family: "Capriola";
	font-size: 1.7rem;
	color: #124391;
	text-align: center;
	border-bottom: 1px solid #eee;
	padding: 20px;
	line-height: 20px;
	font-style: normal;
	font-weight: 600;
	background: #f7f7f7;
	margin-bottom: 10px;
}
.popup .close-popup {
	position: absolute;
	top: 15px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #aaa;
}
.popup .close-popup:hover {
	color: #333;
}
.popup .content {
	max-height: 40%;
	overflow: auto;
	padding: 5px;
}
.popup .content p, .popup .content div {
	text-align: center;
}
.popup .content p {
	font-style: italic;
	font-size: 18px;
	font-family: Lora, 'PT Serif', sans-serif;
}
.popup .social-icons {
	float: none !important;
	text-align: center;
	display: inline-block;
}
.popup .social-icons li {
	margin: 0 5px !important;
}
.popup .social-icons a {
	background: #124391;
	font-size: 20px !important;
	padding: 7px 5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
}
.popup .social-icons a:hover {
	background: #fff;
}
.popup .social-icons a:hover .fa {
	color: #124391;
}
.popup .social-icons a .fa {
	color: #fff;
	width: 30px;
}

@media screen and (max-width: 640px) {
.popup {
	width: 90%;
}
}
/* 
=================================
       Pagination
=================================
*/

.pagination {
	display: none;
}
.yith-infs-loader {
	width: 100% !important;
}
.yith-infs-loader img {
	margin: 0 auto;
	display: block !important;
}
/* 
=================================
       SEARCH
=================================
*/
.en .search .search-results-headline {
	text-align: left;
	font-family: "Capriola";
	font-size: 30px;
	color: #124391;
	margin-bottom: 30px;
	padding-top: 30px;
}
.en .search .search-result-image .thumb {
	width: 100%;
	height: 150px;
	border: 1px solid #95a0aa;
	border-radius: 10px;
	padding-left: 35px;
}
.en .search .search-result-text {
	padding-top: 0;
	padding-left: 0;
}
.en .search .search-result-text h2 {
	text-align: left;
	font-family: "Capriola";
	font-size: 24px;
	color: #124391;
}
.en .search .search-result-text p {
	font-family: "Open Sans";
	font-size: 22.2px;
	color: #124391;
	padding-right: 35px;
	padding-left: 0;
}
.en .search .search-results-wrapper .search-results-box:nth-child(odd) {
	background-color: #ffffff;
}
.en .search .search-results-box {
	position: relative;
	padding: 20px 0 20px 0;
}
.en .search .read-more-btn {
	border: 3px solid #124391;
	display: inline-block;
	padding: 0;
	color: #124391;
	font-family: "Open Sans Condensed Bold";
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 2px;
	margin-top: 10px;
	background-color: transparent;
	text-transform: uppercase;
	width: 110px;
	height: 30px;
	line-height: 24px;
	text-align: center;
	position: absolute;
	right: 10px;
	bottom: 10px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.en .search .read-more-btn:hover {
	background-color: #124391;
	color: #ffffff;
}
.en .search .search-load-more-box {
	text-align: center;
}
.en .search .search-load-more-box .load-more-btn {
	border: 3px solid #124391;
	display: inline-block;
	padding: 0;
	color: #124391;
	font-family: "Open Sans Condensed Bold";
	font-weight: bold;
	font-size: 18.1px;
	letter-spacing: 2px;
	margin-top: 70px;
	margin-bottom: 20px;
	background-color: transparent;
	text-transform: uppercase;
	width: 134px;
	height: 43px;
	line-height: 41px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.en .search .search-load-more-box .load-more-btn:hover {
	background-color: #124391;
	color: #ffffff;
}
/* 
=================================
          12. Footer
=================================
*/
.en .footer .footer-box .menu {
	float: right;
	width: 120px;
	margin-top: 30px;
	display: block;
}
.en .footer .footer-box .menu li a {
	text-transform: uppercase;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.en .footer .footer-box .menu .active>a {
	background: none;
}
.en .footer .footer-bottom .menu {
	float: none;
	width: auto;
	margin-top: 0px;
	display: inherit;
}
.en .footer .footer-bottom {
	text-transform: uppercase;
}
.en .footer .footer-bottom div {
	display: inline;
}
.en .footer .footer-bottom .menu li {
	display: inline;
	margin-bottom: 0;
	letter-spacing: 0;
	font-weight: normal;
	font-family: "Open Sans";
	font-size: 14px;
	border-right: 1px solid #6786b8;
}
.en .footer .footer-bottom .menu li:first-child {
	border-left: 1px solid #6786b8;
	margin-left: 10px;
}
.en .footer .footer-bottom .menu li:last-child {
	border-right: none;
}
.en .footer .footer-bottom .menu li a {
	display: inline;
}
.instagram-wrapper .owl-wrapper .owl-item {
	width: 150px !important;
	height: 150px !important;
	margin-right: 10px !important;
}

@media screen and (max-width: 640px) {
.en .footer .footer-bottom .menu li:first-child {
	margin-left: 5px;
}
.en .footer .footer-bottom .menu a {
	padding: 0 6px 0 3px;
}
}
/* 
=================================
         MEMBER AREA 
=================================
*/

.en .user-account .user-account-box .user-account-header {
/* margin-bottom: 45px;*/
}
.en .user-account .recipes-grid-element h2 {
	font-size: 19px;
	line-height: 1.2;
}
.en .user-account .user-account-header, .en .user-account .submit-profile-form label, .en .user-account .submit-recipe-form label, .button {
	text-transform: uppercase;
}
.en .user-account input[type=file] {
	 padding: 6px;
    font-size: 13px;
    height: 40px;
}
.en .user-account .submit-recipe-form input, .en .user-account .submit-recipe-form select, .en .user-account .submit-recipe-form .mce-tinymce.mce-container.mce-panel, .en .user-account .submit-recipe-form textarea {
	line-height: normal;
}

.en .user-account .user-account-menu .heart_icon_text {
	
	    font-size: 20px;
    margin-right: 2px;
}
.en .user-account .submit-recipe-form .sub-text {
	margin: 0;
	padding: 0;
}
.en .user-account .submit-recipe-form .error{
	font-size: 12px;
    margin: 0px;
    color: red;
    text-transform: inherit;
}
/*********** My Recipes ************/

.member-controls {
	margin-top: 5px;
}
.member-controls a {
	padding: 2px;
	background: none;
	color: #124391 !important;
}
.member-controls a:hover, .member-controls a:active, .member-controls a:focus {
	background: #fff;
}
.member-controls i {
	color: #124391 !important;
}
.en .user-account .recipes-grid-element .grid-inner {
	position: relative;
}
.en .user-account.favorites .recipes-grid-element .grid-inner > .column {
	padding: 6% 5px 2%;
	margin: 0;
	right: 0;
	position: absolute;
	border-radius: 0;
}
.en .user-account.favorites .recipe-grid .grid-inner .white-block {
	float: right;
	border-radius: 0;
}

.en .successful-update{
	margin-top: 25px;
	font-family: "Open Sans";
    font-size: 18px;
    color: #124391;
    
}

.en .successful-update h3{
	

    font-weight: bold;
}


/*********** My Favotrite Recipes ************/





/* 
=================================
       14. Author Details
=================================
*/


/* 
=================================
         15. Thumb
=================================
*/

/* 
=================================
    16. Single Page Heading
=================================
*/

/*Dev code star here*/
.en .pilly-tips .header-box{margin-bottom:0}
.en .pilly-tips .recipe-search-box{position:relative;margin-left:0;bottom:0;left:0}
.en .pilly-tips .recipe-search-box .search-form{padding:30px 20px 0 20px}
.en .pilly-tips .recipe-search-box .submit-btn-box{background:#fff;padding:0 40px 20px 0}
.en .pilly-tips .recipe-search-box .submit-btn{margin-top:0;float:right}
.en .pilly-tips .recipes-headline{margin-bottom:50px}
.en .pilly-tips .recipes-grid .recipes-grid-element{overflow:hidden;margin-bottom:0}
.en .pilly-tips .recipes-grid .recipes-grid-element .grid-inner{width:101%}
.en .pilly-tips .recipes-grid .recipes-grid-element .grid-inner > .column{border-radius:0;background:none;border-bottom:none}
.en .pilly-tips .recipes-grid .recipes-grid-element .transparent-block{background-color:rgba(255,255,255,0.75)!important}
.en .pilly-tips .recipes-grid .recipes-grid-element .transparent-button{padding:7px}
.en .title_icon{margin-top:-10px}
@media screen and (max-width:640px){.en .pilly-tips .recipes-grid .recipes-grid-element{margin-bottom:5px}.en .pilly-tips .recipes-grid .recipes-grid-element h2{font-size:17.5px}}
.en .single-tips .header-box{position:relative;margin-bottom:30px}
.en .single-tips .main-image{width:100%;height:500px;background-size:cover;background-position:center center;position:relative;text-align:center;overflow:hidden;position:relative}
.en .single-tips .main-image .yt-video{width:100%;height:1080px;position:absolute;top:50%;margin-top:-540px;left:0;z-index:100}
.en .single-tips .main-image .master-slider{width:100%;height:500px}
.en .single-tips .main-container{position:absolute;top:0;left:0;background-color:rgba(0,0,0,0.28);width:100%;height:100%;margin:0}
.en .single-tips .main-container h1{text-transform:uppercase;color:#ffffff;font-family:"Capriola";font-size:53.5px}
.en .single-tips .main-container .recipe-date,.en .single-tips .main-container .submitted-by{font-family:"Capriola";font-size:1rem;color:#ffffff;text-transform:uppercase}
.en .single-tips .main-container .recipe-submitted-img{display:inline-block;width:80px;height:80px;border-radius:80px;background-color:#ffffff;margin-bottom:15px}
.en .single-tips .carousel-inner img{width:100%}
.en .single-tips .recipe-video{text-align:center;margin:0 auto}
.en .single-tips .recipe-video-btn{border:3px solid #124391;display:inline-block;padding:8px 20px;color:#124391;font-family:"Open Sans Condensed Bold";font-weight:bold;font-size:1em;letter-spacing:2px;margin-top:10px;background-color:transparent;text-transform:uppercase;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;transition:all 1s}
.en .single-tips .recipe-video-btn:hover{background-color:#124391;color:#ffffff}
.en .single-tips .favorite-btn{padding:12px 20px 13px}
.en .single-tips .recipe-buttons-box{display:inline-block;text-align:right}
.en .single-tips .recipe-buttons-box ul{float:right}
.en .single-tips .recipe-buttons-box ul li{list-style:none;float:left;margin-left:5px}
.en .single-tips .recipe-title{text-align:left;font-family:"Capriola";font-size:1.7rem;color:#124391;margin-bottom:15px}
.en .single-tips .recipe-description{text-align:left;font-family:"Open Sans";font-size:1rem;color:#124391;margin-bottom:35px}
.en .single-tips .recipe-ingredients{background-color:#ffffff}
.en .single-tips .recipe-ingredients span{display:none}
.en .single-tips .recipe-ingredients h2,.en .single-tips .recipe-instruction h2{text-align:left;font-family:"Capriola";font-size:1.7rem;color:#124391;margin-bottom:15px}
.en .single-tips .recipe-ingredients ul li,.en .single-tips .recipe-instruction ol li{text-align:left;font-family:"Open Sans";font-size:18px;color:#124391;margin-bottom:15px}
.en .single-tips .recipe-instruction ol,.en .single-tips .recipe-ingredients ul{margin-left:0;padding-right:0;list-style-type:none}
.en .single-tips .recipe-instruction ol li{counter-increment:step-counter;display:table-row}
.en .single-tips .recipe-instruction ol li::before{content:counter(step-counter);margin-right:5px;font-size:30px;color:#124391;font-weight:bold;padding:3px 8px;border-radius:3px;font-family:"Capriola";display:table-cell}
.en .single-tips .recipe-ingredients ul li::before{content:counter(step-counter);margin-right:15px;color:transparent;border:3px solid #124391;padding:4px 5px;font-size:0.1rem;width:20px;height:20px;vertical-align:middle}
.en .single-tips .recipe-grid{position:relative;margin-top:95px}
.en .single-tips .recipe-grid .recipes-filter{position:absolute;width:150px;top:-45px;left:5px}
.en .single-tips .recipe-grid .recipes-filter select{color:#848484;font-family:"Capriola";background-color:#ffffff;font-size:1rem}
.en .single-tips .recipe-grid .recipes-grid-element{background-size:cover;background-position:center;background-repeat:no-repeat;padding:0;text-align:center;border-right:4px solid #f7f7f7;border-left:4px solid #f7f7f7}
.en .single-tips .recipe-grid .recipes-grid-element .white-block{background-color:#ffffff;height:330px;background-position:top center;background-repeat:no-repeat}
.en .single-tips .recipe-grid .recipes-grid-element .white-block .philly-image{width:70%;margin:0 auto}
.en .single-tips .recipe-grid .recipes-grid-element .transparent-block{background-color:rgba(255,255,255,0.75)!important;height:330px}
.en .single-tips .recipe-grid .recipes-grid-element h2{text-transform:uppercase;color:#124391;font-family:"Capriola";font-size:30px}
.en .single-tips .recipe-grid .recipes-grid-element p{color:#124391;font-family:"Open Sans";font-size:18px;display:inline-block;width:80%}
.en .single-tips .recipe-grid .recipes-grid-element .transparent-button{border:3px solid #124391;display:inline-block;padding:0;color:#124391;font-family:"Open Sans Condensed Bold";font-weight:bold;font-size:18.1px;letter-spacing:2px;margin-top:10px;background-color:transparent;min-width:158px;height:43px;line-height:43px;text-transform:uppercase}
.en .single-tips .recipe-grid .recipes-grid-element .transparent-button:hover{background-color:#124391;color:#ffffff}
.en .single-tips .recipe-grid .recipes-grid-element .grid-inner{height:330px;margin:0;display:table}
.en .single-tips .recipe-grid .recipes-grid-element .grid-inner > .column{display:table-cell;width:50%;vertical-align:middle;background:none;border-radius:0}
.en .single-tips .recipe-grid .left{border-top:5px solid #ffffff;border-right:5px solid #ffffff;border-bottom:5px solid #ffffff}
.en .single-tips .recipe-grid .right{border-top:5px solid #ffffff;border-left:5px solid #ffffff;border-bottom:5px solid #ffffff}
.en .single-tips .ymal-recipes{margin-top:75px!important}
.en .single-tips .ymal-headline{text-align:center;font-family:"Capriola";font-size:30px;color:#124391;margin-bottom:15px}
.en .single-tips .comment-box{padding:30px 0;background-color:#ffffff;margin-top:50px}
.en .single-tips .comment-box .comment{margin-bottom:30px}
.en .single-tips .comment-box .comments-headline{text-align:left;font-family:"Capriola";font-size:1.5rem;color:#124391;margin-bottom:15px;margin-top:15px}
.en .single-tips .comment-box .profile-pic{width:80px;height:40px;text-align:center;margin:0 auto;/* background-color:#C4c4c4;border-radius:80px;*/}
.en .single-tips .comment-box .comment-name{font-size:0.8rem;text-align:center}
.en .single-tips .comment-box .comments-body p{font-size:1rem;color:#124391;font-family:"Open Sans";text-align:left}
.en .single-tips .comment-box .comment-reply-btn{border:3px solid #124391;display:inline-block;padding:0;color:#124391;font-family:"Open Sans Condensed Bold";font-weight:bold;font-size:18.1px;letter-spacing:2px;margin-top:10px;background-color:transparent;text-transform:uppercase;width:122px;height:43px;text-align:center;line-height:43px;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;transition:all 1s}
.en .single-tips .comment-box .comment-reply-btn:hover{background-color:#124391;color:#ffffff}
.en .single-tips .comment-box .comment-see-replies{float:right;width:150px;color:#848484;font-family:"Capriola";background-color:#fcfcfc;font-size:1rem}
.en .single-tips .comment-box .comments-view-more{text-align:center}
.en .single-tips .comment-box .comments-view-more select{width:150px;color:#848484;font-family:"Capriola";background-color:#fcfcfc;font-size:1rem;margin:10px auto}
.en .single-tips .comment-box .add-comment-headline,.comment-reply-title{text-align:left;font-family:"Capriola";font-size:30px;color:#124391;margin-bottom:15px}
.en .single-tips .comment-box .add-comment-box textarea{width:100%;resize:none;height:114px}
.en .single-tips .comment-box .add-comment-btn,.en .single-tips .comment-respond .form-submit{text-align:right}
.en .single-tips .comment-box .add-comment-btn button,.en .single-tips .comment-respond .form-submit .submit{border:3px solid #124391;display:inline-block;padding:8px 20px;color:#124391;font-family:"Open Sans Condensed Bold";font-weight:bold;font-size:18.1px;letter-spacing:2px;margin-top:10px;background-color:transparent;text-transform:uppercase;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;transition:all 1s}
.en .single-tips .comment-box .add-comment-btn button:hover,.en .single-tips .comment-respond .form-submit .submit:hover{background-color:#124391;color:#ffffff}
.en .single-tips .be-our-chef{margin-top:110px}
.en .single-tips .be-our-chef .transparent-block{height:539px!important}
.en .single-tips .recipe-servings-wrapper,.en .single-tips .recipe-servings,.en .single-tips .recipe-servings-caption{float:left;margin-bottom:40px}
.en .single-tips .recipe-serving{height:32px;width:8px;background-image:url(../img/servings-icon.png);background-repeat:no-repeat;background-size:cover;float:left;margin-right:7px;margin-top:10px;-webkit-transform:rotate(20deg);-moz-transform:rotate(20deg);-o-transform:rotate(20deg);-ms-transform:rotate(20deg);transform:rotate(20deg)}
.en .single-tips .recipe-servings-caption{height:32px;padding-left:20px;line-height:32px;font-size:18px;color:#124391;margin-top:10px}
@media screen and (max-width:640px){.en .single-tips .recipe-video iframe{height:300px}.en .single-tips .recipe-video-btn{font-size:14px;padding:3px 10px}.en .single-tips .favorite-btn{padding:7px 20px;margin-top:0}.en .single-tips .recipe-buttons-box ul li{float:none;display:inline;margin:0}.en .single-tips .main-image{background-repeat:no-repeat;background-size:cover}.en .single-tips .main-image .yt-video{display:none}.en .single-tips .recipe-buttons-box{text-align:center}.en .single-tips .recipe-buttons-box ul{float:none;display:inline-block;padding:0;margin:0}.en .single-tips .recipe-title{margin-top:30px;text-align:center;font-size:17px}.en .single-tips .recipe-description{font-size:14px}.en .single-tips .recipe-description,.en .single-tips .recipe-ingredients,.en .single-tips .recipe-instruction{text-align:center}.en .single-tips .recipe-ingredients h2{text-align:center;font-size:17px}.en .single-tips .recipe-instruction h2{text-align:center;font-size:17px}.en .single-tips .recipe-title img,.en .single-tips .recipe-instruction img,.en .single-tips .recipe-ingredients img{height:20px;margin-top:-8px;margin-right:10px}.en .single-tips .recipe-servings-wrapper,.en .single-tips .recipe-servings,.en .single-tips .recipe-servings-caption{margin-bottom:15px}.en .single-tips .recipe-servings-wrapper{float:none;display:inline-block}.en .single-tips .recipe-servings-caption{height:30px;line-height:30px}.en .single-tips .recipe-serving{width:8px;height:30px}.en .single-tips .recipe-ingredients,.en .single-tips .recipe-instruction{padding:30px 30px 0 30px}.en .single-tips .recipe-ingredients ul,.en .single-tips .recipe-instruction ul{display:inline-block;max-width:100%}.en .single-tips .recipe-ingredients ul li,.en .single-tips .recipe-instruction ol li{font-size:14px}.en .single-tips .recipe-instruction ol li{line-height:18px;display:inline-flex;float:left;margin-bottom:20px}.en .single-tips .recipe-instruction ol li::before{font-size:17px;padding:3px 22px 3px 0}.en .single-tips .recipe-grid{margin-top:40px}.en .single-tips .prev-btn a,.en .single-tips .next-btn a{border:3px solid #124391;display:inline-block;color:#124391;font-family:"Open Sans Condensed Bold";font-weight:bold;font-size:14px;letter-spacing:1px;background-color:transparent;text-transform:uppercase;min-width:132px;height:30px;line-height:26px;text-align:center;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;transition:all 1s}.en .single-tips .next-btn{text-align:right}.en .single-tips .prev-btn{text-align:left}.en .single-tips .prev-btn a:hover,.en .single-tips .next-btn a:hover{background-color:#124391;color:#ffffff}.en .single-tips .comment-box .comments-headline{text-align:left;font-size:17px}.en .single-tips .comment-box .profile-pic{margin:10px auto;width:40px;height:40px}.en .single-tips .comment-box .comments-body p{font-size:14px}.en .single-tips .comment-box .comment-reply-btn{margin-top:0}.en .single-tips .comment-see-replies{height:43px}.en .single-tips .comments-view-more{margin-top:0}.en .single-tips .comment-box .comments-view-more select{font-size:10px;width:100px;height:28px}.en .single-tips .comment-box .add-comment-headline{margin-top:20px;font-size:19px}.en .single-tips .comment-box .add-comment-btn{text-align:center}.en .single-tips .comment-box .add-comment-btn button{font-size:11.5px;letter-spacing:1px;width:80px;height:25px;line-height:21px;padding:0}.en .single-tips .recipe-grid .recipes-grid-element{margin-bottom:4px}.en .single-tips .ymal-headline{font-size:17px}.en .single-tips .recipe-grid .recipes-grid-element p{font-size:9px}.en .single-tips .recipe-grid .recipes-grid-element{margin-bottom:4px}.en .single-tips .recipe-grid .recipes-grid-element h2{font-size:17px}.en .single-tips .recipe-grid .recipes-grid-element .transparent-button{font-size:11.2px;min-width:112px;height:30px;padding:0;line-height:26px;letter-spacing:1px}.en .single-tips .be-our-chef{margin-top:40px}.en .single-tips .be-our-chef .recipes-grid-element{height:330px!important}.en .single-tips .be-our-chef .transparent-block{height:330px!important}.en .single-tips .ymal-recipes{margin-top:40px!important}}
@media screen and (min-width:640px) and (max-width:1024px){.en .single-tips .recipe-buttons-box{text-align:center}.en .single-tips .recipe-buttons-box ul{float:none;display:inline-block;padding:0;margin:0}.en .single-tips .recipe-title{margin-top:30px;text-align:center}.en .single-tips .recipe-description,.en .single-tips .recipe-ingredients,.en .single-tips .recipe-instruction{text-align:center}.en .single-tips .recipe-ingredients h2{text-align:center}.en .single-tips .recipe-instruction h2{text-align:center}.en .single-tips .recipe-title img,.en .single-tips .recipe-instruction img,.en .single-tips .recipe-ingredients img{height:20px;margin-top:-8px;margin-right:10px}.en .single-tips .recipe-servings-wrapper,.en .single-tips .recipe-servings,.en .single-tips .recipe-servings-caption{margin-bottom:15px}.en .single-tips .recipe-servings-wrapper{float:none;display:inline-block}.en .single-tips .recipe-servings-caption{height:30px;line-height:30px}.en .single-tips .recipe-serving{width:8px;height:30px}.en .single-tips .recipe-ingredients,.en .single-tips .recipe-instruction{padding:30px 30px 0 30px}.en .single-tips .recipe-ingredients ul,.en .single-tips .recipe-instruction ul{display:inline-block;max-width:100%}.en .single-tips .prev-btn a,.en .single-tips .next-btn a{border:3px solid #124391;display:inline-block;padding:8px 20px;color:#124391;font-family:"Open Sans Condensed Bold";font-weight:bold;font-size:1em;letter-spacing:2px;background-color:transparent;text-transform:uppercase;min-width:180px;text-align:center;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;transition:all 1s}.en .single-tips .next-btn{text-align:right}.en .single-tips .prev-btn{text-align:left}.en .single-tips .prev-btn a:hover,.en .single-tips .next-btn a:hover{background-color:#124391;color:#ffffff}.en .single-tips .comments-headline{text-align:center}.en .single-tips .profile-pic{margin:10px auto}.en .single-tips .comment-box .comment-reply-btn{margin-top:0}.en .single-tips .comment-see-replies{height:43px}.en .single-tips .comments-view-more{margin-top:30px}.en .single-tips .comment-box .add-comment-btn{text-align:center}.en .single-recipe .recipe-grid .recipes-grid-element{margin-bottom:4px}}
.en .user-submit-tips-account .user-account-box .user-account-header{/* margin-bottom:45px;*/}
.en .user-submit-tips-account .recipes-grid-element h2{font-size:19px;line-height:1.2}
.en .user-submit-tips-account .user-account-header,.en .user-submit-tips-account .submit-profile-form label,.en .user-submit-tips-account .submit-recipe-form label,.button{text-transform:uppercase}
.en .user-submit-tips-account input[type=file]{padding:6px;font-size:13px;height:40px}
.en .user-submit-tips-account .submit-recipe-form input,.en .user-submit-tips-account .submit-recipe-form select,.en .user-submit-tips-account .submit-recipe-form .mce-tinymce.mce-container.mce-panel,.en .user-submit-tips-account .submit-recipe-form textarea{line-height:normal}
.en .user-submit-tips-account .user-account-menu .heart_icon_text{font-size:20px;margin-right:2px}
.en .user-submit-tips-account .submit-recipe-form .sub-text{margin:0;padding:0}
.en .user-submit-tips-account .submit-recipe-form .error{font-size:12px;margin:0;color:red;text-transform:inherit}
.dropbtn{border:none;cursor:pointer}
.dropdown{position:relative;display:inline-block;top:5px}
.dropdown-content{display:none;position:absolute;background-color:#f9f9f9;min-width:160px;box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);z-index:9999;padding:0 4px;left:-9px}
.dropdown-content a{color:black;padding:12px 16px;text-decoration:none;display:block}
.dropdown-content a:hover{background-color:#f1f1f1}
.dropdown:hover .dropdown-content{display:block}
.dropdown-content ul{margin:0;padding:0}
.dropdown-content ul li{margin-left:0!important;display:block;float:none!important;text-align:left}
.dropdown-content ul li a{padding:6px 0;font-size:15px!important;display:block}
.dropdown-content ul li a i{margin:0 5px}
.en .user-submit-tips-account .submit-recipe-form .upload-btn{display:inline-block;width:9%}
.en .tips-by-user .header-box{margin-bottom:0}
.en .tips-by-user .recipe-search-box{position:relative;margin-left:0;bottom:0;left:0}
.en .tips-by-user .recipe-search-box .search-form{padding:30px 20px 0 20px}
.en .tips-by-user .recipe-search-box .submit-btn-box{background:#fff;padding:0 40px 20px 0}
.en .tips-by-user .recipe-search-box .submit-btn{margin-top:0;float:right}
.en .tips-by-user .recipes-headline{margin-bottom:50px}
.en .tips-by-user .recipes-grid .recipes-grid-element{overflow:hidden;margin-bottom:0}
.en .tips-by-user .recipes-grid .recipes-grid-element .grid-inner{width:101%}
.en .tips-by-user .recipes-grid .recipes-grid-element .grid-inner > .column{border-radius:0;background:none;border-bottom:none}
.en .tips-by-user .recipes-grid .recipes-grid-element .transparent-block{background-color:rgba(255,255,255,0.75)!important}
.en .tips-by-user .recipes-grid .recipes-grid-element .transparent-button{padding:7px}
.en .title_icon{margin-top:-10px}
@media screen and (max-width:640px){.en .tips-by-user .recipes-grid .recipes-grid-element{margin-bottom:5px}.en .tips-by-user .recipes-grid .recipes-grid-element h2{font-size:17.5px}}
.en .user-submit-tips-account .submit-recipe-form label .sub-title{font-family:"Open Sans Condensed";margin:0 5px}
.en .user-submit-tips-account .submit-recipe-form .wp-editor-container{border:1px solid transparent}
.en .my-fav-tips .header-box{position:relative;margin-bottom:25px}
.en .my-fav-tips .main-image{width:100%;height:500px;background-size:100% auto;background-position:center center;position:relative;text-align:center;overflow:hidden;position:relative}
.en .my-fav-tips .main-container{position:absolute;top:0;left:0;width:100%;height:100%;margin:0}
.en .my-fav-tips .main-container h1{text-transform:uppercase;color:#ffffff;font-family:"Capriola";font-size:53.5px}
.en .my-fav-tips .user-account-menu{margin-top:180px}
.en .my-fav-tips .user-account-menu li{list-style:none}
.en .my-fav-tips .user-account-menu li.menu-item{height:45px;background-color:#f9f9f9;border-bottom:1px solid #e5e5e5;font-family:"Open Sans Condensed Bold";font-size:16px;color:#95a0aa;line-height:45px}
.en .my-fav-tips .user-account-menu li.menu-item a{color:#95a0aa}
.en .my-fav-tips .user-account-menu li.menu-item a:hover{color:#666666}
.en .my-fav-tips .user-account-menu li.menu-item i{padding:0 20px;color:#666666}
.en .my-fav-tips .user-account-menu li.menu-last-item{background-color:#e5e5e5;border-radius:0 0 10px 10px;height:75px}
.en .my-fav-tips .user-account-box{background-color:#ffffff;border-radius:10px;padding-bottom:140px}
.en .my-fav-tips .user-account-box .user-account-header{height:82px;border-bottom:2px solid #124391;font-family:"Capriola";font-size:32.6px;color:#124391;line-height:82px}
.en .my-fav-tips .user-account-box .user-pic-name{background-color:#e5e5e5;height:220px;position:relative}
.en .my-fav-tips .user-account-box .user-pic-name .user-profile-pic{position:absolute;top:-50%;left:50%;margin-left:-142px}
.en .my-fav-tips .user-account-box .user-pic-name .user-name{position:absolute;bottom:0;left:0;height:60px;width:100%;text-align:center;font-family:"Open Sans";font-weight:bold;font-size:20px;color:#124391}
.en .my-fav-tips .search-form{margin:40px auto 10px auto;padding:0 10px}
.en .my-fav-tips .search-form .submit-btn{border:3px solid #124391;display:inline-block;padding:0;color:#124391;font-family:"Open Sans Condensed Bold";font-weight:bold;font-size:18.1px;letter-spacing:2px;margin-top:20px;background-color:transparent;text-transform:uppercase;cursor:pointer;width:142px;height:44px;float:right;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;transition:all 1s}
.en .my-fav-tips .search-form .submit-btn:hover{background-color:#124391;color:#ffffff}
.en .my-fav-tips .search-form select,.en .my-fav-tips .search-form option,.en .my-fav-tips .search-form input{color:#848484;font-family:"Capriola";background-color:#fcfcfc;font-size:18.4px;height:48px}
.en .my-fav-tips .search-form .pl{padding-left:0}
.en .my-fav-tips .search-form .pr{padding-right:0}
.en .my-fav-tips .recipes-filter select{color:#848484;font-family:"Capriola";background-color:#fcfcfc;font-size:18.4px;width:270px;height:48px;margin-left:10px;margin-bottom:25px}
.en .my-fav-tips .recipe-grid{padding:0 65px 0 35px}
.en .my-fav-tips .recipes-grid-element{background-size:cover;background-position:center;background-repeat:no-repeat;padding:0;text-align:center;border-right:4px solid #ffffff;border-left:4px solid #ffffff;margin-bottom:8px}
.en .my-fav-tips .recipes-grid-element .white-block{background-color:#ffffff;height:200px;background-position:top center;background-repeat:no-repeat}
.en .my-fav-tips .recipes-grid-element .white-block .philly-image{width:70%;margin:0 auto}
.en .my-fav-tips .recipes-grid-element .transparent-block{background-color:rgba(255,255,255,0.75);height:200px}
.en .my-fav-tips .recipes-grid-element h2{text-transform:uppercase;color:#124391;font-family:"Capriola";font-size:23px}
.en .my-fav-tips .recipes-grid-element p{color:#124391;font-family:"Open Sans";font-size:18px;display:inline-block;width:80%}
.en .my-fav-tips .recipes-grid-element .transparent-button{border:3px solid #124391;display:inline-block;padding:0;color:#124391;font-family:"Open Sans Condensed Bold";font-weight:bold;font-size:11.2px;margin-top:10px;background-color:transparent;min-width:99px;height:26px;line-height:20px;text-transform:uppercase}
.en .my-fav-tips .recipes-grid-element .transparent-button:hover{background-color:#124391;color:#ffffff}
.en .my-fav-tips .recipes-grid-element .grid-inner{height:200px;margin:0;display:table}
.en .my-fav-tips .recipes-grid-element .grid-inner > .column{display:table-cell;width:50%;vertical-align:middle}
.en .my-fav-tips .load-more-btn{border:3px solid #124391;display:inline-block;padding:0;color:#124391;font-family:"Open Sans Condensed Bold";font-weight:bold;font-size:18.1px;letter-spacing:2px;margin-top:20px;margin-bottom:20px;background-color:transparent;text-transform:uppercase;width:134px;height:43px;line-height:41px;float:right;cursor:pointer;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;transition:all 1s}
.en .my-fav-tips .load-more-btn:hover{background-color:#124391;color:#ffffff}
.en .my-fav-tips .tip-item{margin-top:45px}
.en .my-fav-tips .tip-item .thumb{width:225px;height:225px;border-radius:10px;border:1px solid #666666}
.en .my-fav-tips .tip-item .thumb img{width:100%;border-radius:10px}
.en .my-fav-tips .tip-text{padding-left:30px}
.en .my-fav-tips .tip-item h2{font-size:24px;font-family:"Open Sans";color:#124391;font-weight:bold;margin-top:20px}
.en .my-fav-tips .tip-item p{font-size:20px;font-family:"Open Sans";color:#124391}
.en .my-fav-tips .tip-item .read-more-btn{font-size:18.1px;font-family:"Open Sans Condensed Bold";color:#124391;float:right}
.en .my-fav-tips .tips-share-btn{border:3px solid #124391;display:inline-block;padding:8px 20px;color:#124391;font-family:"Open Sans Condensed Bold";font-weight:bold;font-size:1em;letter-spacing:2px;margin-top:10px;background-color:transparent;text-transform:uppercase;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;transition:all 1s}
.en .my-fav-tips .tips-share-btn:hover{background-color:#124391;color:#ffffff}
.en .my-fav-tips .tips-buttons-box{display:inline-block;text-align:right}
.en .my-fav-tips .tips-buttons-box ul{float:right}
.en .my-fav-tips .tips-buttons-box ul li{list-style:none;float:left;margin-left:5px}
.en .my-fav-tips .submit-recipe-form .description-text{font-family:"Open Sans Condensed Bold";font-size:16px;color:#95a0aa;padding:20px}
.en .my-fav-tips .submit-recipe-form .sub-text{font-family:"Open Sans";font-size:12px;color:#95a0aa;line-height:12px}
.en .my-fav-tips .submit-recipe-form input,.en .my-fav-tips .submit-recipe-form select,.en .my-fav-tips .submit-recipe-form .mce-tinymce.mce-container.mce-panel,.en .my-fav-tips .submit-recipe-form textarea{border:2px solid #124391!important;color:#95a0aa;margin-bottom:10px}
.en .my-fav-tips .submit-recipe-form input{font-family:"Open Sans Condensed Bold";font-size:16px;color:#95a0aa;margin-bottom:10px}
.en .my-fav-tips .submit-recipe-form .input-group{margin-bottom:10px}
.en .my-fav-tips .submit-recipe-form input[readonly]{background-color:#ffffff;color:#95a0aa;margin-bottom:5px}
.en .my-fav-tips .submit-recipe-form label{font-family:"Open Sans Condensed Bold";font-size:20.2px;color:#95a0aa;margin-top:10px}
.en .my-fav-tips .submit-recipe-form label.button{color:#ffffff;line-height:36px;background-color:#124391;height:39px;margin-top:0}
.en .my-fav-tips .submit-recipe-form .add-method,.en .my-fav-tips .submit-recipe-form .add-ingredient{float:right;font-family:"Open Sans Condensed Bold";font-size:20.2px;background-color:#124391;width:240px;height:40px;line-height:0}
.en .my-fav-tips .submit-recipe-form .form-submit-btn{border:3px solid #124391;display:inline-block;padding:0;color:#124391;font-family:"Open Sans Condensed Bold";font-weight:bold;font-size:18.1px;letter-spacing:2px;margin-top:20px;margin-bottom:20px;background-color:transparent;text-transform:uppercase;width:134px;height:43px;line-height:38px;float:right;cursor:pointer;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;transition:all 1s}
.en .my-fav-tips .submit-recipe-form .form-submit-btn:hover{background-color:#124391;color:#ffffff}
.en .my-fav-tips .submit-tip-form .description-text{font-family:"Open Sans Condensed Bold";font-size:16px;color:#95a0aa;padding:20px}
.en .my-fav-tips .submit-tip-form .sub-text{font-family:"Open Sans";font-size:12px;color:#95a0aa;line-height:12px}
.en .my-fav-tips .submit-tip-form input,.en .my-fav-tips .submit-tip-form select,.en .my-fav-tips .submit-tip-form .mce-tinymce.mce-container.mce-panel,.en .my-fav-tips .submit-tip-form textarea{border:2px solid #124391!important;color:#95a0aa;margin-bottom:10px}
.en .my-fav-tips .submit-tip-form input{font-family:"Open Sans Condensed Bold";font-size:16px;color:#95a0aa;margin-bottom:10px}
.en .my-fav-tips .submit-tip-form .input-group{margin-bottom:10px}
.en .my-fav-tips .submit-tip-form input[readonly]{background-color:#ffffff;color:#95a0aa;margin-bottom:5px}
.en .my-fav-tips .submit-tip-form label{font-family:"Open Sans Condensed Bold";font-size:20.2px;color:#95a0aa;margin-top:10px}
.en .my-fav-tips .submit-tip-form label.button{color:#ffffff;line-height:36px;background-color:#124391;height:39px;margin-top:0}
.en .my-fav-tips .submit-tip-form .add-tip{float:right;font-family:"Open Sans Condensed Bold";font-size:20.2px;background-color:#124391;width:240px;height:40px;line-height:0}
.en .my-fav-tips .submit-tip-form .form-submit-btn{border:3px solid #124391;display:inline-block;padding:0;color:#124391;font-family:"Open Sans Condensed Bold";font-weight:bold;font-size:18.1px;letter-spacing:2px;margin-top:20px;margin-bottom:20px;background-color:transparent;text-transform:uppercase;width:134px;height:43px;line-height:38px;float:right;cursor:pointer;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;transition:all 1s}
.en .my-fav-tips .submit-tip-form .form-submit-btn:hover{background-color:#124391;color:#ffffff}
.en .my-fav-tips .submit-profile-form .description-text{font-family:"Open Sans Condensed Bold";font-size:16px;color:#95a0aa;padding:20px}
.en .my-fav-tips .submit-profile-form .sub-text{font-family:"Open Sans";font-size:12px;color:#95a0aa;line-height:12px}
.en .my-fav-tips .submit-profile-form input,.en .my-fav-tips .submit-profile-form select,.en .my-fav-tips .submit-profile-form .mce-tinymce.mce-container.mce-panel,.en .my-fav-tips .submit-profile-form textarea{border:2px solid #124391!important;color:#95a0aa;margin-bottom:10px}
.en .my-fav-tips .submit-profile-form input{font-family:"Open Sans Condensed Bold";font-size:16px;color:#95a0aa;margin-bottom:10px}
.en .my-fav-tips .submit-profile-form .input-group{margin-bottom:10px}
.en .my-fav-tips .submit-profile-form input[readonly]{background-color:#ffffff;color:#95a0aa;margin-bottom:5px}
.en .my-fav-tips .submit-profile-form label{font-family:"Open Sans Condensed Bold";font-size:20.2px;color:#95a0aa;margin-top:10px}
.en .my-fav-tips .submit-profile-form label.button{color:#ffffff;line-height:36px;background-color:#124391;height:39px;margin-top:0}
.en .my-fav-tips .submit-profile-form .add-tip{float:right;font-family:"Open Sans Condensed Bold";font-size:20.2px;background-color:#124391;width:240px;height:40px;line-height:0}
.en .my-fav-tips .submit-profile-form .form-submit-btn{border:3px solid #124391;display:inline-block;padding:0;color:#124391;font-family:"Open Sans Condensed Bold";font-weight:bold;font-size:18.1px;letter-spacing:2px;margin-top:20px;margin-bottom:20px;background-color:transparent;text-transform:uppercase;width:134px;height:43px;line-height:38px;float:right;cursor:pointer;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;transition:all 1s}
.en .my-fav-tips .submit-profile-form .form-submit-btn:hover{background-color:#124391;color:#ffffff}
.en .dropbtn.btn{color:#95a0aa;font-size:18px;font-family:"Open Sans Condensed Bold";font-weight:bold;letter-spacing:1px;background:transparent;padding:0;margin-top:-5px;box-shadow:0 0 0}
.en .dropbtn.btn:focus,.en .dropbtn.btn:active:focus,.en .dropbtn.btn.active:focus{outline:0 auto -webkit-focus-ring-color;outline-offset:0}
.en .dropdown .dropdown-menu{background:#f9f9f9;border:0;border-radius:0}
.en .dropdown .dropdown-menu li{margin-left:0;display:block;float:none;padding-left:5px}
.en .dropdown .dropdown-menu li a{color:#95a0aa;font-family:"Open Sans Condensed Bold";font-weight:bold;letter-spacing:1px;padding:6px 0;font-size:15px!important;display:block}
.en .dropdown .dropdown-menu li a i{margin-right:5px;margin-left:5px}
@media only screen and (max-width:640px){.en .dropbtn.btn{font-size:12px;margin-top:-14px;max-width:90px;overflow:hidden;text-overflow:ellipsis;box-shadow:0 0 0}.en .top-nav-bar .top-nav-links li{margin-left:5px}.en .dropdown .dropdown-menu li a{font-size:11px!important}}
/* My Fav Tips End */

.tips-model .tip-title
{text-align: left;font-family: "Capriola";font-size: 1.7rem;color: #124391;margin-bottom: 15px;display: inline-block;padding-top: 2px;background: url(../img/desc-icon.png) no-repeat 0% 50%;padding-left: 40px;margin-top: 50px;}
.tips-model .tip-description
{
text-align: left;
    font-family: "Open Sans";
    font-size: 1rem;
    color: #124391;
    margin-bottom: 35px;	
}
.tips-model .instruction
{
	background: url(../img/instructions-icon.png) no-repeat 0% 30%;
	text-align: left;
	font-family: "Capriola";
	font-size: 1.7rem;
	color: #124391;
	margin-bottom: 15px;
	padding-left: 40px;
}
.tips-model .tip-steps
{

}
.tips-model .tip-steps ol
{padding-right: 0;margin-left: 0px;}
.tips-model .tip-steps ol li
{
	text-align: left;
	font-family: "Open Sans";
	font-size: 18px;
	color: #124391;
	margin-bottom: 15px;
	counter-increment: step-counter;
    display: table-row;

}
.tips-model .tip-steps ol li:before
{
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 30px;
    color: #124391;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
    font-family: "Capriola";
    display: table-cell;	
}
.tips-model .shareflies
{
	float: right;
	margin-top: 10px;
}
.tips-model .shareflies ul 
{margin: 0;padding: 0;}
.tips-model .shareflies ul li
{list-style-type: none;display: inline-block;}
.tips-model .shareflies ul li a
{display: block;width: 100px;height: 40px;cursor: default;}
.tips-model .shareflies ul li a.share
{background: url(../img/share-preview-btn.png) no-repeat 0% 0%;background-size: 100% auto;}
.tips-model .shareflies ul li a.email
{background: url(../img/email-preview-btn.png)no-repeat 0% 0%;background-size: 100% auto;}
.tips-model .shareflies ul li a.print
{background: url(../img/print-preview-btn.png) no-repeat 0% 0%;background-size: 100% auto;}
.tips-model .modal-footer
{
	text-align: center;
}
.modal-footer .footer-btn
{font-family: "Open Sans Condensed Bold";font-size: 20.2px;background-color: #124391;width: 140px;height: auto;color: #fff;line-height: normal;text-transform: uppercase;}


.modal-header
{
	border-bottom:0px;
}
.modal-footer
{
	border-top:0px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}


.model-recipe .recipe-title
{text-align: left;font-family: "Capriola";font-size: 1.7rem;color: #124391;margin-bottom: 15px;display: block;padding-top: 2px;background: url(../img/desc-icon.png) no-repeat 0% 50%;padding-left: 40px;}
.model-recipe .recipe-ingredients-content
{float: left;padding: 20px;background: #ffffff;width: 40%;margin-top: 20px;}
.model-recipe .recipe-ingredients-content h2
{
    text-align: left;
    font-family: "Capriola";
    font-size: 22px;
    color: #124391;
    margin-bottom: 15px;
    background: url(../img/ingredients-icon.png)no-repeat 0% 0%;
    padding-left: 40px;
}
.model-recipe .recipe-instruction-content
{float: left;padding: 20px;width: 60%;margin-top: 20px;}
.model-recipe .recipe-ingredients-content ul
{
margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}
.model-recipe .recipe-ingredients-content ul li.recipe-ingredients
{
text-align: left;
    font-family: "Open Sans";
    font-size: 18px;
    color: #124391;
    margin-bottom: 15px;

}
.model-recipe .recipe-ingredients-content ul li.recipe-ingredients:before
{
    content: counter(step-counter);
    margin-right: 5px;
    color: transparent;
    border: 3px solid #124391;
    padding: 4px 5px;
    font-size: 0.1rem;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.model-tips .modal-content,.model-recipe .modal-content
{
	background: #f7f7f7;
	width: 80%;
	margin: auto;
}
.model-tips .modal-header,.model-recipe .modal-header
{
	width: 100%;
	margin: auto;
}
.model-tips .modal-body,.model-recipe .modal-body
{
   margin: auto;
   width: 90%;
}

.model-recipe .recipe-instruction-content h2
{
    text-align: left;
    font-family: "Capriola";
    font-size: 22px;
    color: #124391;
    margin-bottom: 15px;
    background: url(../img/instructions-icon.png) no-repeat 0% 34%;
    padding-left: 40px;
}
.model-recipe .recipe-instruction-content ol
{
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}
.model-recipe .recipe-instruction-content ol li 
{text-align: left;font-family: "Open Sans";font-size: 18px;color: #124391;margin-bottom: 15px;counter-increment: step-counter;display: table-row;}
.model-recipe .recipe-instruction-content ol li:before
{content: counter(step-counter);margin-right: 5px;font-size: 30px;color: #124391;font-weight: bold;padding: 3px 8px;border-radius: 3px;font-family: "Capriola";display: table-cell;}
.model-recipe .recipe-servings
{
	float: left;
	margin-top: 10px;
     height: 32px;
    padding-left: 20px;
    line-height: 32px;
    font-size: 18px;
    color: #124391;
    
}
.model-recipe .shareflies
{
	float: right;
	margin-top: 10px;
}
.model-recipe .shareflies ul 
{margin: 0;padding: 0;}
.model-recipe .shareflies ul li
{list-style-type: none;display: inline-block;}
.model-recipe .shareflies ul li a
{display: block;width: 100px;height: 40px;cursor:default;}
.model-recipe .shareflies ul li a.share
{background: url(../img/share-preview-btn.png) no-repeat 0% 0%;background-size: 100% auto;}
.model-recipe .shareflies ul li a.email
{background: url(../img/email-preview-btn.png)no-repeat 0% 0%;background-size: 100% auto;}
.model-recipe .shareflies ul li a.print
{background: url(../img/print-preview-btn.png) no-repeat 0% 0%;background-size: 100% auto;}
@media (min-width: 768px)
{
.model-recipe .modal-dialog,.model-tips .modal-dialog {
    width: 100%;
    margin: 30px auto;
}
}
.model-recipe .modal-header .close,.model-tips .modal-header .close {
   margin-top: -2px;
   background: #124391 ;
   border-radius: 50%;
   color: #fff;
   width: 25px;
   height: 25px;
   opacity: 9;
}
.en .single-tips .carousel-inner .item
{
	max-height: 630px;
	min-height: 630px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}
.en .single-tips .carousel-inner .item iframe
{
max-height: 630px;
min-height: 630px;
width: 100%;
}
.en .single-tips #myCarousel-tips .carousel-control.right, .en .single-tips #myCarousel-tips .carousel-control.left
{
	background-image:none;
}

#myCarousel-recipe-preview .carousel-inner .item, #myCarousel-tips-preview .carousel-inner .item
{
	min-height: 400px;
	max-height: 400px;
	overflow: hidden;
}
#myCarousel-recipe-preview .carousel-inner .item iframe, #myCarousel-tips-preview .carousel-inner .item iframe
{
	min-height: 400px;
	max-height: 400px;

}
.en .user-account-box .user-pic-name
{
height:auto!important;	
}
.en .user-account-box .user-pic-name .user-profile-pic
{
    position: relative!important;
    top: 0!important;
    left: 0!important;
    margin-left: 0!important;	
}

.en .user-account-box .user-pic-name .user-name
{
	position: relative!important;
	line-height: 55px!important;
}
.en .user-account-menu
{
	margin-top: 49px!important;
}

.recipe-serving-image .recipe-serving {
    height: 32px;
    width: 8px;
    background-image: url(../img/servings-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-right: 7px;
    margin-top: 10px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}



/*Dev code end here*/ 