/*
Theme Name: Philadelphia
Theme URI: http://www.philadelphia.com
Author: Philadelphia
Version: 1.0
Copyright: (c) Philadelphia
*/


/*======== TABLE OF CONTENT ==========
1.  Global Style
2.  Top Bar
3.  Nav Bar
4.  Header
5.  Offer
6.  Content
7.  Pagination
8.  Sidebar
9.  Testimonial
10. Single Post
11. Carousel
12. Footer
13. Copyright
14. Author Details
15. Thumb
16. Single Page Heading
17. Comments
18. Search Box
19. Recipe Form
20. User Navigation
21. Popular Post
22. Ingredients
23. Instructions
24. Recipe Meta
25. Recipe Categories
26. Post Navigation
27. 404
28. Contact Info
29. Social Popup
30. WordPress Styles

/*=================================*/

/* 
=================================
       1.  Global Style
=================================
*/
a:hover {
	text-decoration: none;
}
.ar .about .ms-nav-next, .ar .about .ms-nav-prev {
	padding-top: 5px;
}
/* 
=================================
          2. Top Bar
=================================
*/

.ar .top-nav-bar .top-nav-links .search-box .submit-btn i {
	margin-top: 0px;
}
.ar .top-nav-bar .top-nav-links i {
	font-size: 0.8em;
	vertical-align: middle;
	margin-top: 6px;
	margin-left: 5px;
	float: right;
}
.ar .top-nav-bar .social-media-links li span {
	display: none;
}
.ar .top-nav-bar .top-nav-links .search-box input {
	border-radius: 15px !important;
}
#lang_sel_click ul li a.icl-ar {
	display: none;
}
/*
.ar .top-nav-bar .language-selector { margin-top: 5px; }
.ar .top-nav-bar .language-selector ul li a {font-size: 16px;}
*/

.ar .top-nav-bar .top-nav-links li {
	margin-top: 5px;
	margin-right: 0px;
}
.ar .top-nav-bar .top-nav-links li.search-link {
	margin-top: 0px;
	margin-right: 0px
}
.ar .top-nav-bar .top-nav-links .language-selector, .ar .top-nav-bar .top-nav-links .language-selector ul, .ar .top-nav-bar .top-nav-links .language-selector li {
	margin-left: 0;
	margin-right: 0;
}
.ar .top-nav-bar .top-nav-links .language-selector ul, .ar .top-nav-bar .top-nav-links .language-selector ul li a {
	font-weight: bold;
	font-size: 13px;
}
.ar .top-nav-bar .top-nav-links .language-selector li {
	margin-right: 0;
}
.ar .top-nav-bar .top-nav-links .language-selector ul ul li {
	border-right: 1px solid #95a0aa;
	padding-right: 12px;
	margin-top: 0;
}

@media screen and (max-width: 640px) {
.ar .top-nav-bar .top-nav-links li.search-link {
	margin-top: 5px;
}
.ar .top-nav-bar .top-nav-links ul li a {
	font-size: 12px;
}
.ar .top-nav-bar .top-nav-links .language-selector ul li {
	margin-top: 0;
}
.ar .top-nav-bar .top-nav-links .language-selector ul ul li {
	padding-right: 8px;
}
.ar .top-nav-bar-wrapper .top-nav-links li {
	margin-left: 12px;
}
.ar .mobile-search-bar-wrapper .search-box input {
	border-radius: 15px !important;
}
}
/* 
=================================
         3.  Nav Bar
=================================
*/
/********** CUSTOM MAIN MENU**************/


.ar .main-nav-bar .main-nav-links {
	margin-left: 0;
}
.ar .main-nav-bar .main-nav-links li a {
	text-transform: uppercase;
}
.ar .main-nav-bar .main-nav-links li a:hover, .ar .main-nav-bar .main-nav-links li.current-menu-item a {
	background-color: #124391;
	color: #ffffff;
}
.ar .main-nav-bar .main-nav-links li .dropdown-menu {
	background-color: transparent;
	border: 0;
	padding: 0;
	width: 100%;
}
.ar .main-nav-bar .main-nav-links li .dropdown-menu li a {
	text-align: right;
}

/* 
=================================
         HEADER
=================================
*/
.en .main-image .main-container {
	position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.28);
    width: 100%;
    height: 100%;
    margin: 0;
}


/* 
=================================
          INFINITE LOADER
=================================
*/
.yith-infs-loader p {
	font-family: "Cairo SemiBold";
	font-weight: bold;
	color: #124391;
	font-size: 20px;
}
/* 
=================================
          LOGIN/REGISTER
=================================
*/

.ar .modal-header .close {
	float: left;
}
.ar #login .modal-sm, .ar #register .modal-sm, .ar #forgot_password .modal-sm {
	max-width: 415px;
	width: 415px;
	background-color: #ffffff;
	top: 120px;
	border-radius: 10px;
	overflow: hidden;
}
.ar #login .modal-header, .ar #register .modal-header, .ar #forgot_password .modal-header {
	height: 63px;
	border-bottom: 2px solid #124391;
	line-height: 63px;
	font-family: "Cairo SemiBold";
}
form.ajax-auth .modal-header h4, form.ajax-auth .modal-header h4 {
	text-align: center;
	font-family: "Cairo SemiBold";
	font-size: 28.6px;
	color: #124391;
}
.ar #login label, .ar #register label, .ar #forgot_password label {
	color: #124391;
	font-family: "Cairo SemiBold";
	font-size: 22.2px;
	line-height: 23px;
	margin-bottom: 20px;
}
.ar #login .modal-body, .ar #register .modal-body, .ar #forgot_password .modal-body {
	width: 358px;
	margin: 25px auto 0 auto;
}
.ar #login .form-group > input, .ar #register .form-group > input, .ar #forgot_password .form-group > input {
	border: 2px solid #124391;
	font-family: "Cairo SemiBold";
	font-size: 20.2px;
	margin-bottom: 30px;
}
.ar #login .form-group > label, .ar #register .form-group > label, .ar #forgot_password .form-group > label {
	display: none;
}
.ar #login .modal-body .checkbox > label, .ar #register .modal-body .checkbox > label, .ar #forgot_password .modal-body .checkbox > label {
	line-height: 32px;
}
.ar #login .modal-body .checkbox input[type="checkbox"], .ar #register .modal-body .checkbox input[type="checkbox"], .ar #forgot_password .modal-body .checkbox input[type="checkbox"] {
	float: right;
	height: 28px;
	width: 19px;
	border: 2px solid #124391;
	position: relative;
	margin-left: 5px;
}
.ar #login .modal-footer, .ar #register .modal-footer, .ar #forgot_password .modal-footer {
	background-color: #124391;
	width: 101%;
	margin: 0 -1px 0 -1px;
}
.ar #login .modal-footer .text-box, .ar #register .modal-footer .text-box, .ar #forgot_password .modal-footer .text-box {
	width: 358px;
	color: #ffffff;
	font-family: "Cairo SemiBold";
	font-size: 22.2px;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
}
.ar #login .modal-footer .text-box a, .ar #register .modal-footer .text-box a, .ar #forgot_password .modal-footer .text-box a {
	display: block;
	color: #ffffff;
}
.ar #login .modal-footer .text-box.bb, .ar #register .modal-footer .text-box.bb, .ar #forgot_password .modal-footer .text-box.bb {
	border-bottom: 2px dashed #ffffff;
}
.ar #login .modal-footer #pop_signup, .ar #register .modal-footer #pop_signup, .ar #forgot_password .modal-footer #pop_signup {
	padding-bottom: 10px;
}
.ar #login .modal-footer .submit_button, .ar #register .modal-footer .submit_button, .ar #forgot_password .modal-footer .submit_button {
	width: 100%;
	text-align: center;
	font-family: "Cairo SemiBold";
	font-size: 27.5px;
	color: #124391;
	background: #ffffff;
	border: none;
	box-shadow: none;
	margin-bottom: 15px;
}
/* 
=================================
          4.  Header
=================================
*/



/* 
=================================
            HomePage
=================================
*/

.ar .homepage .homepage-grid {
	overflow: hidden;
}
.ar .homepage .homepage-grid .homepage-grid-element .transparent-button {
	padding: 0 15px;
}
.ar .homepage .homepage-grid .homepage-grid-element .grid-inner > .column {
	border-radius: 0;
	background: none;
}
.ar .homepage .homepage-grid .homepage-grid-element .grid-inner {
	width: 100.1%;
}
.ar .homepage .homepage-grid .homepage-grid-element .white-block {
	background: #ffffff !important;
	background-position: top center;
	background-repeat: no-repeat;
}
.ar .homepage .homepage-grid .homepage-grid-element .transparent-block {
	background: rgba(255, 255, 255, 0.75) !important;
}

@media (max-width: 1024px) {
.ar .homepage .homepage-grid .homepage-grid-element .grid-inner > .column {
	padding-top: 10%;
	border-bottom: 0px;
}
.ar .homepage .homepage-grid .homepage-grid-element .grid-inner > .image-block {
	padding-top: 5% !important;
}
.ar .homepage .homepage-grid .homepage-grid-element.right .column {
	float: right;
}
.ar .homepage .homepage-grid .homepage-grid-element.right .white-block {
	float: left;
}
.ar .homepage .homepage-grid .homepage-grid-element.right .transparent-block {
	float: left;
}
.ar .homepage .homepage-grid .homepage-grid-element.left .column {
	float: left;
}
.ar .homepage .homepage-grid .homepage-grid-element.left .white-block {
	float: right;
}
.ar .homepage .homepage-grid .homepage-grid-element.left .transparent-block {
	float: right;
}
}
/* 
=================================
          ABOUT
=================================
*/

.ar .about .about-text-block {
	min-height: auto;
	padding: 70px 0;
}
.ar .about-products-slider {
	margin: 70px 0;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.embed-container iframe,  .embed-container object,  .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* 
=================================
  		CONTACT
=================================
*/

.ar .contact .contact-form input, .ar .contact .contact-form textarea {
	border: 3px solid #124391;
	font-family: "Cairo SemiBold";
	font-weight: bold;
	margin-bottom: 50px;
	text-align: right;
	padding: 8px 20px;
	text-transform: uppercase;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	background: transparent;
}
/*
.ar .contact .contact-form input[type="email"]  {
    border: 3px solid #124391;
    font-family: "Cairo SemiBold";
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 50px;
}

.ar .contact .contact-form input, .ar .contact .contact-form textarea{
	
	text-align: right;
}
.ar .contact .contact-form input {
    border: 3px solid #124391;
    display: inline-block;
    padding: 8px 20px;
    color: #124391;
    font-family: "Cairo SemiBold";
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 2px;
    margin-top: 10px;
    background-color: transparent;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

*/
.ar .contact .contact-form input[type="submit"]:hover {
	background-color: #124391;
	color: #ffffff;
}
.form-control {
	border-radius: 0 !important;
}
/* 
=================================
        CONTEN PAGES
=================================
*/

.headline {
	text-transform: uppercase;
}
/* 
=================================
          Recipes
=================================
*/
.ar .recipes .header-box {
	margin-bottom: 0;
}
.ar .recipes .recipe-search-box {
	position: relative;
	margin-left: 0;
	bottom: 0;
	left: 0;
}
.ar .recipes .recipe-search-box .search-form {
	padding: 30px 20px 0px 20px;
}
.ar .recipes .recipe-search-box .submit-btn-box {
	background: #fff;
	padding: 0 0px 20px 35px;
}
.ar .recipes .recipe-search-box .submit-btn {
	margin-top: 0px;
	float: left;
}
.ar .recipes .recipes-headline {
	margin-bottom: 50px;
}
.ar .recipes .recipes-grid .recipes-grid-element {
	overflow: hidden;
}
.ar .recipes .recipes-grid .recipes-grid-element .grid-inner {
	width: 101%;
}
.ar .recipes .recipes-grid .recipes-grid-element .grid-inner > .column {
	border-radius: 0;
	background: none;
	border-bottom: 10px solid transparent;
}
.ar .recipes .recipes-grid .recipes-grid-element .transparent-block {
	background-color: rgba(255, 255, 255, 0.75) !important;
}
.ar .title_icon{
	
	margin-top: -10px;
}
/* 
=================================
          Recipe Inner
=================================
*/

.ar .recipes .recipes-grid .recipes-filter select {
	direction: rtl;
}
.ar .recipes .recipes-grid {
	direction: rtl;
}
.ar .single-recipe .carousel-inner img {
	width: 100%;
}
.ar .single-recipe .header-box {
	position: relative;
	margin-bottom: 30px;
}
.ar .single-recipe .main-image {
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: center center;
	position: relative;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.ar .single-recipe .main-image .yt-video {
	width: 100%;
	height: 1080px;
	position: absolute;
	top: 50%;
	margin-top: -540px;
	left: 0;
	z-index: 100;
}
.ar .single-recipe .main-image .master-slider {
	width: 100%;
	height: 500px;
}
.ar .single-recipe .main-container {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.28);
	width: 100%;
	height: 100%;
	margin: 0;
}
.ar .single-recipe .main-container h1 {
	text-transform: uppercase;
	color: #ffffff;
	font-family: "Cairo Regular";
	font-size: 58.8px;
}
.ar .single-recipe .main-container .recipe-date, .ar .single-recipe .main-container .submitted-by {
	font-family: "Cairo Regular";
	font-size: 1rem;
	color: #ffffff;
}
.ar .single-recipe .main-container .recipe-submitted-img {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	background-color: #ffffff;
	margin-bottom: 15px;
}
.ar .single-recipe .recipe-video {
	text-align: center;
	margin: 0 auto;
}
.ar .single-recipe .recipe-video-btn {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 20px;
	color: #124391;
	font-family: "Cairo SemiBold";
	font-weight: bold;
	font-size: 1em;
	margin-top: 10px;
	background-color: transparent;
	text-transform: uppercase;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.ar .single-recipe .recipe-video-btn:hover {
	background-color: #124391;
	color: #ffffff;
}
.ar .single-recipe .favorite-btn {
	padding: 12px 20px;
}
.ar .single-recipe .recipe-buttons-box {
	display: inline-block;
	text-align: right;
}
.ar .single-recipe .recipe-buttons-box ul {
	float: left;
	margin: 0;
}
.ar .single-recipe .recipe-buttons-box ul li {
	list-style: none;
	float: left;
	margin-left: 5px;
}
.ar .single-recipe .recipe-servings-wrapper, .ar .single-recipe .recipe-servings, .ar .single-recipe .recipe-servings-caption {
	float: right;
	margin-bottom: 40px;
}
.ar .single-recipe .recipe-servings-wrapper {
	margin-top: 10px;
}
.ar .single-recipe .recipe-serving {
	height: 32px;
	width: 8px;
	background-image: url(../img/servings-icon.png);
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	margin-left: 7px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.ar .single-recipe .recipe-servings-caption {
	height: 32px;
	padding-right: 32px;
	line-height: 32px;
	font-size: 18px;
	color: #124391;
	font-family: "Cairo Regular";
}
.ar .single-recipe .recipe-buttons-box ul li {
	list-style: none;
	float: left;
	margin-right: 5px;
}
.ar .single-recipe .recipe-title {
	text-align: right;
	font-family: "Cairo Regular";
	font-size: 30px;
	color: #124391;
	margin-bottom: 15px;
}
.ar .single-recipe .recipe-description {
	text-align: right;
	font-family: "Cairo Regular";
	font-size: 16px;
	color: #124391;
	margin-bottom: 35px;
}
.ar .single-recipe .recipe-ingredients {
	background-color: #ffffff;
}
.ar .single-recipe .recipe-ingredients, .ar .single-recipe .recipe-instruction {
	padding: 30px 30px 30px 50px;
}
.ar .single-recipe .recipe-ingredients h2, .ar .single-recipe .recipe-instruction h2 {
	text-align: right;
	font-family: "Cairo Regular";
	font-size: 30px;
	color: #124391;
	margin-bottom: 15px;
}
.ar .single-recipe .recipe-title img, .ar .single-recipe .recipe-instruction img, .ar .single-recipe .recipe-ingredients img {
	height: 26px;
	margin-top: -8px;
	margin-left: 14px;
}
.ar .single-recipe .recipe-ingredients ul li, .ar .single-recipe .recipe-instruction ol li {
	margin-bottom: 10px;
	text-align: right;
	font-family: "Cairo Regular";
	font-size: 16px;
	color: #124391;
	margin-bottom: 15px;
}
.ar .single-recipe .recipe-instruction ol, .ar .single-recipe .recipe-ingredients ul {
	margin-left: 0;
	padding-right: 0;
	list-style-type: none;
}
.ar .single-recipe .recipe-instruction ol li {
	counter-increment: step-counter;
	display: table-row;
}
.ar .single-recipe .recipe-instruction ul li {
	counter-increment: step-counter;
	display: table-row;
}
.ar .single-recipe .recipe-instruction ol li::before {
	content: counter(step-counter);
	margin-right: 5px;
	font-size: 1.5rem;
	color: #124391;
	font-weight: bold;
	padding: 3px 0 3px 25px;
	border-radius: 3px;
	font-family: "Cairo Regular";
	display: table-cell;
}
.ar .single-recipe .recipe-ingredients ul li::before {
	content: counter(step-counter);
	margin-left: 15px;
	color: transparent;
	border: 3px solid #124391;
	padding: 3px 5px;
	font-size: 0.1rem;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	float: right;
	display: table-cell;
	margin-bottom: 15px;
}
.ar .single-recipe .recipe-grid {
	position: relative;
	margin-top: 95px;
}
.ar .single-recipe .recipe-grid .recipes-filter {
	position: absolute;
	width: 270px;
	top: -45px;
	right: 5px;
}
.ar .single-recipe .recipe-grid .recipes-filter select {
	color: #848484;
	font-family: "Cairo Regular";
	background-color: #ffffff;
	font-size: 15px;
	background-position: left center;
	padding: 0 5px;
}
.ar .single-recipe .recipe-grid .recipes-grid-element {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	text-align: center;
	border: 5px solid #f7f7f7;
}
.ar .single-recipe .recipe-grid .recipes-grid-element .white-block {
	background-color: #ffffff;
	height: 330px;
	background-position: top center;
	background-repeat: no-repeat;
}
.ar .single-recipe .recipe-grid .recipes-grid-element .white-block .philly-image {
	width: 70%;
	margin: 0 auto;
}
.ar .single-recipe .recipe-grid .recipes-grid-element .transparent-block {
	background: rgba(255, 255, 255, 0.75) !important;
	height: 330px;
}
.ar .single-recipe .recipe-grid .recipes-grid-element h2 {
	text-transform: uppercase;
	color: #124391;
	font-family: "Cairo Regular";
	font-size: 1.8em;
}
.ar .single-recipe .recipe-grid .recipes-grid-element p {
	color: #124391;
	font-family: "Cairo Regular";
	font-size: 16px;
	display: inline-block;
	width: 80%;
}
.ar .single-recipe .recipe-grid .recipes-grid-element .transparent-button {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 25px;
	color: #124391;
	font-family: "Cairo SemiBold";
	font-weight: bold;
	font-size: 1em;
	margin-top: 10px;
	background-color: transparent;
	min-width: 180px;
	text-transform: uppercase;
}
.ar .single-recipe .recipe-grid .recipes-grid-element .transparent-button:hover {
	background-color: #124391;
	color: #ffffff;
}
.ar .single-recipe .recipe-grid .recipes-grid-element .grid-inner {
	height: 330px;
	margin: 0;
	display: table;
}
.ar .single-recipe .recipe-grid .recipes-grid-element .grid-inner > .column {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	background: none;
	border-radius: 0;
}
.ar .single-recipe .recipe-grid .left {
	border-top: 5px solid #ffffff;
	border-right: 5px solid #ffffff;
	border-bottom: 5px solid #ffffff;
}
.ar .single-recipe .recipe-grid .right {
	border-top: 5px solid #ffffff;
	border-left: 5px solid #ffffff;
	border-bottom: 5px solid #ffffff;
}
.ar .single-recipe .ymal-recipes {
	direction: ltr;
	margin-top: 75px !important;
}
.ar .single-recipe .ymal-headline {
	text-align: center;
	font-family: "Cairo Regular";
	font-size: 30px;
	color: #124391;
	margin-bottom: 15px;
}
.ar .single-recipe .comment-box {
	padding: 30px 0;
	background-color: #ffffff;
	margin-top: 50px;
}
.ar .single-recipe .comment-box .comment {
	margin-bottom: 30px;
}
.ar .single-recipe .comment-box .comments-headline, .comment-reply-title {
	text-align: right;
	font-family: "Cairo Regular";
	font-size: 1.5rem;
	color: #124391;
	margin-bottom: 15px;
	margin-top: 15px;
	unicode-bidi: embed;
}
.ar .single-recipe .comment-box .profile-pic {
	width: 80px;
	height: 80px;
	background-color: #C4c4c4;
	border-radius: 80px;
}
.ar .single-recipe .comment-box .comment-name {
	font-size: 0.8rem;
	text-align: center;
}
.ar .single-recipe .comment-box .comments-body p {
	font-size: 1rem;
	color: #124391;
	font-family: "Cairo Regular";
}
.ar .single-recipe .comment-box .comment-reply-btn {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 20px;
	color: #124391;
	font-family: "Cairo SemiBold";
	font-weight: bold;
	font-size: 1em;
	margin-top: 10px;
	background-color: transparent;
	text-transform: uppercase;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.ar .single-recipe .comment-box .comment-reply-btn:hover {
	background-color: #124391;
	color: #ffffff;
}
.ar .single-recipe .comment-box .comment-see-replies {
	float: right;
	width: 150px;
	color: #848484;
	font-family: "Cairo Regular";
	background-color: #fcfcfc;
	font-size: 1rem;
	margin-left: 10px;
	margin-top: 10px;
	height: 43px;
	background-position: left center;
}
.ar .single-recipe .comment-box .comments-view-more {
	text-align: center;
}
.ar .single-recipe .comment-box .comments-view-more select {
	width: 150px;
	color: #848484;
	font-family: "Cairo Regular";
	background-color: #fcfcfc;
	font-size: 1rem;
	background-position: left center;
}
.ar .single-recipe .comment-box .add-comment-headline {
	text-align: right;
	font-family: "Cairo Regular";
	font-size: 30px;
	color: #124391;
	margin-bottom: 15px;
}
.ar .single-recipe .comment-box .add-comment-box textarea {
	width: 100%;
	resize: none;
}
.ar .single-recipe .comment-box .add-comment-btn, .ar .single-recipe .comment-respond .form-submit {
	text-align: left;
}
.ar .single-recipe .comment-box .add-comment-btn button, .ar .single-recipe .comment-respond .form-submit .submit {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 20px;
	color: #124391;
	font-family: "Cairo SemiBold";
	font-weight: bold;
	font-size: 0.6em;
	margin-top: 10px;
	background-color: transparent;
	text-transform: uppercase;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.ar .single-recipe .comment-box .add-comment-btn button:hover, .ar .single-recipe .comment-respond .form-submit .submit:hover {
	background-color: #124391;
	color: #ffffff;
}
.ar .single-recipe .be-our-chef {
	margin-top: 110px;
}
.ar .single-recipe .be-our-chef .transparent-block {
	height: 539px !important;
}
.ar .single-recipe .recipe-ingredients span {
	display: none;
}

@media screen and (max-width: 640px) {
	.ar .single-recipe .recipe-video iframe {
	height: 300px;
}
.ar .single-recipe .recipe-video-btn {
	font-size: 14px;
	padding: 3px 10px;
}
.ar .single-recipe .favorite-btn {
	padding: 7px 20px;
	    margin-top: 0;
}
	

.ar .single-recipe .recipe-buttons-box {
	text-align: center;
}
.ar .single-recipe .recipe-buttons-box ul {
	float: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}
	.ar .single-recipe .recipe-buttons-box ul li {
		float: none;
	display: inline;
	margin: 0;
	}
.ar .single-recipe .recipe-title {
	margin-top: 30px;
	text-align: center;
	font-size: 25px;
}
.ar .single-recipe .recipe-description, .ar .single-recipe .recipe-ingredients, .ar .single-recipe .recipe-instruction {
	text-align: center;
	font-size: 14px;
}
.ar .single-recipe .recipe-ingredients h2 {
	text-align: center;
	font-size: 25px;
}
.ar .single-recipe .recipe-instruction h2 {
	text-align: center;
}
.ar .single-recipe .recipe-title img, .ar .single-recipe .recipe-instruction img, .ar .single-recipe .recipe-ingredients img {
	height: 20px;
	margin-top: -8px;
	margin-right: 10px;
}
.ar .single-recipe .recipe-servings-wrapper, .ar .single-recipe .recipe-servings, .ar .single-recipe .recipe-servings-caption {
	margin-bottom: 15px;
}
.ar .single-recipe .recipe-servings-wrapper {
	float: none;
	display: inline-block;
}
.ar .single-recipe .recipe-servings-caption {
	height: 30px;
	line-height: 30px;
}
.ar .single-recipe .recipe-serving {
	width: 8px;
	height: 30px;
}
.ar .single-recipe .recipe-ingredients, .ar .single-recipe .recipe-instruction {
	padding: 30px 30px 0 30px;
}
.ar .single-recipe .recipe-ingredients ul, .ar .single-recipe .recipe-instruction ul {
	display: inline-block;
	max-width: 100%;
}
.ar .single-recipe .recipe-ingredients ul li, .ar .single-recipe .recipe-instruction ol li {
	font-size: 14px;
}
.ar .single-recipe .recipe-ingredients ul li::before {
	width: 16px;
	height: 16px;
}
.ar .single-recipe .recipe-instruction ol li::before {
	font-size: 17px;
	padding: 3px 0 3px 22px;
}
.ar .single-recipe .recipe-grid {
	margin-top: 40px;
}
.ar .single-recipe .prev-btn a, .ar .single-recipe .next-btn a {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 20px;
	color: #124391;
	font-family: "Cairo SemiBold";
	font-weight: bold;
	font-size: 14px;
	background-color: transparent;
	text-transform: uppercase;
	min-width: 132px;
	text-align: center;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.ar .single-recipe .next-btn {
	text-align: right;
}
.ar .single-recipe .prev-btn {
	text-align: left;
}
.ar .single-recipe .prev-btn a:hover, .ar .single-recipe .next-btn a:hover {
	background-color: #124391;
	color: #ffffff;
}
.ar .single-recipe .comments-headline {
	text-align: center;
}
.ar .single-recipe .comment-box .profile-pic {
	margin: 10px auto;
	width: 40px;
	height: 40px;
}
.ar .single-recipe .comment-box .comment-reply-btn {
	margin-top: 0;
}
.ar .single-recipe .comment-box .add-comment-headline {
	font-size: 25px;
}
.ar .single-recipe .comment-see-replies {
	height: 43px;
	background-position: left center;
}
.ar .single-recipe .comments-view-more {
	margin-top: 30px;
}
.ar .single-recipe .comment-box .comments-view-more select {
	font-size: 10px;
	width: 100px;
	height: 28px;
	padding: 0 10px;
}
.ar .single-recipe .comment-box .add-comment-btn {
	text-align: center;
}
.ar .single-recipe .comment-box .add-comment-btn button {
	font-size: 11.5px;
	width: 80px;
	height: 25px;
	line-height: 21px;
	padding: 0;
}
.ar .single-recipe .recipe-grid .recipes-grid-element {
	margin: 0;
}
.ar .single-recipe .recipe-grid .recipes-grid-element {
	margin-bottom: 4px;
}
.ar .single-recipe .ymal-headline {
	font-size: 17px;
}
.ar .single-recipe .recipe-grid .recipes-grid-element p {
	font-size: 9px;
}
.ar .single-recipe .recipe-grid .recipes-grid-element {
	margin-bottom: 4px;
}
.ar .single-recipe .recipe-grid .recipes-grid-element h2 {
	font-size: 17px;
}
.ar .single-recipe .recipe-grid .recipes-grid-element .transparent-button {
	font-size: 12px;
	min-width: 112px;
	height: 30px;
	padding: 0;
	line-height: 26px;
	letter-spacing: 1px;
}
.ar .single-recipe .be-our-chef {
	margin-top: 40px;
}
.ar .single-recipe .be-our-chef .recipes-grid-element {
	height: 330px !important;
}
.ar .single-recipe .be-our-chef .transparent-block {
	height: 330px !important;
}
.ar .single-recipe .ymal-recipes {
	margin-top: 40px !important;
}
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
.ar .single-recipe .recipe-buttons-box {
	text-align: center;
}
.ar .single-recipe .recipe-buttons-box ul {
	float: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.ar .single-recipe .recipe-title {
	margin-top: 30px;
	text-align: center;
}
.ar .single-recipe .recipe-description, .ar .single-recipe .recipe-ingredients, .ar .single-recipe .recipe-instruction {
	text-align: center;
}
.ar .single-recipe .recipe-ingredients h2 {
	text-align: center;
}
.ar .single-recipe .recipe-instruction h2 {
	text-align: center;
}
.ar .single-recipe .recipe-title img, .ar .single-recipe .recipe-instruction img, .ar .single-recipe .recipe-ingredients img {
	height: 20px;
	margin-top: -8px;
	margin-right: 10px;
}
.ar .single-recipe .recipe-servings-wrapper, .ar .single-recipe .recipe-servings, .ar .single-recipe .recipe-servings-caption {
	margin-bottom: 15px;
}
.ar .single-recipe .recipe-servings-wrapper {
	float: none;
	display: inline-block;
}
.ar .single-recipe .recipe-servings-caption {
	height: 30px;
	line-height: 30px;
}
.ar .single-recipe .recipe-serving {
	width: 8px;
	height: 30px;
}
.ar .single-recipe .recipe-ingredients, .ar .single-recipe .recipe-instruction {
	padding: 30px 30px 0 30px;
}
.ar .single-recipe .recipe-ingredients ul, .ar .single-recipe .recipe-instruction ul {
	display: inline-block;
	max-width: 100%;
}
.ar .single-recipe .prev-btn a, .ar .single-recipe .next-btn a {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 20px;
	color: #124391;
	font-family: "Cairo SemiBold";
	font-weight: bold;
	font-size: 1em;
	background-color: transparent;
	text-transform: uppercase;
	min-width: 180px;
	text-align: center;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.ar .single-recipe .next-btn {
	text-align: right;
}
.ar .single-recipe .prev-btn {
	text-align: left;
}
.ar .single-recipe .prev-btn a:hover, .ar .single-recipe .next-btn a:hover {
	background-color: #124391;
	color: #ffffff;
}
.ar .single-recipe .comments-headline {
	text-align: center;
}
.ar .single-recipe .profile-pic {
	margin: 10px auto;
}
.ar .single-recipe .comment-box .comment-reply-btn {
	margin-top: 0;
}
.ar .single-recipe .comment-see-replies {
	height: 43px;
	background-position: left center;
}
.ar .single-recipe .comments-view-more {
	margin-top: 30px;
}
.ar .single-recipe .comment-box .add-comment-btn {
	text-align: center;
}
.ar .single-recipe .recipe-grid .recipes-grid-element {
	margin: 0;
}
}
/* 
=================================
         COMMENTS
=================================
*/
.comments-title {
	display: none;
}
.comment-list, .comment-list li {
	list-style: none;
}
.comment-avatar {
	float: left;
}
.comment-notes {
	font-size: 12px;
}
.comment-notes #email-notes {
	display: block;
}
.comment-form label {
	display: inline-block;
}
.comment-form .required {
	font-size: 10px;
}
.logged-in-as {
	font-size: 12px;
	display: none;
}
.user-ratings {
	display: none;
}
/* 
=================================
        10. Single Post Social Popup
=================================
*/

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 1070 !important;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.popup {
	margin: 170px auto;
	background: #fff;
	width: 35%;
	position: relative;
	transition: all 5s ease-in-out;
	z-index: 1080 !important;
}
.popup h2 {
	font-family: "Capriola";
	font-size: 1.7rem;
	color: #124391;
	text-align: center;
	border-bottom: 1px solid #eee;
	padding: 20px;
	line-height: 20px;
	font-style: normal;
	font-weight: 600;
	background: #f7f7f7;
	margin-bottom: 10px;
}
.popup .close-popup {
	/** for recipe share popup**/
	position: absolute;
	top: 5px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #aaa;
}
.popup .close-popup:hover {
	color: #333;
}
.popup .content {
	max-height: 40%;
	overflow: auto;
	padding: 5px;
}
.popup .content p, .popup .content div {
	text-align: center;
}
.popup .content p {
	font-style: italic;
	font-size: 18px;
	font-family: Lora, 'PT Serif', sans-serif;
}
.popup .social-icons {
	float: none !important;
	text-align: center;
	display: inline-block;
}
.popup .social-icons li {
	margin: 0 5px !important;
}
.popup .social-icons a {
	background: #124391;
	font-size: 20px !important;
	padding: 7px 5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: padding;
}
.popup .social-icons a:hover {
	background: #fff;
}
.popup .social-icons a:hover .fa {
	color: #124391;
}
.popup .social-icons a .fa {
	color: #fff;
	width: 30px;
}

@media screen and (max-width: 640px) {
.popup {
	width: 90%;
}
}
/* 
=================================
       Pagination
=================================
*/

.pagination {
	display: none;
}
.yith-infs-loader {
	width: 100% !important;
}
.yith-infs-loader img {
	margin: 0 auto;
	display: block !important;
}
/* 
=================================
       SEARCH
=================================
*/
/*
 .ar .search .search-results-headline {
    text-align: left;
    font-family: "Capriola";
    font-size: 30px;
    color: #124391;
    margin-bottom: 30px;
    padding-top: 30px; }
  .ar .search .search-result-image .thumb {
    width: 100%;
    height: 150px;
    border: 1px solid #95a0aa;
    border-radius: 10px;
    padding-left: 35px; }
  .ar .search .search-result-text {
    padding-top: 0;
    padding-left: 0; }
    .ar .search .search-result-text h2 {
      text-align: left;
      font-family: "Capriola";
      font-size: 24px;
      color: #124391; }
    .ar .search .search-result-text p {
      font-family: "Open Sans";
      font-size: 22.2px;
      color: #124391;
      padding-right: 35px;
      padding-left: 0; }
  .ar .search .search-results-wrapper .search-results-box:nth-child(odd) {
    background-color: #ffffff; }
  .ar .search .search-results-box {
    position: relative;
    padding: 20px 0 20px 0; }
  .ar .search .read-more-btn {
    border: 3px solid #124391;
    display: inline-block;
    padding: 0;
    color: #124391;
    font-family: "Open Sans Condensed Bold";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 10px;
    background-color: transparent;
    text-transform: uppercase;
    width: 110px;
    height: 30px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .ar .search .read-more-btn:hover {
    background-color: #124391;
    color: #ffffff; }
  .ar .search .search-load-more-box {
    text-align: center; }
    .ar .search .search-load-more-box .load-more-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 0;
      color: #124391;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      font-size: 18.1px;
      letter-spacing: 2px;
      margin-top: 70px;
      margin-bottom: 20px;
      background-color: transparent;
      text-transform: uppercase;
      width: 134px;
      height: 43px;
      line-height: 41px;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .ar .search .search-load-more-box .load-more-btn:hover {
      background-color: #124391;
      color: #ffffff; }

*/
/* 
=================================
          12. Footer
=================================
*/
.ar .footer .footer-box .menu {
	float: left;
	width: 120px;
	margin-top: 30px;
	display: block;
}
.ar .footer .footer-box .menu li a {
	text-transform: uppercase;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.ar .footer .footer-box .menu .active>a {
	background: none;
}
.ar .footer .footer-bottom .menu {
	float: none;
	width: auto;
	margin-top: 0px;
	display: inherit;
}
.ar .footer .footer-bottom {
	text-transform: uppercase;
	font-family: "Cairo Regular";
	font-size: 14px;
}
.ar .footer .footer-bottom div {
	margin-right: 10px;
	display: inline;
}
.ar .footer .footer-bottom .menu li {
	display: inline;
	margin-bottom: 20px;
	letter-spacing: 0;
	font-weight: normal;
	font-family: "Cairo Regular";
	font-size: 14px;
	border-left: 1px solid #6786b8;
}
.ar .footer .footer-bottom .menu li:first-child {
	border-right: 1px solid #6786b8;
	margin-left: 10px;
}
.ar .footer .footer-bottom .menu li:last-child {
	border-left: none;
}
.ar .footer .footer-bottom .menu li a {
	display: inline;
}
.ar .footer .footer-bottom .menu .active>a {
	background: none;
}
.instagram-wrapper .owl-wrapper {
	right: 0 !important;
	left: auto !important;
	transform: translate3d(+1320px, 0px, 0px);
	transition: all 200ms ease;
}
.instagram-wrapper .owl-wrapper .owl-item {
	width: 150px !important;
	height: 150px !important;
	margin-right: 10px !important;
}

@media screen and (max-width: 640px) {
.ar .footer .footer-bottom .menu li:first-child {
	margin-left: 5px;
}
.ar .footer .footer-bottom .menu a {
	padding: 0 6px 0 3px;
}
}
/* 
=================================
         MEMBER AREA 
=================================
*/
.ar .user-account header, .ar .user-account .instragram-block {
	direction: rtl;
}
.ar .user-account .user-account-box .user-account-header {
/*margin-bottom: 45px;*/
}
.ar .user-account .recipes-grid-element h2 {
	font-size: 19px;
	line-height: 1.2;
}
.ar .user-account .user-account-header, .ar .user-account .submit-profile-form label, .ar .user-account .submit-recipe-form label, .button {
	text-transform: uppercase;
}
.ar .user-account input[type=file] {
	padding: 4px;
    font-size: 12px;
    height: 40px;
}
.ar .user-account .submit-recipe-form input, .ar .user-account .submit-recipe-form select, .ar .user-account .submit-recipe-form .mce-tinymce.mce-container.mce-panel, .en .user-account .submit-recipe-form textarea {
	line-height: normal;
}
.ar .user-account .submit-profile-form .form-submit-btn, .ar .user-account .submit-recipe-form .form-submit-btn {
	width: auto;
	padding: 0px 20px;
}
.ar .user-account .submit-recipe-form .sub-text {
	margin: 0;
	padding: 0;
}
.ar .user-account .submit-recipe-form .error{
	font-size: 12px;
    margin: 0px;
    color: red;
    text-transform: inherit;
}
/*********** My Recipes ************/

.member-controls {
	margin-top: 5px;
}
.member-controls a {
	padding: 2px;
	background: none;
	color: #124391 !important;
}
.member-controls a:hover, .member-controls a:active, .member-controls a:focus {
	background: #fff;
}
.member-controls i {
	color: #124391 !important;
}
.ar .user-account .recipes-grid-element .grid-inner {
	position: relative;
}
.ar .user-account.favorites .recipes-grid-element .grid-inner > .column {
	padding: 6% 5px 2%;
	margin: 0;
	right: 0;
	position: absolute;
	border-radius: 0;
}
.ar .user-account.favorites .recipe-grid .grid-inner .white-block {
	float: right;
	border-radius: 0;
}

.ar .successful-update{
	margin-top: 25px;
	font-family: "Open Sans";
    font-size: 18px;
    color: #124391;
    
}

.ar .successful-update h3{


    font-weight: bold;
}


/*********** My Favotrite Recipes ************/

/* 
=================================
         13. Copyright
=================================
*/


/* 
=================================
       14. Author Details
=================================
*/


/* 
=================================
         15. Thumb
=================================
*/

/* 
=================================
    16. Single Page Heading
=================================
*/


/* 
=================================
         DEV TIPS Inner
=================================
*/

.ar .recipes .recipes-grid .recipes-filter select {
	direction: rtl;
}
.ar .recipes .recipes-grid {
	direction: rtl;
}
.ar .single-tips .carousel-inner img {
	width: 100%;
}
.ar .single-tips .header-box {
	position: relative;
	margin-bottom: 30px;
}
.ar .single-tips .main-image {
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: center center;
	position: relative;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.ar .single-tips .main-image .yt-video {
	width: 100%;
	height: 1080px;
	position: absolute;
	top: 50%;
	margin-top: -540px;
	left: 0;
	z-index: 100;
}
.ar .single-tips .main-image .master-slider {
	width: 100%;
	height: 500px;
}
.ar .single-tips .main-container {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.28);
	width: 100%;
	height: 100%;
	margin: 0;
}
.ar .single-tips .main-container h1 {
	text-transform: uppercase;
	color: #ffffff;
	font-family: "Cairo Regular";
	font-size: 58.8px;
}
.ar .single-tips .main-container .recipe-date, .ar .single-tips .main-container .submitted-by {
	font-family: "Cairo Regular";
	font-size: 1rem;
	color: #ffffff;
}
.ar .single-tips .main-container .recipe-submitted-img {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	background-color: #ffffff;
	margin-bottom: 15px;
}
.ar .single-tips .recipe-video {
	text-align: center;
	margin: 0 auto;
}
.ar .single-tips .recipe-video-btn {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 20px;
	color: #124391;
	font-family: "Cairo SemiBold";
	font-weight: bold;
	font-size: 1em;
	margin-top: 10px;
	background-color: transparent;
	text-transform: uppercase;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.ar .single-tips .recipe-video-btn:hover {
	background-color: #124391;
	color: #ffffff;
}
.ar .single-tips .favorite-btn {
	padding: 12px 20px;
}
.ar .single-tips .recipe-buttons-box {
	display: inline-block;
	text-align: right;
}
.ar .single-tips .recipe-buttons-box ul {
	float: left;
	margin: 0;
}
.ar .single-tips .recipe-buttons-box ul li {
	list-style: none;
	float: left;
	margin-left: 5px;
}
.ar .single-tips .recipe-servings-wrapper, .ar .single-tips .recipe-servings, .ar .single-tips .recipe-servings-caption {
	float: right;
	margin-bottom: 40px;
}
.ar .single-tips .recipe-servings-wrapper {
	margin-top: 10px;
}
.ar .single-tips .recipe-serving {
	height: 32px;
	width: 8px;
	background-image: url(../img/servings-icon.png);
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	margin-left: 7px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.ar .single-tips .recipe-servings-caption {
	height: 32px;
	padding-right: 32px;
	line-height: 32px;
	font-size: 18px;
	color: #124391;
	font-family: "Cairo Regular";
}
.ar .single-tips .recipe-buttons-box ul li {
	list-style: none;
	float: left;
	margin-right: 5px;
}
.ar .single-tips .recipe-title {
	text-align: right;
	font-family: "Cairo Regular";
	font-size: 30px;
	color: #124391;
	margin-bottom: 15px;
}
.ar .single-tips .recipe-description {
	text-align: right;
	font-family: "Cairo Regular";
	font-size: 16px;
	color: #124391;
	margin-bottom: 35px;
}
.ar .single-tips .recipe-ingredients {
	background-color: #ffffff;
}
.ar .single-tips .recipe-ingredients, .ar .single-tips .recipe-instruction {
	padding: 30px 30px 30px 50px;
}
.ar .single-tips .recipe-ingredients h2, .ar .single-tips .recipe-instruction h2 {
	text-align: right;
	font-family: "Cairo Regular";
	font-size: 30px;
	color: #124391;
	margin-bottom: 15px;
}
.ar .single-tips .recipe-title img, .ar .single-tips .recipe-instruction img, .ar .single-tips .recipe-ingredients img {
	height: 26px;
	margin-top: -8px;
	margin-left: 14px;
}
.ar .single-tips .recipe-ingredients ul li, .ar .single-tips .recipe-instruction ol li {
	margin-bottom: 10px;
	text-align: right;
	font-family: "Cairo Regular";
	font-size: 16px;
	color: #124391;
	margin-bottom: 15px;
}
.ar .single-tips .recipe-instruction ol, .ar .single-tips .recipe-ingredients ul {
	margin-left: 0;
	padding-right: 0;
	list-style-type: none;
}
.ar .single-tips .recipe-instruction ol li {
	counter-increment: step-counter;
	display: table-row;
}
.ar .single-tips .recipe-instruction ul li {
	counter-increment: step-counter;
	display: table-row;
}
.ar .single-tips .recipe-instruction ol li::before {
	content: counter(step-counter);
	margin-right: 5px;
	font-size: 1.5rem;
	color: #124391;
	font-weight: bold;
	padding: 3px 0 3px 25px;
	border-radius: 3px;
	font-family: "Cairo Regular";
	display: table-cell;
}
.ar .single-tips .recipe-ingredients ul li::before {
	content: counter(step-counter);
	margin-left: 15px;
	color: transparent;
	border: 3px solid #124391;
	padding: 3px 5px;
	font-size: 0.1rem;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	float: right;
	display: table-cell;
	margin-bottom: 15px;
}
.ar .single-tips .recipe-grid {
	position: relative;
	margin-top: 95px;
}
.ar .single-tips .recipe-grid .recipes-filter {
	position: absolute;
	width: 270px;
	top: -45px;
	right: 5px;
}
.ar .single-tips .recipe-grid .recipes-filter select {
	color: #848484;
	font-family: "Cairo Regular";
	background-color: #ffffff;
	font-size: 15px;
	background-position: left center;
	padding: 0 5px;
}
.ar .single-tips .recipe-grid .recipes-grid-element {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	text-align: center;
	border: 5px solid #f7f7f7;
}
.ar .single-tips .recipe-grid .recipes-grid-element .white-block {
	background-color: #ffffff;
	height: 330px;
	background-position: top center;
	background-repeat: no-repeat;
}
.ar .single-tips .recipe-grid .recipes-grid-element .white-block .philly-image {
	width: 70%;
	margin: 0 auto;
}
.ar .single-tips .recipe-grid .recipes-grid-element .transparent-block {
	background: rgba(255, 255, 255, 0.75) !important;
	height: 330px;
}
.ar .single-tips .recipe-grid .recipes-grid-element h2 {
	text-transform: uppercase;
	color: #124391;
	font-family: "Cairo Regular";
	font-size: 1.8em;
}
.ar .single-tips .recipe-grid .recipes-grid-element p {
	color: #124391;
	font-family: "Cairo Regular";
	font-size: 16px;
	display: inline-block;
	width: 80%;
}
.ar .single-tips .recipe-grid .recipes-grid-element .transparent-button {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 25px;
	color: #124391;
	font-family: "Cairo SemiBold";
	font-weight: bold;
	font-size: 1em;
	margin-top: 10px;
	background-color: transparent;
	min-width: 180px;
	text-transform: uppercase;
}
.ar .single-tips .recipe-grid .recipes-grid-element .transparent-button:hover {
	background-color: #124391;
	color: #ffffff;
}
.ar .single-tips .recipe-grid .recipes-grid-element .grid-inner {
	height: 330px;
	margin: 0;
	display: table;
}
.ar .single-tips .recipe-grid .recipes-grid-element .grid-inner > .column {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	background: none;
	border-radius: 0;
}
.ar .single-tips .recipe-grid .left {
	border-top: 5px solid #ffffff;
	border-right: 5px solid #ffffff;
	border-bottom: 5px solid #ffffff;
}
.ar .single-tips .recipe-grid .right {
	border-top: 5px solid #ffffff;
	border-left: 5px solid #ffffff;
	border-bottom: 5px solid #ffffff;
}
.ar .single-tips .ymal-recipes {
	direction: ltr;
	margin-top: 75px !important;
}
.ar .single-tips .ymal-headline {
	text-align: center;
	font-family: "Cairo Regular";
	font-size: 30px;
	color: #124391;
	margin-bottom: 15px;
}
.ar .single-tips .comment-box {
	padding: 30px 0;
	background-color: #ffffff;
	margin-top: 50px;
}
.ar .single-tips .comment-box .comment {
	margin-bottom: 30px;
}
.ar .single-tips .comment-box .comments-headline, .comment-reply-title {
	text-align: right;
	font-family: "Cairo Regular";
	font-size: 1.5rem;
	color: #124391;
	margin-bottom: 15px;
	margin-top: 15px;
	unicode-bidi: embed;
}
.ar .single-tips .comment-box .profile-pic {
	width: 80px;
	height: 80px;
	background-color: #C4c4c4;
	border-radius: 80px;
}
.ar .single-tips .comment-box .comment-name {
	font-size: 0.8rem;
	text-align: center;
}
.ar .single-tips .comment-box .comments-body p {
	font-size: 1rem;
	color: #124391;
	font-family: "Cairo Regular";
}
.ar .single-tips .comment-box .comment-reply-btn {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 20px;
	color: #124391;
	font-family: "Cairo SemiBold";
	font-weight: bold;
	font-size: 1em;
	margin-top: 10px;
	background-color: transparent;
	text-transform: uppercase;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.ar .single-tips .comment-box .comment-reply-btn:hover {
	background-color: #124391;
	color: #ffffff;
}
.ar .single-tips .comment-box .comment-see-replies {
	float: right;
	width: 150px;
	color: #848484;
	font-family: "Cairo Regular";
	background-color: #fcfcfc;
	font-size: 1rem;
	margin-left: 10px;
	margin-top: 10px;
	height: 43px;
	background-position: left center;
}
.ar .single-tips .comment-box .comments-view-more {
	text-align: center;
}
.ar .single-tips .comment-box .comments-view-more select {
	width: 150px;
	color: #848484;
	font-family: "Cairo Regular";
	background-color: #fcfcfc;
	font-size: 1rem;
	background-position: left center;
}
.ar .single-tips .comment-box .add-comment-headline {
	text-align: right;
	font-family: "Cairo Regular";
	font-size: 30px;
	color: #124391;
	margin-bottom: 15px;
}
.ar .single-tips .comment-box .add-comment-box textarea {
	width: 100%;
	resize: none;
}
.ar .single-tips .comment-box .add-comment-btn, .ar .single-tips .comment-respond .form-submit {
	text-align: left;
}
.ar .single-tips .comment-box .add-comment-btn button, .ar .single-tips .comment-respond .form-submit .submit {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 20px;
	color: #124391;
	font-family: "Cairo SemiBold";
	font-weight: bold;
	font-size: 0.6em;
	margin-top: 10px;
	background-color: transparent;
	text-transform: uppercase;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.ar .single-tips .comment-box .add-comment-btn button:hover, .ar .single-tips .comment-respond .form-submit .submit:hover {
	background-color: #124391;
	color: #ffffff;
}
.ar .single-tips .be-our-chef {
	margin-top: 110px;
}
.ar .single-tips .be-our-chef .transparent-block {
	height: 539px !important;
}
.ar .single-tips .recipe-ingredients span {
	display: none;
}

@media screen and (max-width: 640px) {
	.ar .single-tips .recipe-video iframe {
	height: 300px;
}
.ar .single-tips .recipe-video-btn {
	font-size: 14px;
	padding: 3px 10px;
}
.ar .single-tips .favorite-btn {
	padding: 7px 20px;
	    margin-top: 0;
}
	

.ar .single-tips .recipe-buttons-box {
	text-align: center;
}
.ar .single-tips .recipe-buttons-box ul {
	float: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}
	.ar .single-tips .recipe-buttons-box ul li {
		float: none;
	display: inline;
	margin: 0;
	}
.ar .single-tips .recipe-title {
	margin-top: 30px;
	text-align: center;
	font-size: 25px;
}
.ar .single-tips .recipe-description, .ar .single-tips .recipe-ingredients, .ar .single-tips .recipe-instruction {
	text-align: center;
	font-size: 14px;
}
.ar .single-tips .recipe-ingredients h2 {
	text-align: center;
	font-size: 25px;
}
.ar .single-tips .recipe-instruction h2 {
	text-align: center;
}
.ar .single-tips .recipe-title img, .ar .single-tips .recipe-instruction img, .ar .single-tips .recipe-ingredients img {
	height: 20px;
	margin-top: -8px;
	margin-right: 10px;
}
.ar .single-tips .recipe-servings-wrapper, .ar .single-tips .recipe-servings, .ar .single-tips .recipe-servings-caption {
	margin-bottom: 15px;
}
.ar .single-tips .recipe-servings-wrapper {
	float: none;
	display: inline-block;
}
.ar .single-tips .recipe-servings-caption {
	height: 30px;
	line-height: 30px;
}
.ar .single-tips .recipe-serving {
	width: 8px;
	height: 30px;
}
.ar .single-tips .recipe-ingredients, .ar .single-tips .recipe-instruction {
	padding: 30px 30px 0 30px;
}
.ar .single-tips .recipe-ingredients ul, .ar .single-tips .recipe-instruction ul {
	display: inline-block;
	max-width: 100%;
}
.ar .single-tips .recipe-ingredients ul li, .ar .single-tips .recipe-instruction ol li {
	font-size: 14px;
}
.ar .single-tips .recipe-ingredients ul li::before {
	width: 16px;
	height: 16px;
}
.ar .single-tips .recipe-instruction ol li::before {
	font-size: 17px;
	padding: 3px 0 3px 22px;
}
.ar .single-tips .recipe-grid {
	margin-top: 40px;
}
.ar .single-tips .prev-btn a, .ar .single-tips .next-btn a {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 20px;
	color: #124391;
	font-family: "Cairo SemiBold";
	font-weight: bold;
	font-size: 14px;
	background-color: transparent;
	text-transform: uppercase;
	min-width: 132px;
	text-align: center;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.ar .single-tips .next-btn {
	text-align: right;
}
.ar .single-tips .prev-btn {
	text-align: left;
}
.ar .single-tips .prev-btn a:hover, .ar .single-tips .next-btn a:hover {
	background-color: #124391;
	color: #ffffff;
}
.ar .single-tips .comments-headline {
	text-align: center;
}
.ar .single-tips .comment-box .profile-pic {
	margin: 10px auto;
	width: 40px;
	height: 40px;
}
.ar .single-tips .comment-box .comment-reply-btn {
	margin-top: 0;
}
.ar .single-tips .comment-box .add-comment-headline {
	font-size: 25px;
}
.ar .single-tips .comment-see-replies {
	height: 43px;
	background-position: left center;
}
.ar .single-tips .comments-view-more {
	margin-top: 30px;
}
.ar .single-tips .comment-box .comments-view-more select {
	font-size: 10px;
	width: 100px;
	height: 28px;
	padding: 0 10px;
}
.ar .single-tips .comment-box .add-comment-btn {
	text-align: center;
}
.ar .single-tips .comment-box .add-comment-btn button {
	font-size: 11.5px;
	width: 80px;
	height: 25px;
	line-height: 21px;
	padding: 0;
}
.ar .single-tips .recipe-grid .recipes-grid-element {
	margin: 0;
}
.ar .single-tips .recipe-grid .recipes-grid-element {
	margin-bottom: 4px;
}
.ar .single-tips .ymal-headline {
	font-size: 17px;
}
.ar .single-tips .recipe-grid .recipes-grid-element p {
	font-size: 9px;
}
.ar .single-tips .recipe-grid .recipes-grid-element {
	margin-bottom: 4px;
}
.ar .single-tips .recipe-grid .recipes-grid-element h2 {
	font-size: 17px;
}
.ar .single-tips .recipe-grid .recipes-grid-element .transparent-button {
	font-size: 12px;
	min-width: 112px;
	height: 30px;
	padding: 0;
	line-height: 26px;
	letter-spacing: 1px;
}
.ar .single-tips .be-our-chef {
	margin-top: 40px;
}
.ar .single-tips .be-our-chef .recipes-grid-element {
	height: 330px !important;
}
.ar .single-tips .be-our-chef .transparent-block {
	height: 330px !important;
}
.ar .single-tips .ymal-recipes {
	margin-top: 40px !important;
}
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
.ar .single-tips .recipe-buttons-box {
	text-align: center;
}
.ar .single-tips .recipe-buttons-box ul {
	float: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.ar .single-tips .recipe-title {
	margin-top: 30px;
	text-align: center;
}
.ar .single-tips .recipe-description, .ar .single-tips .recipe-ingredients, .ar .single-tips .recipe-instruction {
	text-align: center;
}
.ar .single-tips .recipe-ingredients h2 {
	text-align: center;
}
.ar .single-tips .recipe-instruction h2 {
	text-align: center;
}
.ar .single-tips .recipe-title img, .ar .single-tips .recipe-instruction img, .ar .single-tips .recipe-ingredients img {
	height: 20px;
	margin-top: -8px;
	margin-right: 10px;
}
.ar .single-tips .recipe-servings-wrapper, .ar .single-tips .recipe-servings, .ar .single-tips .recipe-servings-caption {
	margin-bottom: 15px;
}
.ar .single-tips .recipe-servings-wrapper {
	float: none;
	display: inline-block;
}
.ar .single-tips .recipe-servings-caption {
	height: 30px;
	line-height: 30px;
}
.ar .single-tips .recipe-serving {
	width: 8px;
	height: 30px;
}
.ar .single-tips .recipe-ingredients, .ar .single-tips .recipe-instruction {
	padding: 30px 30px 0 30px;
}
.ar .single-tips .recipe-ingredients ul, .ar .single-tips .recipe-instruction ul {
	display: inline-block;
	max-width: 100%;
}
.ar .single-tips .prev-btn a, .ar .single-tips .next-btn a {
	border: 3px solid #124391;
	display: inline-block;
	padding: 8px 20px;
	color: #124391;
	font-family: "Cairo SemiBold";
	font-weight: bold;
	font-size: 1em;
	background-color: transparent;
	text-transform: uppercase;
	min-width: 180px;
	text-align: center;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.ar .single-tips .next-btn {
	text-align: right;
}
.ar .single-tips .prev-btn {
	text-align: left;
}
.ar .single-tips .prev-btn a:hover, .ar .single-tips .next-btn a:hover {
	background-color: #124391;
	color: #ffffff;
}
.ar .single-tips .comments-headline {
	text-align: center;
}
.ar .single-tips .profile-pic {
	margin: 10px auto;
}
.ar .single-tips .comment-box .comment-reply-btn {
	margin-top: 0;
}
.ar .single-tips .comment-see-replies {
	height: 43px;
	background-position: left center;
}
.ar .single-tips .comments-view-more {
	margin-top: 30px;
}
.ar .single-tips .comment-box .add-comment-btn {
	text-align: center;
}
.ar .single-tips .recipe-grid .recipes-grid-element {
	margin: 0;
}
}


.ar .dropbtn.btn{color:#95a0aa;font-size:18px;font-weight:bold;letter-spacing:1px;background:transparent;padding:0;margin-top:0px;box-shadow:0 0 0;border: 0;}
.ar .dropbtn.btn:focus,.ar .dropbtn.btn:active:focus,.ar .dropbtn.btn.active:focus{outline:0 auto -webkit-focus-ring-color;outline-offset:0}
.ar .dropdown .dropdown-menu{background:#f9f9f9;border:0;border-radius:0;    width: 200px;
    right: 0;}
.ar .dropdown .dropdown-menu li{margin-right:0;display:block;float:none;padding-left:5px;text-align: right;}
.ar .dropdown .dropdown-menu li a{color:#95a0aa;font-weight:bold;letter-spacing:1px;padding:6px 0;font-size:15px!important;display:block}
.ar .dropdown .dropdown-menu li a i{margin-right:5px;margin-left:5px}
@media only screen and (max-width:640px){.ar .dropbtn.btn{font-size:12px;margin-top:-14px;max-width:90px;overflow:hidden;text-overflow:ellipsis;box-shadow:0 0 0}.ar .top-nav-bar .top-nav-links li{margin-left:5px}.ar .dropdown .dropdown-menu li a{font-size:11px!important}}