﻿.login-wrap
{
    padding: 25px;
    text-align: left;
    width: 300px;
    background: #fefefe;
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    margin: 0 auto;
}
@media screen and (min-width:768px)
{
    .login-wrap
    {
        width: 400px;
    }
}
.login-wrap .page-header
{
    background: #ff9638;
    margin: -25px -25px 0 -25px;
    padding: 12.5px 25px;
}
.login-wrap .page-header h1
{
    color: #ffffff;
    font-size: 23px;
    font-weight: 500;
    margin: 0;
    font-family: 'Raleway', 'Open Sans', "Roboto", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
}
.login-wrap .login-description
{
    border-bottom: 1px solid #e7e7e7;
    background: #f4f4f4;
    margin: 0 -25px 12.5px;
    padding: 12.5px 25px;
}
.login-wrap .login-description p
{
    margin-bottom: 0;
}
.login-wrap .login-description .login-image
{
    margin-bottom: 25px;
}
.login-wrap form label
{
    display: block;
    margin-bottom: 5px;
    max-width: 100%;
    width: 100%;
 }
.login-wrap form .login-remember label
{
    font-weight: 400;
 }
.login-wrap form .form-group
{
    margin: 0 0 16.66666667px 0;
}
.login-wrap form .form-group:last-child
{
    margin: 0;
}
.login-wrap form .form-group .form-btn .btn, .login-wrap form .button-primary
{
    background: #ff9638;
    border: 0;
    border-radius: 3px;
    transition: 700ms;
    width: 100%;
    font-family: 'Raleway', 'Open Sans', "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
}
.login-wrap form .form-group .form-btn .btn:hover
{
    background: #DF8636;
}
.login-wrap form .form-group .form-other ul
{
    padding: 0;
    margin: 0;
}
.login-wrap form .form-group .form-other ul li
{
    display: inline-block;
    list-style: none;
    line-height: 1.6;
    margin-right: 12.5px;
    width: 100%;
}
.login-wrap form .form-group .form-other ul li a
{
    color: #3498db;
    font-size: 13px;
}
.login-wrap form .form-group .form-other ul li a:hover, .login-wrap form .form-group .form-other ul li a:focus, .login-wrap form .form-group .form-other ul li a:active
{
    color: #3498db;
    outline: none;
    text-decoration: underline;
}
.login-wrap form .form-group .form-checkbox .checkbox
{
    padding-top: 0;
    min-height: 1px;
}
.login-wrap form .form-group .form-checkbox .checkbox label
{
    margin-bottom: 0;
}
.login-wrap form .form-group .form-checkbox #remember
{
    position: relative;
    top: 2px;
}
.logout h1
{
    color: #333333;
    font-size: 26px;
}
.logout .logout-description
{
    margin-bottom: 25px;
}
.logout .control-group .controls
{
    margin-left: 75px;
}

div.success p, p.success {
  color: #0076FF !important;
  font-weight: 600;
}

div.error p, p.error {
  color: red !important;
  font-weight: 600;
}

.login-wrap form input[type="text"], input[type="password"], input[type="email"], .inputbox {
  background-color: #fafafa;
  width: 100%;
  background-image: none;
  border: 1px solid #dfe5e7;
}
form {
  margin: 0; 
}