@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Cairo Light';
  src: url("../fonts/Cairo-Light.eot");
  src: url("../fonts/Cairo-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Cairo-Light.woff2") format("woff2"), url("../fonts/Cairo-Light.woff") format("woff"), url("../fonts/Cairo-Light.ttf") format("truetype"), url("../fonts/Cairo-Light.svg#Cairo-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Cairo Bold';
  src: url("../fonts/Cairo-Bold.eot");
  src: url("../fonts/Cairo-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Cairo-Bold.woff2") format("woff2"), url("../fonts/Cairo-Bold.woff") format("woff"), url("../fonts/Cairo-Bold.ttf") format("truetype"), url("../fonts/Cairo-Bold.svg#Cairo-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Cairo SemiBold';
  src: url("../fonts/Cairo-SemiBold.eot");
  src: url("../fonts/Cairo-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Cairo-SemiBold.woff2") format("woff2"), url("../fonts/Cairo-SemiBold.woff") format("woff"), url("../fonts/Cairo-SemiBold.ttf") format("truetype"), url("../fonts/Cairo-SemiBold.svg#Cairo-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Cairo Regular';
  src: url("../fonts/Cairo-Regular.eot");
  src: url("../fonts/Cairo-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Cairo-Regular.woff2") format("woff2"), url("../fonts/Cairo-Regular.woff") format("woff"), url("../fonts/Cairo-Regular.ttf") format("truetype"), url("../fonts/Cairo-Regular.svg#Cairo-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Cairo ExtraLight';
  src: url("../fonts/Cairo-ExtraLight.eot");
  src: url("../fonts/Cairo-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Cairo-ExtraLight.woff2") format("woff2"), url("../fonts/Cairo-ExtraLight.woff") format("woff"), url("../fonts/Cairo-ExtraLight.ttf") format("truetype"), url("../fonts/Cairo-ExtraLight.svg#Cairo-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Cairo Black';
  src: url("../fonts/Cairo-Black.eot");
  src: url("../fonts/Cairo-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Cairo-Black.woff2") format("woff2"), url("../fonts/Cairo-Black.woff") format("woff"), url("../fonts/Cairo-Black.ttf") format("truetype"), url("../fonts/Cairo-Black.svg#Cairo-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

* {
  outline: none; }

a {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.en {
  font-family: "Open Sans" !important;
  direction: ltr !important; }

.full-width {
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

body {
  background-color: #f7f7f7; }

.ar {
  direction: rtl;
  padding-top: 135px; }
  .ar header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
    z-index: 999;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
  .ar .header-popup {
    max-width: 415px;
    width: 415px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -207px;
    top: 150px;
    border-radius: 10px;
    display: none;
    z-index: 998; }
    .ar .header-popup .close-btn {
      position: absolute;
      height: 30px;
      left: 20px;
      top: 15px;
      font-size: 20px;
      line-height: 30px;
      cursor: pointer; }
    .ar .header-popup .popup-header {
      height: 63px;
      border-bottom: 2px solid #124391;
      text-align: center;
      font-family: "Cairo SemiBold";
      font-size: 28.6px;
      color: #124391;
      line-height: 63px; }
    .ar .header-popup .popup-form-box {
      width: 358px;
      margin: 45px auto 0 auto; }
      .ar .header-popup .popup-form-box > input {
        border: 2px solid #124391;
        font-family: "Cairo SemiBold";
        font-size: 20.2px;
        margin-bottom: 30px; }
      .ar .header-popup .popup-form-box label {
        color: #124391;
        font-family: "Cairo SemiBold";
        font-size: 22.2px;
        line-height: 23px;
        margin-bottom: 20px; }
      .ar .header-popup .popup-form-box input[type="checkbox"] {
        float: right;
        height: 28px;
        width: 19px;
        border: 2px solid #124391;
        margin-left: 5px; }
    .ar .header-popup .popup-bottom-box {
      background-color: #124391;
      border-radius: 0 0 10px 10px; }
      .ar .header-popup .popup-bottom-box .text-box {
        width: 358px;
        color: #ffffff;
        font-family: "Cairo SemiBold";
        font-size: 22.2px;
        text-align: center;
        padding: 10px;
        margin: 0 auto; }
        .ar .header-popup .popup-bottom-box .text-box a {
          color: #ffffff; }
      .ar .header-popup .popup-bottom-box .text-box.bb {
        border-bottom: 2px dashed #ffffff; }
      .ar .header-popup .popup-bottom-box .submit-btn {
        width: 100%;
        text-align: center;
        font-family: "Cairo SemiBold";
        font-size: 27.5px;
        color: #124391;
        background: #ffffff;
        border: none;
        box-shadow: none;
        margin-bottom: 15px;
        height: 43px;
        line-height: 43px; }
  .ar .top-nav-bar {
    height: 45px;
    background-color: #f9f9f9; }
    .ar .top-nav-bar .social-media-links {
      float: right;
      margin-top: 10px; }
      .ar .top-nav-bar .social-media-links li {
        list-style: none;
        float: right;
        margin-right: 10px; }
        .ar .top-nav-bar .social-media-links li a {
          color: #95a0aa; }
        .ar .top-nav-bar .social-media-links li a:hover {
          color: #333333; }
    .ar .top-nav-bar .top-nav-links {
      display: inline-block;
      float: left;
      margin-top: 5px; }
      .ar .top-nav-bar .top-nav-links li {
        list-style: none;
        float: right;
        margin-left: 15px; }
      .ar .top-nav-bar .top-nav-links .register-link {
        margin-left: 0; }
      .ar .top-nav-bar .top-nav-links a {
        color: #95a0aa;
        font-size: 12.1px;
        font-family: "Cairo SemiBold";
        font-weight: bold; }
      .ar .top-nav-bar .top-nav-links a:hover {
        color: #333333; }
      .ar .top-nav-bar .top-nav-links i {
        font-size: 0.7em;
        vertical-align: middle;
        margin-top: 2px;
        margin-left: 5px; }
      .ar .top-nav-bar .top-nav-links .search-box {
        display: inline-block;
        height: 20px;
        width: 200px;
        border-radius: 15px;
        margin-top: 5px;
        position: relative; }
      .ar .top-nav-bar .top-nav-links .search-box input {
        background-color: #95a0aa;
        height: 24px;
        width: 200px;
        border-radius: 15px;
        font-family: "Cairo SemiBold";
        font-weight: bold;
        padding: 0 10px 0 30px;
        color: #ffffff;
        box-shadow: none;
        border: none;
        font-size: 20px; }
      .ar .top-nav-bar .top-nav-links .search-box .submit-btn {
        left: 4px;
        position: absolute;
        top: 0;
        color: #ffffff;
        font-size: 1.2rem;
        width: 20px;
        height: 20px; }
        .ar .top-nav-bar .top-nav-links .search-box .submit-btn i {
          margin-top: -2px; }
      .ar .top-nav-bar .top-nav-links .search-box input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #ffffff; }
      .ar .top-nav-bar .top-nav-links .search-box input::-moz-placeholder {
        /* Firefox 19+ */
        color: #ffffff; }
      .ar .top-nav-bar .top-nav-links .search-box input:-ms-input-placeholder {
        /* IE 10+ */
        color: #ffffff; }
      .ar .top-nav-bar .top-nav-links .search-box input:-moz-placeholder {
        /* Firefox 18- */
        color: #ffffff; }
  .ar .main-nav-bar {
    height: 90px;
    background-color: #ffffff; }
    .ar .main-nav-bar .logo {
      height: 70px;
      float: right;
      vertical-align: middle;
      margin-top: 10px; }
      .ar .main-nav-bar .logo img {
        height: 100%;
        width: auto; }
    .ar .main-nav-bar .main-nav-links {
      float: left;
      display: inline-block;
      margin-right: -30px; }
      .ar .main-nav-bar .main-nav-links li {
        list-style: none;
        float: right;
        position: relative; }
        .ar .main-nav-bar .main-nav-links li a {
          display: inline-block;
          padding: 0 20px;
          height: 90px;
          font-size: 20px;
          line-height: 90px;
          font-family: "Cairo SemiBold";
          font-weight: bold;
          background-color: #ffffff;
          color: #124391; }
        .ar .main-nav-bar .main-nav-links li a:hover, .ar .main-nav-bar .main-nav-links li a.active {
          background-color: #124391;
          color: #ffffff; }
        .ar .main-nav-bar .main-nav-links li .dropdown-menu {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          z-index: 200;
          min-width: 200px;
          right: 0; }
        .ar .main-nav-bar .main-nav-links li .dropdown-menu li {
          float: none;
          min-width: 200px; }
        .ar .main-nav-bar .main-nav-links li .dropdown-menu li a {
          min-width: 200px;
          height: 50px;
          line-height: 50px;
          background-color: #124391;
          color: #ffffff; }
        .ar .main-nav-bar .main-nav-links li .dropdown-menu li a:hover {
          min-width: 200px;
          height: 50px;
          line-height: 50px;
          background-color: #ffffff;
          color: #124391; }
        .ar .main-nav-bar .main-nav-links li .caret {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 2px;
          vertical-align: middle;
          border-top: 4px solid;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent; }
      .ar .main-nav-bar .main-nav-links > li.open > a {
        background-color: #124391;
        color: #ffffff; }
      .ar .main-nav-bar .main-nav-links > li.open .dropdown-menu {
        display: block; }
  .ar .top-bar, .ar .top-bar ul {
    background-color: #ffffff; }
  .ar .social-media-block {
    height: 100px;
    float: left; }
  .ar #topcontrol {
    text-align: center;
    display: none; }
  .ar .homepage .main-image {
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    background-position: center center;
    position: relative;
    text-align: center;
    overflow: hidden;
    position: relative; }
    .ar .homepage .main-image .yt-video {
      width: 100%;
      height: 1080px;
      position: absolute;
      top: 50%;
      margin-top: -540px;
      left: 0;
      z-index: 100; }
    .ar .homepage .main-image .master-slider {
      width: 100%;
      height: 500px; }
  .ar .homepage .main-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.28);
    width: 100%;
    height: 100%;
    margin: 0; }
    .ar .homepage .main-container h1 {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Cairo Regular";
      font-size: 58.8px; }
    .ar .homepage .main-container .transparent-button {
      border: 3px solid #ffffff;
      display: inline-block;
      padding: 0;
      color: #ffffff;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      font-size: 24px;
      margin-top: 10px;
      background-color: transparent;
      width: 132px;
      height: 57px;
      line-height: 57px; }
    .ar .homepage .main-container .transparent-button:hover {
      background-color: #ffffff;
      color: #124391; }
  .ar .homepage .homepage-grid {
    margin: 4px 0;
    direction: ltr; }
    .ar .homepage .homepage-grid .homepage-grid-element {
      background-color: #f7f7f7;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 539px;
      padding: 0;
      text-align: center;
      direction: ltr; }
      .ar .homepage .homepage-grid .homepage-grid-element .white-block {
        background-color: #ffffff;
        height: 539px;
        background-position: top center;
        background-repeat: no-repeat; }
        .ar .homepage .homepage-grid .homepage-grid-element .white-block .philly-image {
          width: 70%;
          margin: 0 auto; }
      .ar .homepage .homepage-grid .homepage-grid-element .transparent-block {
        background-color: rgba(255, 255, 255, 0.75);
        height: 539px; }
      .ar .homepage .homepage-grid .homepage-grid-element h2 {
        text-transform: uppercase;
        color: #124391;
        font-family: "Cairo Regular";
        font-size: 30px; }
      .ar .homepage .homepage-grid .homepage-grid-element p {
        color: #124391;
        font-family: "Cairo Regular";
        font-size: 16px;
        display: inline-block;
        width: 80%;
        min-height: 150px; }
      .ar .homepage .homepage-grid .homepage-grid-element .image-block p {
        min-height: 50px; }
      .ar .homepage .homepage-grid .homepage-grid-element .transparent-button {
        border: 3px solid #124391;
        display: inline-block;
        padding: 8px 25px;
        color: #124391;
        font-family: "Cairo SemiBold";
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px;
        background-color: transparent;
        min-width: 180px;
        text-transform: uppercase; }
      .ar .homepage .homepage-grid .homepage-grid-element .transparent-button:hover {
        background-color: #124391;
        color: #ffffff; }
      .ar .homepage .homepage-grid .homepage-grid-element .grid-inner {
        height: 441px;
        margin: 0;
        display: table; }
        .ar .homepage .homepage-grid .homepage-grid-element .grid-inner > .column {
          display: table-cell;
          width: 50%;
          vertical-align: middle;
          border-bottom: 8px solid #f7f7f7; }
    .ar .homepage .homepage-grid .last-row .homepage-grid-element:last-child {
      background-position: 60px !important; }
    .ar .homepage .homepage-grid .first-row .homepage-grid-element:first-child {
      background-position: -120px !important; }
    .ar .homepage .homepage-grid .left {
      border-top: 4px solid #f7f7f7;
      border-right: 4px solid #f7f7f7;
      border-bottom: 4px solid #f7f7f7; }
    .ar .homepage .homepage-grid .right {
      border-top: 4px solid #f7f7f7;
      border-left: 4px solid #f7f7f7;
      border-bottom: 4px solid #f7f7f7; }
  .ar .recipes .header-box {
    position: relative;
    margin-bottom: 110px; }
  .ar .recipes .main-image {
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    background-position: center center;
    position: relative;
    text-align: center;
    overflow: hidden;
    position: relative; }
    .ar .recipes .main-image .yt-video {
      width: 100%;
      height: 1080px;
      position: absolute;
      top: 50%;
      margin-top: -540px;
      left: 0;
      z-index: 100; }
    .ar .recipes .main-image .master-slider {
      width: 100%;
      height: 500px; }
  .ar .recipes .recipe-search-box {
    width: 960px;
    min-height: 180px;
    position: absolute;
    background-color: #f7f7f7;
    bottom: -110px;
    left: 50%;
    margin-left: -480px; }
    .ar .recipes .recipe-search-box .search-form {
      padding: 30px 20px 20px 20px;
      background-color: #ffffff; }
      .ar .recipes .recipe-search-box .search-form select, .ar .recipes .recipe-search-box .search-form option {
        color: #848484;
        font-family: "Cairo Regular";
        background-color: #fcfcfc;
        font-size: 15px;
        background-position: left center;
        padding: 0 5px; }
      .ar .recipes .recipe-search-box .search-form input[type="text"] {
        background-color: #fcfcfc;
        font-family: "Cairo Regular"; }
    .ar .recipes .recipe-search-box .submit-btn-box {
      text-align: left; }
    .ar .recipes .recipe-search-box .submit-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 8px 15px;
      color: #124391;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      font-size: 1em;
      margin-top: 20px;
      background-color: transparent;
      text-transform: uppercase;
      cursor: pointer;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .ar .recipes .recipe-search-box .submit-btn:hover {
      background-color: #124391;
      color: #ffffff; }
  .ar .recipes .main-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.28);
    width: 100%;
    height: 100%;
    margin: 0; }
    .ar .recipes .main-container h1 {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Cairo Regular";
      font-size: 58.8px; }
    .ar .recipes .main-container .transparent-button {
      border: 3px solid #ffffff;
      display: inline-block;
      padding: 8px 25px;
      color: #ffffff;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      font-size: 1em;
      margin-top: 10px;
      background-color: transparent; }
    .ar .recipes .main-container .transparent-button:hover {
      background-color: #ffffff;
      color: #124391; }
  .ar .recipes .recipes-headline {
    text-align: center;
    font-family: "Cairo Regular";
    font-size: 40px;
    color: #124391;
    margin-bottom: 15px; }
  .ar .recipes .recipes-grid {
    position: relative;
    direction: ltr; }
    .ar .recipes .recipes-grid .recipes-filter {
      position: absolute;
      width: 270px;
      top: -45px;
      right: 5px; }
      .ar .recipes .recipes-grid .recipes-filter select {
        color: #848484;
        font-family: "Cairo Regular";
        background-color: #ffffff;
        font-size: 15px;
        background-position: left center;
        padding: 0 5px; }
    .ar .recipes .recipes-grid .recipes-grid-element {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 0;
      text-align: center;
      border-right: 4px solid #f7f7f7;
      border-left: 4px solid #f7f7f7; }
      .ar .recipes .recipes-grid .recipes-grid-element .white-block {
        background-color: #ffffff;
        height: 330px;
        background-position: top center;
        background-repeat: no-repeat; }
        .ar .recipes .recipes-grid .recipes-grid-element .white-block .philly-image {
          width: 70%;
          margin: 0 auto; }
      .ar .recipes .recipes-grid .recipes-grid-element .transparent-block {
        background-color: rgba(255, 255, 255, 0.75);
        height: 330px; }
      .ar .recipes .recipes-grid .recipes-grid-element h2 {
        text-transform: uppercase;
        color: #124391;
        font-family: "Cairo Regular";
        font-size: 32px; }
      .ar .recipes .recipes-grid .recipes-grid-element p {
        color: #124391;
        font-family: "Cairo Regular";
        font-size: 16px;
        display: inline-block;
        width: 80%; }
      .ar .recipes .recipes-grid .recipes-grid-element .transparent-button {
        border: 3px solid #124391;
        display: inline-block;
        padding: 0;
        color: #124391;
        font-family: "Cairo SemiBold";
        font-weight: bold;
        font-size: 20px;
        margin-top: 10px;
        background-color: transparent;
        min-width: 160px;
        height: 42px;
        line-height: 29px;
        text-transform: uppercase; }
      .ar .recipes .recipes-grid .recipes-grid-element .transparent-button:hover {
        background-color: #124391;
        color: #ffffff; }
      .ar .recipes .recipes-grid .recipes-grid-element .grid-inner {
        height: 330px;
        margin: 0;
        display: table; }
        .ar .recipes .recipes-grid .recipes-grid-element .grid-inner > .column {
          display: table-cell;
          width: 50%;
          vertical-align: middle;
          border-bottom: 8px solid #f7f7f7; }
    .ar .recipes .recipes-grid .left {
      border-top: 5px solid #ffffff;
      border-right: 5px solid #ffffff;
      border-bottom: 5px solid #ffffff; }
    .ar .recipes .recipes-grid .right {
      border-top: 5px solid #ffffff;
      border-left: 5px solid #ffffff;
      border-bottom: 5px solid #ffffff; }
  .ar .recipes .recipes-load-more-box {
    text-align: center; }
    .ar .recipes .recipes-load-more-box .load-more-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 8px 20px;
      color: #124391;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      font-size: 1em;
      margin-top: 10px;
      background-color: transparent;
      text-transform: uppercase;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .ar .recipes .recipes-load-more-box .load-more-btn:hover {
      background-color: #124391;
      color: #ffffff; }
  .ar .recipes .popular-recipes-headline {
    text-align: center;
    font-family: "Cairo Regular";
    font-size: 40px;
    color: #124391;
    margin-bottom: 15px;
    margin-top: 95px; }
  .ar .recipes .be-our-chef {
    margin-top: 110px; }
    .ar .recipes .be-our-chef .transparent-block {
      height: 539px !important; }
  .ar .recipe-inner .header-box {
    position: relative;
    margin-bottom: 30px; }
  .ar .recipe-inner .main-image {
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    background-position: center center;
    position: relative;
    text-align: center;
    overflow: hidden;
    position: relative; }
    .ar .recipe-inner .main-image .yt-video {
      width: 100%;
      height: 1080px;
      position: absolute;
      top: 50%;
      margin-top: -540px;
      left: 0;
      z-index: 100; }
    .ar .recipe-inner .main-image .master-slider {
      width: 100%;
      height: 500px; }
  .ar .recipe-inner .main-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.28);
    width: 100%;
    height: 100%;
    margin: 0; }
    .ar .recipe-inner .main-container h1 {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Cairo Regular";
      font-size: 58.8px; }
    .ar .recipe-inner .main-container .recipe-date, .ar .recipe-inner .main-container .submitted-by {
      font-family: "Cairo Regular";
      font-size: 1rem;
      color: #ffffff; }
    .ar .recipe-inner .main-container .recipe-submitted-img {
      display: inline-block;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      background-color: #ffffff;
      margin-bottom: 15px; }
  .ar .recipe-inner .recipe-video {
    text-align: center;
    margin: 0 auto; }
  .ar .recipe-inner .recipe-video-btn {
    border: 3px solid #124391;
    display: inline-block;
    padding: 8px 20px;
    color: #124391;
    font-family: "Cairo SemiBold";
    font-weight: bold;
    font-size: 1em;
    margin-top: 10px;
    background-color: transparent;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .ar .recipe-inner .recipe-video-btn:hover {
    background-color: #124391;
    color: #ffffff; }
  .ar .recipe-inner .recipe-buttons-box {
    display: inline-block;
    text-align: right; }
  .ar .recipe-inner .recipe-buttons-box ul {
    float: left;
    margin: 0; }
  .ar .recipe-inner .recipe-servings-wrapper, .ar .recipe-inner .recipe-servings, .ar .recipe-inner .recipe-servings-caption {
    float: right;
    margin-bottom: 40px; }
  .ar .recipe-inner .recipe-serving {
    height: 32px;
    width: 8px;
    background-image: url(../images/servings-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-left: 7px;
    margin-top: 10px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg); }
  .ar .recipe-inner .recipe-servings-caption {
    height: 32px;
    padding-right: 32px;
    line-height: 32px;
    font-size: 18px;
    color: #124391;
    font-family: "Cairo Regular";
    margin-top: 10px; }
  .ar .recipe-inner .recipe-buttons-box ul li {
    list-style: none;
    float: left;
    margin-right: 5px; }
  .ar .recipe-inner .recipe-title {
    text-align: right;
    font-family: "Cairo Regular";
    font-size: 30px;
    color: #124391;
    margin-bottom: 15px; }
  .ar .recipe-inner .recipe-description {
    text-align: right;
    font-family: "Cairo Regular";
    font-size: 16px;
    color: #124391;
    margin-bottom: 35px; }
  .ar .recipe-inner .recipe-ingredients {
    background-color: #ffffff; }
  .ar .recipe-inner .recipe-ingredients, .ar .recipe-inner .recipe-instruction {
    padding: 30px 30px 30px 50px; }
  .ar .recipe-inner .recipe-ingredients h2, .ar .recipe-inner .recipe-instruction h2 {
    text-align: right;
    font-family: "Cairo Regular";
    font-size: 30px;
    color: #124391;
    margin-bottom: 15px; }
  .ar .recipe-inner .recipe-title img, .ar .recipe-inner .recipe-instruction img, .ar .recipe-inner .recipe-ingredients img {
    height: 26px;
    margin-top: -8px;
    margin-left: 14px; }
  .ar .recipe-inner .recipe-ingredients ul li, .ar .recipe-inner .recipe-instruction ol li {
    margin-bottom: 10px;
    text-align: right;
    font-family: "Cairo Regular";
    font-size: 16px;
    color: #124391;
    margin-bottom: 15px; }
  .ar .recipe-inner .recipe-instruction ol, .ar .recipe-inner .recipe-ingredients ul {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none; }
  .ar .recipe-inner .recipe-instruction ol li {
    counter-increment: step-counter;
    display: table-row; }
  .ar .recipe-inner .recipe-instruction ul li {
    counter-increment: step-counter;
    display: table-row; }
  .ar .recipe-inner .recipe-instruction ol li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 1.5rem;
    color: #124391;
    font-weight: bold;
    padding: 3px 0 3px 25px;
    border-radius: 3px;
    font-family: "Cairo Regular";
    display: table-cell; }
  .ar .recipe-inner .recipe-ingredients ul li::before {
    content: counter(step-counter);
    margin-left: 15px;
    color: transparent;
    border: 3px solid #124391;
    padding: 3px 5px;
    font-size: 0.1rem;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    float: right;
    display: table-cell;
    margin-bottom: 15px; }
  .ar .recipe-inner .recipe-grid {
    position: relative;
    margin-top: 95px; }
    .ar .recipe-inner .recipe-grid .recipes-filter {
      position: absolute;
      width: 270px;
      top: -45px;
      right: 5px; }
      .ar .recipe-inner .recipe-grid .recipes-filter select {
        color: #848484;
        font-family: "Cairo Regular";
        background-color: #ffffff;
        font-size: 15px;
        background-position: left center;
        padding: 0 5px; }
    .ar .recipe-inner .recipe-grid .recipes-grid-element {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 0;
      text-align: center;
      border: 5px solid #f7f7f7; }
      .ar .recipe-inner .recipe-grid .recipes-grid-element .white-block {
        background-color: #ffffff;
        height: 330px;
        background-position: top center;
        background-repeat: no-repeat; }
        .ar .recipe-inner .recipe-grid .recipes-grid-element .white-block .philly-image {
          width: 70%;
          margin: 0 auto; }
      .ar .recipe-inner .recipe-grid .recipes-grid-element .transparent-block {
        background-color: rgba(255, 255, 255, 0.75);
        height: 330px; }
      .ar .recipe-inner .recipe-grid .recipes-grid-element h2 {
        text-transform: uppercase;
        color: #124391;
        font-family: "Cairo Regular";
        font-size: 1.8em; }
      .ar .recipe-inner .recipe-grid .recipes-grid-element p {
        color: #124391;
        font-family: "Cairo Regular";
        font-size: 16px;
        display: inline-block;
        width: 80%; }
      .ar .recipe-inner .recipe-grid .recipes-grid-element .transparent-button {
        border: 3px solid #124391;
        display: inline-block;
        padding: 8px 25px;
        color: #124391;
        font-family: "Cairo SemiBold";
        font-weight: bold;
        font-size: 1em;
        margin-top: 10px;
        background-color: transparent;
        min-width: 180px;
        text-transform: uppercase; }
      .ar .recipe-inner .recipe-grid .recipes-grid-element .transparent-button:hover {
        background-color: #124391;
        color: #ffffff; }
      .ar .recipe-inner .recipe-grid .recipes-grid-element .grid-inner {
        height: 330px;
        margin: 0;
        display: table; }
        .ar .recipe-inner .recipe-grid .recipes-grid-element .grid-inner > .column {
          display: table-cell;
          width: 50%;
          vertical-align: middle; }
    .ar .recipe-inner .recipe-grid .left {
      border-top: 5px solid #ffffff;
      border-right: 5px solid #ffffff;
      border-bottom: 5px solid #ffffff; }
    .ar .recipe-inner .recipe-grid .right {
      border-top: 5px solid #ffffff;
      border-left: 5px solid #ffffff;
      border-bottom: 5px solid #ffffff; }
  .ar .recipe-inner .ymal-recipes {
    direction: ltr;
    margin-top: 75px !important; }
  .ar .recipe-inner .ymal-headline {
    text-align: center;
    font-family: "Cairo Regular";
    font-size: 30px;
    color: #124391;
    margin-bottom: 15px; }
  .ar .recipe-inner .comment-box {
    padding: 30px 0;
    background-color: #ffffff;
    margin-top: 50px; }
    .ar .recipe-inner .comment-box .comment {
      margin-bottom: 30px; }
    .ar .recipe-inner .comment-box .comments-headline {
      text-align: right;
      font-family: "Cairo Regular";
      font-size: 1.5rem;
      color: #124391;
      margin-bottom: 15px;
      margin-top: 15px;
      unicode-bidi: embed; }
    .ar .recipe-inner .comment-box .profile-pic {
      width: 80px;
      height: 80px;
      background-color: #C4c4c4;
      border-radius: 80px; }
    .ar .recipe-inner .comment-box .comment-name {
      font-size: 0.8rem;
      text-align: center; }
    .ar .recipe-inner .comment-box .comments-body p {
      font-size: 1rem;
      color: #124391;
      font-family: "Cairo Regular"; }
    .ar .recipe-inner .comment-box .comment-reply-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 8px 20px;
      color: #124391;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      font-size: 1em;
      margin-top: 10px;
      background-color: transparent;
      text-transform: uppercase;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .ar .recipe-inner .comment-box .comment-reply-btn:hover {
      background-color: #124391;
      color: #ffffff; }
    .ar .recipe-inner .comment-box .comment-see-replies {
      float: right;
      width: 150px;
      color: #848484;
      font-family: "Cairo Regular";
      background-color: #fcfcfc;
      font-size: 1rem;
      margin-left: 10px;
      margin-top: 10px;
      height: 43px;
      background-position: left center; }
    .ar .recipe-inner .comment-box .comments-view-more {
      text-align: center; }
    .ar .recipe-inner .comment-box .comments-view-more select {
      width: 150px;
      color: #848484;
      font-family: "Cairo Regular";
      background-color: #fcfcfc;
      font-size: 1rem;
      background-position: left center; }
    .ar .recipe-inner .comment-box .add-comment-headline {
      text-align: right;
      font-family: "Cairo Regular";
      font-size: 30px;
      color: #124391;
      margin-bottom: 15px; }
    .ar .recipe-inner .comment-box .add-comment-box textarea {
      width: 100%;
      resize: none; }
    .ar .recipe-inner .comment-box .add-comment-btn {
      text-align: left; }
    .ar .recipe-inner .comment-box .add-comment-btn button {
      border: 3px solid #124391;
      display: inline-block;
      padding: 8px 20px;
      color: #124391;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      font-size: 1em;
      margin-top: 10px;
      background-color: transparent;
      text-transform: uppercase;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .ar .recipe-inner .comment-box .add-comment-btn button:hover {
      background-color: #124391;
      color: #ffffff; }
  .ar .recipe-inner .be-our-chef {
    margin-top: 110px; }
    .ar .recipe-inner .be-our-chef .transparent-block {
      height: 539px !important; }
  .ar .about .header-box {
    position: relative;
    margin-bottom: 30px; }
  .ar .about .main-image {
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    background-position: center center;
    position: relative;
    text-align: center;
    overflow: hidden;
    position: relative; }
  .ar .about .main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0; }
    .ar .about .main-container h1 {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Cairo Regular";
      font-size: 58.8px; }
  .ar .about .all-products .main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0; }
    .ar .about .all-products .main-container h1 {
      text-transform: uppercase;
      color: #124391;
      font-family: "Cairo Regular";
      font-size: 30px; }
  .ar .about .products-slider-headline {
    text-align: right;
    font-family: "Cairo Regular";
    font-size: 30px;
    color: #124391;
    margin-bottom: 15px; }
  .ar .about .all-products {
    height: 500px; }
  .ar .about .product-img img {
    width: 100%; }
  .ar .about .product-description {
    font-size: 18px;
    color: #124391;
    font-family: "Cairo Regular"; }
  .ar .about .ms-nav-next, .ar .about .ms-nav-prev {
    background: none;
    border: 3px solid #124391;
    height: 30px; }
  .ar .about .ms-nav-prev::after {
    content: "\f053";
    font-family: FontAwesome;
    color: #124391;
    font-size: 1.2rem;
    margin-right: 9px; }
  .ar .about .ms-nav-next::after {
    content: "\f054";
    font-family: FontAwesome;
    color: #124391;
    font-size: 1.2rem;
    margin-right: 7px; }
  .ar .about .ms-view {
    background: #f7f7f7; }
  .ar .about .about-image-block {
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .ar .about .about-text-block {
    min-height: 500px; }
  .ar .about .white {
    background-color: #ffffff; }
  .ar .about .about-text-block h2 {
    text-align: right;
    font-family: "Cairo Regular";
    font-size: 40px;
    color: #124391;
    margin-bottom: 15px; }
  .ar .about .about-text-block p {
    font-size: 18px;
    color: #124391;
    font-family: "Cairo Regular"; }
  .ar .about .about-video {
    margin-bottom: 80px; }
  .ar .about .about-video-headline {
    text-align: right;
    font-family: "Cairo Regular";
    font-size: 40px;
    color: #124391;
    margin-bottom: 15px;
    margin-top: 30px; }
  .ar .about .video-view-more-btn {
    text-align: left; }
  .ar .about .video-view-more-btn a {
    border: 3px solid #124391;
    display: inline-block;
    padding: 8px 20px;
    color: #124391;
    font-family: "Cairo SemiBold";
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    background-color: transparent;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .ar .about .video-view-more-btn a:hover {
    background-color: #124391;
    color: #ffffff; }
  .ar .contact .white {
    background-color: #ffffff; }
  .ar .contact .header-box {
    position: relative; }
  .ar .contact .main-image {
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    background-position: center center;
    position: relative;
    text-align: center;
    overflow: hidden;
    position: relative; }
  .ar .contact .main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0; }
    .ar .contact .main-container h1 {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Cairo Regular";
      font-size: 58.8px; }
  .ar .contact .contact-boxes {
    padding-top: 20px;
    padding-bottom: 20px; }
  .ar .contact .contact-box {
    text-align: right;
    font-family: "Cairo Regular";
    font-size: 30px;
    color: #124391;
    margin-bottom: 15px;
    padding-top: 10px;
    font-weight: bold; }
    .ar .contact .contact-box i {
      font-size: 2.2rem;
      color: #ffffff;
      background-color: #124391;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      text-align: center;
      line-height: 50px;
      margin-left: 5px; }
  .ar .contact .contact-box-text {
    font-size: 14px;
    color: #95a0aa;
    font-family: "Cairo Regular";
    padding-left: 30px;
    padding-top: 20px;
    font-weight: normal; }
    .ar .contact .contact-box-text a {
      color: #95a0aa; }
  .ar .contact .contact-form {
    padding-bottom: 60px; }
    .ar .contact .contact-form .contact-headline {
      text-align: right;
      font-family: "Cairo Regular";
      font-size: 30px;
      color: #124391;
      margin-bottom: 30px;
      padding-top: 30px; }
    .ar .contact .contact-form input[type="text"], .ar .contact .contact-form textarea {
      border: 3px solid #124391;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      margin-bottom: 50px; }
    .ar .contact .contact-form input::-webkit-input-placeholder, .ar .contact .contact-form textarea::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #95a0aa; }
    .ar .contact .contact-form input::-moz-placeholder, .ar .contact .contact-form textarea::-moz-placeholder {
      /* Firefox 19+ */
      color: #95a0aa; }
    .ar .contact .contact-form input:-ms-input-placeholder, .ar .contact .contact-form textarea:-ms-input-placeholder {
      /* IE 10+ */
      color: #95a0aa; }
    .ar .contact .contact-form input:-moz-placeholder, .ar .contact .contact-form textarea:-moz-placeholder {
      /* Firefox 18- */
      color: #95a0aa; }
    .ar .contact .contact-form .captcha-box p {
      font-size: 1rem;
      color: #124391;
      font-family: "Cairo SemiBold"; }
    .ar .contact .contact-form .captcha-box .captcha {
      width: 400px;
      height: 120px;
      background-color: #666666; }
    .ar .contact .contact-form .contact-submit-btn {
      text-align: left; }
    .ar .contact .contact-form .contact-submit-btn button {
      border: 3px solid #124391;
      display: inline-block;
      padding: 8px 20px;
      color: #124391;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      font-size: 1em;
      margin-top: 10px;
      background-color: transparent;
      text-transform: uppercase;
      width: 155px;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .ar .contact .contact-form .contact-submit-btn button:hover {
      background-color: #124391;
      color: #ffffff; }
  .ar .contact .map-headline {
    text-align: right;
    font-family: "Cairo Regular";
    font-size: 30px;
    color: #124391;
    margin-bottom: 30px;
    padding-top: 30px; }
  .ar .terms .headline {
    text-align: right;
    font-family: "Cairo Regular";
    font-size: 40px;
    color: #124391;
    margin-bottom: 30px;
    padding-top: 30px; }
  .ar .terms h2 {
    text-align: right;
    font-family: "Cairo Regular";
    font-size: 30px;
    color: #124391;
    margin-bottom: 20px;
    padding-top: 20px; }
  .ar .terms .content, .ar .terms .content p {
    font-size: 18px;
    color: #000000;
    font-family: "Cairo Regular";
    text-align: right; }
  .ar .search-results .search-results-headline {
    text-align: right;
    font-family: "Cairo Regular";
    font-size: 30px;
    color: #124391;
    margin-bottom: 30px;
    padding-top: 30px; }
  .ar .search-results .search-result-image .thumb {
    width: 230px;
    height: 230px;
    border: 1px solid #95a0aa;
    border-radius: 10px;
    padding-right: 35px;
    background-position: center;
    background-size: cover; }
  .ar .search-results .search-result-text {
    padding-top: 30px;
    padding-left: 0; }
    .ar .search-results .search-result-text h2 {
      text-align: right;
      font-family: "Cairo Regular";
      font-size: 24px;
      color: #124391; }
    .ar .search-results .search-result-text p {
      font-family: "Cairo Regular";
      font-size: 22.2px;
      color: #124391;
      padding-left: 135px; }
  .ar .search-results .search-results-wrapper .search-results-box:nth-child(odd) {
    background-color: #ffffff; }
  .ar .search-results .search-results-box {
    position: relative;
    padding: 20px 0 20px 0; }
  .ar .search-results .read-more-btn {
    border: 3px solid #124391;
    display: inline-block;
    padding: 0;
    color: #124391;
    font-family: "Cairo SemiBold";
    font-weight: bold;
    font-size: 18.1px;
    margin-top: 10px;
    background-color: transparent;
    width: 134px;
    height: 43px;
    line-height: 41px;
    text-align: center;
    position: absolute;
    left: 30px;
    bottom: 30px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .ar .search-results .read-more-btn:hover {
    background-color: #124391;
    color: #ffffff; }
  .ar .search-results .search-load-more-box {
    text-align: center; }
    .ar .search-results .search-load-more-box .load-more-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 0;
      color: #124391;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      font-size: 18.1px;
      margin-top: 70px;
      margin-bottom: 20px;
      background-color: transparent;
      width: 134px;
      height: 43px;
      line-height: 41px;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .ar .search-results .search-load-more-box .load-more-btn:hover {
      background-color: #124391;
      color: #ffffff; }
  .ar .user-account {
    direction: ltr; }
    .ar .user-account .header-box {
      position: relative;
      margin-bottom: 25px; }
    .ar .user-account .main-image {
      width: 100%;
      height: 500px;
      background-size: 100% auto;
      background-position: center center;
      position: relative;
      text-align: center;
      overflow: hidden;
      position: relative; }
    .ar .user-account .main-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0; }
      .ar .user-account .main-container h1 {
        text-transform: uppercase;
        color: #ffffff;
        font-family: "Cairo Regular";
        font-size: 53.5px; }
    .ar .user-account .user-account-menu {
      margin-top: 180px; }
      .ar .user-account .user-account-menu li {
        list-style: none; }
      .ar .user-account .user-account-menu li.menu-item {
        height: 45px;
        background-color: #f9f9f9;
        border-bottom: 1px solid #e5e5e5;
        font-family: "Cairo SemiBold";
        font-size: 16px;
        color: #95a0aa;
        line-height: 45px;
        direction: rtl;
        text-align: right; }
        .ar .user-account .user-account-menu li.menu-item a {
          color: #95a0aa; }
        .ar .user-account .user-account-menu li.menu-item a:hover {
          color: #666666; }
        .ar .user-account .user-account-menu li.menu-item i {
          padding: 0 20px;
          color: #666666; }
      .ar .user-account .user-account-menu li.menu-last-item {
        background-color: #e5e5e5;
        border-radius: 0 0 10px 10px;
        height: 75px; }
    .ar .user-account .user-account-box {
      background-color: #ffffff;
      border-radius: 10px;
      padding-bottom: 140px; }
      .ar .user-account .user-account-box .user-account-header {
        height: 82px;
        border-bottom: 2px solid #124391;
        font-family: "Cairo Regular";
        font-size: 32.6px;
        color: #124391;
        line-height: 82px;
        text-align: right; }
      .ar .user-account .user-account-box .user-pic-name {
        background-color: #e5e5e5;
        height: 220px;
        position: relative; }
        .ar .user-account .user-account-box .user-pic-name .user-profile-pic {
          position: absolute;
          height: 250px;
          width: 250px;
          top: -50%;
          left: 50%;
          margin-left: -125px; }
        .ar .user-account .user-account-box .user-pic-name .user-name {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 60px;
          width: 100%;
          text-align: center;
          font-family: "Cairo Regular";
          font-weight: bold;
          font-size: 20px;
          color: #124391; }
    .ar .user-account .search-form {
      margin: 40px auto 10px auto;
      padding: 0;
      direction: rtl; }
      .ar .user-account .search-form .submit-btn {
        border: 3px solid #124391;
        display: inline-block;
        padding: 0;
        color: #124391;
        font-family: "Cairo SemiBold";
        font-weight: bold;
        font-size: 18.1px;
        margin-top: 20px;
        background-color: transparent;
        text-transform: uppercase;
        cursor: pointer;
        width: 142px;
        height: 44px;
        float: left;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
      .ar .user-account .search-form .submit-btn:hover {
        background-color: #124391;
        color: #ffffff; }
    .ar .user-account .search-form select, .ar .user-account .search-form option, .ar .user-account .search-form input {
      color: #848484;
      font-family: "Cairo Regular";
      background-color: #fcfcfc;
      font-size: 18.4px;
      height: 48px;
      direction: rtl; }
    .ar .user-account select {
      background-position: left .5rem center; }
    .ar .user-account .search-form .pl {
      padding-left: 0; }
    .ar .user-account .search-form .pr {
      padding-right: 0; }
    .ar .user-account .recipes-filter select {
      color: #848484;
      font-family: "Cairo Regular";
      background-color: #fcfcfc;
      font-size: 18.4px;
      width: 270px;
      height: 48px;
      margin-right: 10px;
      margin-bottom: 25px;
      direction: rtl;
      float: right; }
    .ar .user-account .recipe-grid {
      padding: 0 35px 0 35px; }
    .ar .user-account .recipes-grid-element {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 0;
      text-align: center;
      border-right: 4px solid #ffffff;
      border-left: 4px solid #ffffff;
      margin-bottom: 8px; }
      .ar .user-account .recipes-grid-element .white-block {
        background-color: #ffffff;
        height: 200px;
        background-position: top center;
        background-repeat: no-repeat; }
        .ar .user-account .recipes-grid-element .white-block .philly-image {
          width: 70%;
          margin: 0 auto; }
      .ar .user-account .recipes-grid-element .transparent-block {
        background-color: rgba(255, 255, 255, 0.75);
        height: 200px; }
      .ar .user-account .recipes-grid-element h2 {
        text-transform: uppercase;
        color: #124391;
        font-family: "Cairo Regular";
        font-size: 23px; }
      .ar .user-account .recipes-grid-element p {
        color: #124391;
        font-family: "Cairo Regular";
        font-size: 18px;
        display: inline-block;
        width: 80%; }
      .ar .user-account .recipes-grid-element .transparent-button {
        border: 3px solid #124391;
        display: inline-block;
        padding: 0;
        color: #124391;
        font-family: "Cairo SemiBold";
        font-weight: bold;
        font-size: 11.2px;
        margin-top: 10px;
        background-color: transparent;
        min-width: 99px;
        height: 26px;
        line-height: 20px;
        text-transform: uppercase; }
      .ar .user-account .recipes-grid-element .transparent-button:hover {
        background-color: #124391;
        color: #ffffff; }
      .ar .user-account .recipes-grid-element .grid-inner {
        height: 200px;
        margin: 0;
        display: table; }
        .ar .user-account .recipes-grid-element .grid-inner > .column {
          display: table-cell;
          width: 50%;
          vertical-align: middle; }
    .ar .user-account .load-more-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 0;
      color: #124391;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      font-size: 18.1px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: transparent;
      text-transform: uppercase;
      width: 134px;
      height: 43px;
      line-height: 41px;
      float: left;
      cursor: pointer;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .ar .user-account .load-more-btn:hover {
      background-color: #124391;
      color: #ffffff; }
    .ar .user-account .tip-item {
      margin-top: 45px;
      direction: rtl; }
    .ar .user-account .tip-item > .row {
      direction: rtl; }
    .ar .user-account .tip-item .thumb {
      width: 225px;
      height: 225px;
      border-radius: 10px;
      border: 1px solid #666666; }
    .ar .user-account .tip-item .thumb img {
      width: 100%;
      border-radius: 10px; }
    .ar .user-account .tip-text {
      padding-left: 30px; }
    .ar .user-account .tip-item h2 {
      font-size: 24px;
      font-family: "Cairo Regular";
      color: #124391;
      font-weight: bold;
      margin-top: 20px; }
    .ar .user-account .tip-item p {
      font-size: 20px;
      font-family: "Cairo Regular";
      color: #124391; }
    .ar .user-account .tip-item .read-more-btn {
      font-size: 18.1px;
      font-family: "Cairo SemiBold";
      color: #124391;
      float: left;
      margin-left: 10px; }
    .ar .user-account .tips-share-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 8px 20px;
      color: #124391;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      font-size: 1em;
      margin-top: 10px;
      background-color: transparent;
      text-transform: uppercase;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .ar .user-account .tips-share-btn:hover {
      background-color: #124391;
      color: #ffffff; }
    .ar .user-account .tips-buttons-box {
      display: inline-block;
      text-align: right; }
    .ar .user-account .tips-buttons-box ul {
      float: left; }
    .ar .user-account .tips-buttons-box ul li {
      list-style: none;
      float: left;
      margin-left: 5px;
      direction: rtl; }
    .ar .user-account .tips-box .load-more-btn {
      float: right; }
    .ar .user-account .submit-recipe-form {
      direction: rtl; }
    .ar .user-account .submit-recipe-form .description-text {
      font-family: "Cairo SemiBold";
      font-size: 16px;
      color: #95a0aa;
      padding: 20px; }
    .ar .user-account .submit-recipe-form .sub-text {
      font-family: "Cairo Regular";
      font-size: 12px;
      color: #95a0aa;
      line-height: 12px; }
    .ar .user-account .submit-recipe-form input, .ar .user-account .submit-recipe-form select, .ar .user-account .submit-recipe-form .mce-tinymce.mce-container.mce-panel, .ar .user-account .submit-recipe-form textarea {
      border: 2px solid #124391 !important;
      color: #95a0aa;
      margin-bottom: 10px;
      direction: rtl;
      padding: 0 5px 0 5px; }
    .ar .user-account .submit-recipe-form input {
      font-family: "Cairo SemiBold";
      font-size: 16px;
      color: #95a0aa;
      margin-bottom: 10px;
      direction: rtl; }
    .ar .user-account .submit-recipe-form .input-group {
      margin-bottom: 10px; }
    .ar .user-account .submit-recipe-form input[readonly] {
      background-color: #ffffff;
      color: #95a0aa;
      margin-bottom: 5px;
      direction: rtl; }
    .ar .user-account .submit-recipe-form label {
      font-family: "Cairo SemiBold";
      font-size: 20.2px;
      color: #95a0aa;
      margin-top: 10px; }
    .ar .user-account .submit-recipe-form label.button {
      color: #ffffff;
      line-height: 36px;
      background-color: #124391;
      height: 39px;
      margin-top: 0; }
    .ar .user-account .submit-recipe-form .add-method, .ar .user-account .submit-recipe-form .add-ingredient {
      float: left;
      font-family: "Cairo SemiBold";
      font-size: 20.2px;
      background-color: #124391;
      width: 240px;
      height: 40px;
      line-height: 0; }
    .ar .user-account .submit-recipe-form .form-submit-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 0;
      color: #124391;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      font-size: 18.1px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: transparent;
      text-transform: uppercase;
      width: 134px;
      height: 43px;
      line-height: 38px;
      float: left;
      cursor: pointer;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .ar .user-account .submit-recipe-form .form-submit-btn:hover {
      background-color: #124391;
      color: #ffffff; }
    .ar .user-account .submit-tip-form .description-text {
      font-family: "Cairo SemiBold";
      font-size: 16px;
      color: #95a0aa;
      padding: 20px; }
    .ar .user-account .submit-tip-form .sub-text {
      font-family: "Cairo Regular";
      font-size: 12px;
      color: #95a0aa;
      line-height: 12px; }
    .ar .user-account .submit-tip-form {
      direction: rtl; }
      .ar .user-account .submit-tip-form input, .ar .user-account .submit-tip-form select, .ar .user-account .submit-tip-form .mce-tinymce.mce-container.mce-panel, .ar .user-account .submit-tip-form textarea {
        border: 2px solid #124391 !important;
        color: #95a0aa;
        margin-bottom: 10px;
        direction: rtl;
        padding: 0 5px 0 5px; }
      .ar .user-account .submit-tip-form input {
        font-family: "Cairo SemiBold";
        font-size: 16px;
        color: #95a0aa;
        margin-bottom: 10px;
        direction: rtl; }
      .ar .user-account .submit-tip-form .input-group {
        margin-bottom: 10px; }
      .ar .user-account .submit-tip-form input[readonly] {
        background-color: #ffffff;
        color: #95a0aa;
        margin-bottom: 5px; }
      .ar .user-account .submit-tip-form label {
        font-family: "Cairo SemiBold";
        font-size: 20.2px;
        color: #95a0aa;
        margin-top: 10px; }
      .ar .user-account .submit-tip-form label.button {
        color: #ffffff;
        line-height: 36px;
        background-color: #124391;
        height: 39px;
        margin-top: 0; }
      .ar .user-account .submit-tip-form .add-tip {
        float: left;
        font-family: "Cairo SemiBold";
        font-size: 20.2px;
        background-color: #124391;
        width: 240px;
        height: 40px;
        line-height: 0; }
      .ar .user-account .submit-tip-form .form-submit-btn {
        border: 3px solid #124391;
        display: inline-block;
        padding: 0;
        color: #124391;
        font-family: "Cairo SemiBold";
        font-weight: bold;
        font-size: 18.1px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: transparent;
        text-transform: uppercase;
        width: 134px;
        height: 43px;
        line-height: 38px;
        float: left;
        cursor: pointer;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
      .ar .user-account .submit-tip-form .form-submit-btn:hover {
        background-color: #124391;
        color: #ffffff; }
    .ar .user-account .submit-profile-form {
      direction: rtl; }
    .ar .user-account .submit-profile-form .description-text {
      font-family: "Cairo SemiBold";
      font-size: 16px;
      color: #95a0aa;
      padding: 20px; }
    .ar .user-account .submit-profile-form .sub-text {
      font-family: "Cairo Regular";
      font-size: 12px;
      color: #95a0aa;
      line-height: 12px; }
    .ar .user-account .submit-profile-form input, .ar .user-account .submit-profile-form select, .ar .user-account .submit-profile-form .mce-tinymce.mce-container.mce-panel, .ar .user-account .submit-profile-form textarea {
      border: 2px solid #124391 !important;
      color: #95a0aa;
      margin-bottom: 10px;
      direction: rtl; }
    .ar .user-account .submit-profile-form input {
      font-family: "Cairo SemiBold";
      font-size: 16px;
      color: #95a0aa;
      margin-bottom: 10px;
      direction: rtl; }
    .ar .user-account .submit-profile-form .input-group {
      margin-bottom: 10px; }
    .ar .user-account .submit-profile-form input[readonly] {
      background-color: #ffffff;
      color: #95a0aa;
      margin-bottom: 5px;
      direction: rtl; }
    .ar .user-account .submit-profile-form label {
      font-family: "Cairo SemiBold";
      font-size: 20.2px;
      color: #95a0aa;
      margin-top: 10px; }
    .ar .user-account .submit-profile-form label.button {
      color: #ffffff;
      line-height: 36px;
      background-color: #124391;
      height: 39px;
      margin-top: 0; }
    .ar .user-account .submit-profile-form .add-tip {
      float: right;
      font-family: "Cairo SemiBold";
      font-size: 20.2px;
      background-color: #124391;
      width: 240px;
      height: 40px;
      line-height: 0; }
    .ar .user-account .submit-profile-form .form-submit-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 0;
      color: #124391;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      font-size: 18.1px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: transparent;
      text-transform: uppercase;
      width: 134px;
      height: 43px;
      line-height: 38px;
      float: left;
      cursor: pointer;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .ar .user-account .submit-profile-form .form-submit-btn:hover {
      background-color: #124391;
      color: #ffffff; }
  .ar .instragram-block {
    text-align: center;
    margin: 75px auto 65px auto; }
    .ar .instragram-block .social-block-caption {
      display: inline-block;
      padding-left: 10px;
      width: 950px;
      margin: 0 auto 18px auto;
      text-align: right;
      font-size: 18px;
      color: #124391;
      font-family: "Cairo SemiBold";
      font-weight: bold; }
    .ar .instragram-block .instagram-wrapper {
      width: 950px;
      display: inline-block;
      margin: 0; }
      .ar .instragram-block .instagram-wrapper .instagram-image {
        float: right;
        list-style: none;
        width: 150px;
        height: auto;
        margin-right: 10px; }
        .ar .instragram-block .instagram-wrapper .instagram-image img {
          width: auto;
          height: auto; }
      .ar .instragram-block .instagram-wrapper .instagram-image:last-child {
        margin-right: 0 !important; }
  .ar .footer {
    height: 315px;
    background-color: #124391;
    position: relative; }
    .ar .footer li {
      list-style: none;
      color: #ffffff;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px; }
      .ar .footer li a {
        color: #ffffff; }
    .ar .footer .footer-menu {
      float: left;
      width: 120px;
      margin-top: 30px; }
    .ar .footer .footer-social-menu {
      float: right;
      width: 120px;
      margin-top: 30px; }
      .ar .footer .footer-social-menu li {
        margin-bottom: 0; }
      .ar .footer .footer-social-menu a {
        font-size: 0.7rem;
        color: #6786b8;
        font-weight: bold; }
      .ar .footer .footer-social-menu i {
        font-size: 0.7rem;
        color: #ffffff; }
      .ar .footer .footer-social-menu .fa-youtube {
        font-size: 15px; }
    .ar .footer .footer-bottom {
      position: absolute;
      bottom: 0;
      width: 960px;
      left: 50%;
      margin-left: -480px;
      text-align: center;
      color: #6786b8;
      font-family: "Cairo Regular";
      font-size: 14px;
      margin-bottom: 20px; }
      .ar .footer .footer-bottom a {
        color: #6786b8; }

@media screen and (max-width: 640px) {
  .ar #topcontrol {
    width: 40px;
    height: 30px;
    background-color: #ffffff;
    display: block; }
  .ar #topcontrol::after {
    content: "\f106";
    color: #124391;
    font-family: FontAwesome;
    font-size: 40px;
    line-height: 27px; }
  .ar .top-nav-bar {
    height: auto;
    max-height: 110px; }
  .ar .top-nav-bar-wrapper {
    text-align: center;
    height: 45px; }
    .ar .top-nav-bar-wrapper .top-nav-links {
      float: none;
      margin: 10px 0 0 0;
      padding: 0; }
  .ar .mobile-search-bar-wrapper {
    text-align: center;
    display: none; }
    .ar .mobile-search-bar-wrapper .search-box {
      display: inline-block;
      height: 30px;
      width: 220px;
      max-width: 220px;
      margin: 3px auto 20px auto;
      border-radius: 15px;
      position: relative; }
    .ar .mobile-search-bar-wrapper .search-box input {
      background-color: #95a0aa;
      height: 30px;
      width: 220px;
      border-radius: 15px;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      color: #ffffff;
      padding: 0 40px 0 10px;
      box-shadow: none;
      border: none; }
    .ar .mobile-search-bar-wrapper .search-box .submit-btn {
      left: 10px;
      top: 5px;
      position: absolute;
      top: 0;
      color: #ffffff;
      font-size: 1.2rem;
      width: 30px;
      height: 30px; }
    .ar .mobile-search-bar-wrapper .search-box input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #ffffff; }
    .ar .mobile-search-bar-wrapper .search-box input::-moz-placeholder {
      /* Firefox 19+ */
      color: #ffffff; }
    .ar .mobile-search-bar-wrapper .search-box input:-ms-input-placeholder {
      /* IE 10+ */
      color: #ffffff; }
    .ar .mobile-search-bar-wrapper .search-box input:-moz-placeholder {
      /* Firefox 18- */
      color: #ffffff; }
    .ar .mobile-search-bar-wrapper .close {
      display: inline-block;
      position: absolute;
      top: 0;
      left: -35px;
      font-size: 4rem;
      height: 30px;
      width: 30px;
      line-height: 25px;
      font-family: "Open Sans";
      color: #95a0aa;
      cursor: pointer; }
  .ar .main-nav-bar {
    position: relative; }
    .ar .main-nav-bar .mobile-menu-icon {
      position: absolute;
      padding: 3px;
      border: 1px solid #95a0aa;
      color: #95a0aa;
      background-color: #ffffff;
      left: 20px;
      top: 30px;
      width: 45px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border-radius: 5px;
      z-index: 1000; }
      .ar .main-nav-bar .mobile-menu-icon .line {
        width: 28px;
        height: 4px;
        background-color: #95a0aa;
        display: block;
        margin: 4px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
  .ar .mobile-menu-icon.open {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #95a0aa; }
    .ar .mobile-menu-icon.open .line:nth-child(2) {
      opacity: 0; }
    .ar .mobile-menu-icon.open .line:nth-child(1) {
      background-color: #ffffff;
      -webkit-transform: translateY(9px) rotate(45deg);
      -ms-transform: translateY(9px) rotate(45deg);
      -o-transform: translateY(9px) rotate(45deg);
      transform: translateY(9px) rotate(45deg); }
    .ar .mobile-menu-icon.open .line:nth-child(3) {
      background-color: #ffffff;
      -webkit-transform: translateY(-7px) rotate(-45deg);
      -ms-transform: translateY(-7px) rotate(-45deg);
      -o-transform: translateY(-7px) rotate(-45deg);
      transform: translateY(-7px) rotate(-45deg); }
  .ar .main-menu-wrapper, .ar .logo-wrapper {
    width: 100%;
    flex: none;
    margin: 0;
    padding: 0; }
  .ar .main-menu-wrapper {
    height: 60vh;
    max-height: 100vh;
    overflow: auto;
    display: none; }
  .ar .main-menu-wrapper.open {
    display: block; }
  .ar .logo-wrapper {
    height: 90px;
    padding-right: 10px; }
  .ar .main-nav-bar {
    padding: 0;
    margin: 0; }
  .ar .main-nav-bar .main-nav-links {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%; }
    .ar .main-nav-bar .main-nav-links > li.open > a {
      background-color: #ffffff;
      color: #124391; }
    .ar .main-nav-bar .main-nav-links li {
      width: 100%;
      float: none; }
      .ar .main-nav-bar .main-nav-links li .dropdown-menu {
        position: relative;
        margin: 0;
        padding: 0; }
        .ar .main-nav-bar .main-nav-links li .dropdown-menu li a {
          background-color: #95a0aa; }
        .ar .main-nav-bar .main-nav-links li .dropdown-menu li a, .ar .main-nav-bar .main-nav-links li .dropdown-menu li a:hover {
          height: 40px;
          line-height: 40px; }
      .ar .main-nav-bar .main-nav-links li a {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        height: 40px;
        line-height: 40px; }
  .ar .main-container h1 {
    font-size: 18px !important; }
  .ar .main-container .transparent-button {
    font-size: 18px !important; }
  .ar .main-image {
    height: 400px !important; }
  .ar .homepage .main-image {
    background-repeat: no-repeat;
    background-size: cover; }
    .ar .homepage .main-image .yt-video {
      display: none; }
  .ar .homepage .main-container .transparent-button {
    font-size: 18px;
    width: 96px;
    height: 40px;
    line-height: 40px; }
  .ar .homepage .homepage-grid {
    margin: 5px 0; }
    .ar .homepage .homepage-grid .right {
      border: none;
      margin-top: 4px; }
    .ar .homepage .homepage-grid .left {
      border: none;
      margin-top: 4px; }
    .ar .homepage .homepage-grid .homepage-grid-element {
      background-color: #ffffff;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 270px;
      padding: 0;
      text-align: center; }
      .ar .homepage .homepage-grid .homepage-grid-element .white-block {
        background-color: #ffffff;
        height: 270px; }
        .ar .homepage .homepage-grid .homepage-grid-element .white-block .philly-image {
          width: 60%; }
      .ar .homepage .homepage-grid .homepage-grid-element .transparent-block {
        background-color: rgba(255, 255, 255, 0.75);
        height: 270px; }
      .ar .homepage .homepage-grid .homepage-grid-element .grid-inner {
        height: 270px; }
        .ar .homepage .homepage-grid .homepage-grid-element .grid-inner > .column {
          border-bottom: none; }
      .ar .homepage .homepage-grid .homepage-grid-element h2 {
        font-size: 16px;
        font-weight: bold; }
      .ar .homepage .homepage-grid .homepage-grid-element p {
        font-size: 9px;
        min-height: 75px; }
      .ar .homepage .homepage-grid .homepage-grid-element .transparent-button {
        padding: 0;
        width: 125px;
        min-width: 125px;
        height: 30px;
        font-size: 16px; }
    .ar .homepage .homepage-grid .homepage-grid-element.first {
      background-position: -120px; }
    .ar .homepage .homepage-grid .last-row .homepage-grid-element:last-of-type {
      background-position: 0 !important; }
  .ar .recipes .main-image {
    background-repeat: no-repeat;
    background-size: cover; }
    .ar .recipes .main-image .yt-video {
      display: none; }
  .ar .recipes .header-box {
    position: relative;
    margin-bottom: 170px; }
  .ar .recipes .recipe-search-box {
    width: 100%;
    min-height: 180px;
    position: absolute;
    background-color: transparent;
    bottom: -160px;
    left: 0;
    padding: 10px 20px;
    margin-left: 0; }
    .ar .recipes .recipe-search-box .submit-btn-box {
      text-align: center;
      background-color: #ffffff;
      padding-bottom: 20px; }
    .ar .recipes .recipe-search-box .submit-btn {
      margin-top: 0; }
  .ar .recipes .recipes-grid .recipes-filter {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center; }
    .ar .recipes .recipes-grid .recipes-filter select {
      width: 80%;
      text-align: right;
      direction: rtl; }
  .ar .recipes .recipes-grid .recipes-grid-element {
    margin: 0;
    border: 0; }
    .ar .recipes .recipes-grid .recipes-grid-element .grid-inner > .column {
      border-bottom: 5px solid #f7f7f7; }
    .ar .recipes .recipes-grid .recipes-grid-element h2 {
      font-size: 20.5px; }
    .ar .recipes .recipes-grid .recipes-grid-element .transparent-button {
      font-size: 11.2px;
      min-width: 112px;
      height: 30px;
      padding: 0;
      line-height: 26px; }
  .ar .recipes .recipes-grid .recipes-grid-element h2 {
    font-size: 25px; }
  .ar .recipes .recipes-grid .recipes-grid-element p {
    font-size: 14px; }
  .ar .recipes .recipes-headline {
    font-size: 25px; }
  .ar .recipes .popular-recipes-headline {
    font-size: 25px; }
  .ar .recipes .recipes-load-more-box .load-more-btn {
    font-size: 14px;
    width: 100px;
    height: 29px;
    padding: 0;
    line-height: 24px; }
  .ar .recipes .be-our-chef {
    margin-top: 40px; }
    .ar .recipes .be-our-chef .recipes-grid-element {
      height: 330px !important; }
    .ar .recipes .be-our-chef .transparent-block {
      height: 330px !important; }
  .ar .recipe-inner .recipe-video-btn {
    font-size: 14px;
    padding: 3px 10px; }
  .ar .recipe-inner .recipe-video iframe {
    height: 300px; }
  .ar .recipe-inner .recipe-buttons-box {
    text-align: center; }
  .ar .recipe-inner .recipe-buttons-box ul {
    float: none;
    display: inline-block;
    padding: 0;
    margin: 0; }
  .ar .recipe-inner .recipe-title {
    margin-top: 30px;
    text-align: center;
    font-size: 25px; }
  .ar .recipe-inner .recipe-description, .ar .recipe-inner .recipe-ingredients, .ar .recipe-inner .recipe-instruction {
    text-align: center;
    font-size: 14px; }
  .ar .recipe-inner .recipe-ingredients h2 {
    text-align: center;
    font-size: 25px; }
  .ar .recipe-inner .recipe-instruction h2 {
    text-align: center; }
  .ar .recipe-inner .recipe-title img, .ar .recipe-inner .recipe-instruction img, .ar .recipe-inner .recipe-ingredients img {
    height: 20px;
    margin-top: -8px;
    margin-right: 10px; }
  .ar .recipe-inner .recipe-servings-wrapper, .ar .recipe-inner .recipe-servings, .ar .recipe-inner .recipe-servings-caption {
    margin-bottom: 15px; }
  .ar .recipe-inner .recipe-servings-wrapper {
    float: none;
    display: inline-block; }
  .ar .recipe-inner .recipe-servings-caption {
    height: 30px;
    line-height: 30px; }
  .ar .recipe-inner .recipe-serving {
    width: 8px;
    height: 30px; }
  .ar .recipe-inner .recipe-ingredients, .ar .recipe-inner .recipe-instruction {
    padding: 30px 30px 0 30px; }
  .ar .recipe-inner .recipe-ingredients ul, .ar .recipe-inner .recipe-instruction ul {
    display: inline-block;
    max-width: 100%; }
  .ar .recipe-inner .recipe-ingredients ul li, .ar .recipe-inner .recipe-instruction ol li {
    font-size: 14px; }
  .ar .recipe-inner .recipe-ingredients ul li::before {
    width: 16px;
    height: 16px; }
  .ar .recipe-inner .recipe-instruction ol li::before {
    font-size: 17px;
    padding: 3px 0 3px 22px; }
  .ar .recipe-inner .recipe-grid {
    margin-top: 40px; }
  .ar .recipe-inner .prev-btn a, .ar .recipe-inner .next-btn a {
    border: 3px solid #124391;
    display: inline-block;
    padding: 8px 20px;
    color: #124391;
    font-family: "Cairo SemiBold";
    font-weight: bold;
    font-size: 14px;
    background-color: transparent;
    text-transform: uppercase;
    min-width: 132px;
    text-align: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .ar .recipe-inner .next-btn {
    text-align: right; }
  .ar .recipe-inner .prev-btn {
    text-align: left; }
  .ar .recipe-inner .prev-btn a:hover, .ar .recipe-inner .next-btn a:hover {
    background-color: #124391;
    color: #ffffff; }
  .ar .recipe-inner .comments-headline {
    text-align: center; }
  .ar .recipe-inner .comment-box .profile-pic {
    margin: 10px auto;
    width: 40px;
    height: 40px; }
  .ar .recipe-inner .comment-box .comment-reply-btn {
    margin-top: 0; }
  .ar .recipe-inner .comment-box .add-comment-headline {
    font-size: 25px; }
  .ar .recipe-inner .comment-see-replies {
    height: 43px;
    background-position: left center; }
  .ar .recipe-inner .comments-view-more {
    margin-top: 30px; }
  .ar .recipe-inner .comment-box .comments-view-more select {
    font-size: 10px;
    width: 100px;
    height: 28px;
    padding: 0 10px; }
  .ar .recipe-inner .comment-box .add-comment-btn {
    text-align: center; }
  .ar .recipe-inner .comment-box .add-comment-btn button {
    font-size: 11.5px;
    width: 80px;
    height: 25px;
    line-height: 21px;
    padding: 0; }
  .ar .recipe-inner .recipe-grid .recipes-grid-element {
    margin: 0; }
  .ar .recipe-inner .recipe-grid .recipes-grid-element {
    margin-bottom: 4px; }
  .ar .recipe-inner .ymal-headline {
    font-size: 17px; }
  .ar .recipe-inner .recipe-grid .recipes-grid-element p {
    font-size: 9px; }
  .ar .recipe-inner .recipe-grid .recipes-grid-element {
    margin-bottom: 4px; }
    .ar .recipe-inner .recipe-grid .recipes-grid-element h2 {
      font-size: 17px; }
    .ar .recipe-inner .recipe-grid .recipes-grid-element .transparent-button {
      font-size: 12px;
      min-width: 112px;
      height: 30px;
      padding: 0;
      line-height: 26px; }
  .ar .recipe-inner .be-our-chef {
    margin-top: 40px; }
    .ar .recipe-inner .be-our-chef .recipes-grid-element {
      height: 330px !important; }
    .ar .recipe-inner .be-our-chef .transparent-block {
      height: 330px !important; }
  .ar .recipe-inner .ymal-recipes {
    margin-top: 40px !important; }
  .ar .contact .main-image {
    background-repeat: no-repeat;
    background-size: cover; }
  .ar .contact .contact-box-text {
    padding: 15px; }
  .ar .contact .contact-form .contact-headline {
    font-size: 25px; }
  .ar .contact .map-headline {
    font-size: 25px; }
  .ar .contact .contact-form .contact-submit-btn {
    text-align: left;
    margin-top: 30px; }
  .ar .contact .contact-form .captcha-box .captcha {
    width: 300px;
    margin: 0 auto; }
  .ar .ms-skin-default .ms-nav-next {
    right: 5px; }
  .ar .ms-skin-default .ms-nav-prev {
    left: 5px; }
  .ar .about .main-image {
    background-repeat: no-repeat;
    background-size: cover; }
    .ar .about .main-image .yt-video {
      display: none; }
  .ar .about .all-products {
    height: 350px; }
  .ar .about .all-products .main-container h1 {
    font-size: 30px;
    padding: 0 10px;
    text-align: center; }
  .ar .about .product-img {
    text-align: center; }
  .ar .about .product-img img {
    width: 75%; }
  .ar .about .video-view-more-btn {
    text-align: center;
    margin-top: 30px; }
  .ar .about .product-description {
    font-size: 9px;
    padding: 0 10px;
    text-align: center; }
  .ar .about .about-text-block h2 {
    font-size: 25px; }
  .ar .about .about-text-block p {
    font-size: 14px; }
  .ar .about .about-video-headline {
    font-size: 25px; }
  .ar .about .about-video iframe {
    height: 300px; }
  .ar .search-results .search-result-image .thumb {
    width: 100%;
    height: 100px;
    margin-left: 10px; }
  .ar .search-results .search-result-text h2 {
    font-size: 17px; }
  .ar .search-results .search-result-text {
    padding-top: 5px; }
  .ar .search-results .search-result-text p {
    font-size: 9px;
    padding-left: 35px; }
  .ar .search-results .read-more-btn {
    font-size: 14px;
    width: 105px;
    height: 30px;
    line-height: 26px;
    left: 10px;
    bottom: 10px; }
  .ar .search-results .search-load-more-box .load-more-btn {
    font-size: 14px;
    width: 105px;
    height: 30px;
    line-height: 26px;
    left: 10px;
    bottom: 10px;
    margin-top: 40px;
    margin-bottom: 0; }
  .ar .instragram-block .social-block-caption {
    width: 320px;
    padding-left: 0;
    padding-right: 10px; }
  .ar .instragram-block .instagram-wrapper {
    width: 320px;
    margin: 0; }
    .ar .instragram-block .instagram-wrapper .instagram-image {
      margin-right: 0; }
  .ar .instragram-block .instagram-wrapper li:nth-child(3n+3) {
    margin-right: 0 !important; }
  .ar .instragram-block .instagram-wrapper .instagram-image {
    width: 97px;
    height: 97px;
    margin-bottom: 5px;
    margin-left: 5px; }
  .ar .footer .footer-bottom {
    width: 100%;
    margin: 0 0 17px 0;
    left: 0; }
  .ar .footer .footer-bottom a {
    font-size: 8.8px; }
  .ar .user-account .user-account-header {
    font-size: 22.6px !important;
    text-align: center; }
  .ar .user-account .user-account-menu {
    width: 280px;
    padding: 0;
    margin-left: auto;
    margin-right: auto; }
  .ar .user-account .add-method, .ar .user-account .add-tip, .ar .user-account .form-submit-btn, .ar .user-account .add-ingredient {
    display: block !important;
    margin: 15px auto !important;
    float: none !important; }
  .ar .user-account .pl, .ar .user-account .pr {
    padding: 0 !important; }
  .ar .user-account .search-form {
    text-align: center; }
    .ar .user-account .search-form select, .ar .user-account .search-form input[type="text"] {
      width: 260px;
      margin: 10px auto; }
    .ar .user-account .search-form .submit-btn {
      display: block !important;
      float: none !important;
      margin: 10px auto; }
  .ar .user-account .recipes-filter {
    text-align: center; }
  .ar .user-account .recipes-filter select {
    width: 260px !important; }
  .ar .user-account .recipe-grid {
    padding: 0 !important; }
  .ar .user-account .load-more-btn {
    display: block !important;
    float: none !important;
    margin: 15px auto; }
  .ar .user-account .tip-item .thumb {
    margin: 20px auto; }
  .ar .user-account .tips-buttons-box {
    text-align: center; }
  .ar .user-account .tips-buttons-box ul {
    float: none; }
  .ar .user-account .tips-share-buttons {
    margin: 20px auto;
    display: inline-block; }
  .ar .user-account .tips-share-btn {
    width: 90px;
    height: 30px;
    font-size: 13.1px;
    padding: 0;
    text-align: center; } }

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .ar .main-image {
    background-repeat: no-repeat;
    background-size: cover; }
    .ar .main-image .yt-video {
      display: none; }
  .ar .main-nav-bar .main-nav-links {
    margin-left: 0; }
  .ar .main-nav-bar .main-nav-links li a {
    padding: 0 19px;
    font-size: 1em; }
  .ar .main-nav-bar .logo {
    line-height: 70px; }
  .ar .main-nav-bar .logo img {
    height: auto; }
  .ar .recipes .recipe-search-box {
    width: 100%;
    min-height: 180px;
    position: absolute;
    background-color: transparent;
    bottom: -110px;
    left: 0;
    padding: 10px 20px;
    margin-left: 0; }
  .ar .recipes .main-container h1 {
    font-size: 2rem;
    margin-top: -40px; }
  .ar .recipes .recipes-grid .recipes-grid-element {
    margin: 0; }
  .ar .recipe-inner .recipe-buttons-box {
    text-align: center; }
  .ar .recipe-inner .recipe-buttons-box ul {
    float: none;
    display: inline-block;
    padding: 0;
    margin: 0; }
  .ar .recipe-inner .recipe-title {
    margin-top: 30px;
    text-align: center; }
  .ar .recipe-inner .recipe-description, .ar .recipe-inner .recipe-ingredients, .ar .recipe-inner .recipe-instruction {
    text-align: center; }
  .ar .recipe-inner .recipe-ingredients h2 {
    text-align: center; }
  .ar .recipe-inner .recipe-instruction h2 {
    text-align: center; }
  .ar .recipe-inner .recipe-title img, .ar .recipe-inner .recipe-instruction img, .ar .recipe-inner .recipe-ingredients img {
    height: 20px;
    margin-top: -8px;
    margin-right: 10px; }
  .ar .recipe-inner .recipe-servings-wrapper, .ar .recipe-inner .recipe-servings, .ar .recipe-inner .recipe-servings-caption {
    margin-bottom: 15px; }
  .ar .recipe-inner .recipe-servings-wrapper {
    float: none;
    display: inline-block; }
  .ar .recipe-inner .recipe-servings-caption {
    height: 30px;
    line-height: 30px; }
  .ar .recipe-inner .recipe-serving {
    width: 8px;
    height: 30px; }
  .ar .recipe-inner .recipe-ingredients, .ar .recipe-inner .recipe-instruction {
    padding: 30px 30px 0 30px; }
  .ar .recipe-inner .recipe-ingredients ul, .ar .recipe-inner .recipe-instruction ul {
    display: inline-block;
    max-width: 100%; }
  .ar .recipe-inner .prev-btn a, .ar .recipe-inner .next-btn a {
    border: 3px solid #124391;
    display: inline-block;
    padding: 8px 20px;
    color: #124391;
    font-family: "Cairo SemiBold";
    font-weight: bold;
    font-size: 1em;
    background-color: transparent;
    text-transform: uppercase;
    min-width: 180px;
    text-align: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .ar .recipe-inner .next-btn {
    text-align: right; }
  .ar .recipe-inner .prev-btn {
    text-align: left; }
  .ar .recipe-inner .prev-btn a:hover, .ar .recipe-inner .next-btn a:hover {
    background-color: #124391;
    color: #ffffff; }
  .ar .recipe-inner .comments-headline {
    text-align: center; }
  .ar .recipe-inner .profile-pic {
    margin: 10px auto; }
  .ar .recipe-inner .comment-box .comment-reply-btn {
    margin-top: 0; }
  .ar .recipe-inner .comment-see-replies {
    height: 43px;
    background-position: left center; }
  .ar .recipe-inner .comments-view-more {
    margin-top: 30px; }
  .ar .recipe-inner .comment-box .add-comment-btn {
    text-align: center; }
  .ar .recipe-inner .recipe-grid .recipes-grid-element {
    margin: 0; }
  .ar .search-results .search-results-headline {
    text-align: right;
    font-family: "Cairo Regular";
    font-size: 30px;
    color: #124391;
    margin-bottom: 30px;
    padding-top: 30px; }
  .ar .search-results .search-result-image .thumb {
    width: 100%;
    height: 150px;
    border: 1px solid #95a0aa;
    border-radius: 10px;
    padding-right: 35px; }
  .ar .search-results .search-result-text {
    padding-top: 0;
    padding-right: 0; }
    .ar .search-results .search-result-text h2 {
      text-align: right;
      font-family: "Cairo Regular";
      font-size: 30px;
      color: #124391; }
    .ar .search-results .search-result-text p {
      font-family: "Cairo Regular";
      font-size: 18px;
      color: #124391;
      padding-left: 35px;
      padding-right: 0; }
  .ar .search-results .search-results-wrapper .search-results-box:nth-child(odd) {
    background-color: #ffffff; }
  .ar .search-results .search-results-box {
    position: relative;
    padding: 20px 0 20px 0; }
  .ar .search-results .read-more-btn {
    border: 3px solid #124391;
    display: inline-block;
    padding: 0;
    color: #124391;
    font-family: "Cairo SemiBold";
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    background-color: transparent;
    text-transform: uppercase;
    width: 110px;
    height: 30px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    left: 10px;
    bottom: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .ar .search-results .read-more-btn:hover {
    background-color: #124391;
    color: #ffffff; }
  .ar .search-results .search-load-more-box {
    text-align: center; }
    .ar .search-results .search-load-more-box .load-more-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 0;
      color: #124391;
      font-family: "Cairo SemiBold";
      font-weight: bold;
      font-size: 18.1px;
      margin-top: 70px;
      margin-bottom: 20px;
      background-color: transparent;
      width: 134px;
      height: 43px;
      line-height: 41px;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .ar .search-results .search-load-more-box .load-more-btn:hover {
      background-color: #124391;
      color: #ffffff; }
  .ar .instragram-block .social-block-caption {
    width: 380px; }
  .ar .instragram-block .instagram-wrapper {
    width: 380px;
    margin: 0; }
  .ar .instragram-block .instagram-wrapper li:nth-child(3n+3) {
    margin-right: 0 !important; }
  .ar .instragram-block .instagram-wrapper .instagram-image {
    width: 120px;
    height: 120px;
    margin-bottom: 10px; }
  .ar .footer .footer-bottom {
    width: 100%;
    margin: 0;
    left: 0; } }
