@font-face {
  font-family: 'Capriola';
  src: url("../fonts/Capriola-Regular.eot");
  src: url("../fonts/Capriola-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Capriola-Regular.woff2") format("woff2"), url("../fonts/Capriola-Regular.woff") format("woff"), url("../fonts/Capriola-Regular.ttf") format("truetype"), url("../fonts/Capriola-Regular.svg#Capriola-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Condensed';
  src: url("../fonts/OpenSans-CondensedLight.eot");
  src: url("../fonts/OpenSans-CondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-CondensedLight.woff2") format("woff2"), url("../fonts/OpenSans-CondensedLight.woff") format("woff"), url("../fonts/OpenSans-CondensedLight.ttf") format("truetype"), url("../fonts/OpenSans-CondensedLight.svg#OpenSans-CondensedLight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Condensed Bold';
  src: url("../fonts/OpenSans-CondensedBold.eot");
  src: url("../fonts/OpenSans-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-CondensedBold.woff2") format("woff2"), url("../fonts/OpenSans-CondensedBold.woff") format("woff"), url("../fonts/OpenSans-CondensedBold.ttf") format("truetype"), url("../fonts/OpenSans-CondensedBold.svg#OpenSans-CondensedBold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Cairo Regular';
  src: url("../fonts/Cairo-Regular.eot");
  src: url("../fonts/Cairo-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Cairo-Regular.woff2") format("woff2"), url("../fonts/Cairo-Regular.woff") format("woff"), url("../fonts/Cairo-Regular.ttf") format("truetype"), url("../fonts/Cairo-Regular.svg#Cairo-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  outline: none; }

a {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.full-width {
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

body {
  background-color: #f7f7f7; }

.en {
  padding-top: 135px; }
  .en header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
    z-index: 999;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }
  .en .header-popup {
    max-width: 415px;
    width: 415px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -207px;
    top: 150px;
    border-radius: 10px;
    display: none;
    z-index: 998; }
    .en .header-popup .close-btn {
      position: absolute;
      height: 30px;
      right: 20px;
      top: 15px;
      font-size: 20px;
      line-height: 30px;
      cursor: pointer; }
    .en .header-popup .popup-header {
      height: 63px;
      border-bottom: 2px solid #124391;
      text-align: center;
      font-family: "Open Sans Condensed Bold";
      font-size: 28.6px;
      color: #124391;
      line-height: 63px; }
    .en .header-popup .popup-form-box {
      width: 358px;
      margin: 45px auto 0 auto; }
      .en .header-popup .popup-form-box > input {
        border: 2px solid #124391;
        font-family: "Open Sans Condensed Bold";
        font-size: 20.2px;
        margin-bottom: 30px; }
      .en .header-popup .popup-form-box label {
        color: #124391;
        font-family: "Open Sans Condensed Bold";
        font-size: 22.2px;
        line-height: 23px;
        margin-bottom: 20px; }
      .en .header-popup .popup-form-box input[type="checkbox"] {
        float: left;
        height: 28px;
        width: 19px;
        border: 2px solid #124391; }
    .en .header-popup .popup-bottom-box {
      background-color: #124391;
      border-radius: 0 0 10px 10px; }
      .en .header-popup .popup-bottom-box .text-box {
        width: 358px;
        color: #ffffff;
        font-family: "Open Sans Condensed Bold";
        font-size: 22.2px;
        text-align: center;
        padding: 10px;
        margin: 0 auto; }
        .en .header-popup .popup-bottom-box .text-box a {
          color: #ffffff; }
      .en .header-popup .popup-bottom-box .text-box.bb {
        border-bottom: 2px dashed #ffffff; }
      .en .header-popup .popup-bottom-box .submit-btn {
        width: 100%;
        text-align: center;
        font-family: "Open Sans Condensed Bold";
        font-size: 27.5px;
        color: #124391;
        background: #ffffff;
        border: none;
        box-shadow: none;
        margin-bottom: 15px;
        height: 43px;
        line-height: 43px; }
  .en .top-nav-bar {
    height: 45px;
    background-color: #f9f9f9; }
    .en .top-nav-bar .social-media-links {
      float: left;
      margin-top: 10px; }
      .en .top-nav-bar .social-media-links li {
        list-style: none;
        float: left;
        margin-right: 10px; }
        .en .top-nav-bar .social-media-links li a {
          color: #95a0aa; }
        .en .top-nav-bar .social-media-links li a:hover {
          color: #333333; }
    .en .top-nav-bar .top-nav-links {
      display: inline-block;
      float: right;
      margin-top: 10px; }
      .en .top-nav-bar .top-nav-links li {
        list-style: none;
        float: left;
        margin-left: 15px; }
      .en .top-nav-bar .top-nav-links a {
        color: #95a0aa;
        font-size: 18px;
        font-family: "Open Sans Condensed Bold";
        font-weight: bold;
        letter-spacing: 1px; }
      .en .top-nav-bar .top-nav-links .search-link.active {
        opacity: 0.5; }
      .en .top-nav-bar .top-nav-links .language-selector a {
        font-family: "Cairo Regular" !important; }
      .en .top-nav-bar .top-nav-links a:hover {
        color: #333333; }
      .en .top-nav-bar .top-nav-links i {
        font-size: 0.7em;
        vertical-align: middle;
        margin-top: -2px; }
      .en .top-nav-bar .top-nav-links .search-box {
        display: inline-block;
        height: 20px;
        width: 200px;
        border-radius: 15px;
        margin-top: 3px;
        position: relative; }
      .en .top-nav-bar .top-nav-links .search-box input {
        background-color: #95a0aa;
        height: 20px;
        width: 200px;
        border-radius: 15px;
        font-family: "Open Sans Condensed Bold";
        letter-spacing: 1px;
        font-weight: bold;
        padding: 0 30px 0 10px;
        color: #ffffff;
        box-shadow: none;
        border: none;
        font-size: 18px; }
      .en .top-nav-bar .top-nav-links .search-box .submit-btn {
        right: 10px;
        position: absolute;
        top: -1px;
        color: #ffffff;
        font-size: 1.3rem;
        width: 20px;
        height: 20px; }
      .en .top-nav-bar .top-nav-links .search-box input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #ffffff; }
      .en .top-nav-bar .top-nav-links .search-box input::-moz-placeholder {
        /* Firefox 19+ */
        color: #ffffff; }
      .en .top-nav-bar .top-nav-links .search-box input:-ms-input-placeholder {
        /* IE 10+ */
        color: #ffffff; }
      .en .top-nav-bar .top-nav-links .search-box input:-moz-placeholder {
        /* Firefox 18- */
        color: #ffffff; }
  .en .main-nav-bar {
    height: 90px;
    background-color: #ffffff; }
    .en .main-nav-bar .logo {
      height: 70px;
      float: left;
      vertical-align: middle;
      margin-top: 10px; }
      .en .main-nav-bar .logo img {
        height: 100%;
        width: auto; }
    .en .main-nav-bar .main-nav-links {
      float: right;
      display: inline-block;
      margin-right: -30px; }
      .en .main-nav-bar .main-nav-links li {
        list-style: none;
        float: left;
        position: relative; }
        .en .main-nav-bar .main-nav-links li a {
          display: inline-block;
          padding: 0 20px;
          height: 90px;
          font-size: 20px;
          line-height: 90px;
          font-family: "Open Sans Condensed Bold";
          font-weight: bold;
          letter-spacing: 2px;
          background-color: #ffffff;
          color: #124391; }
        .en .main-nav-bar .main-nav-links li a:hover, .en .main-nav-bar .main-nav-links li a.active {
          background-color: #124391;
          color: #ffffff; }
        .en .main-nav-bar .main-nav-links li .dropdown-menu {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          z-index: 200;
          min-width: 200px;
          right: 0; }
        .en .main-nav-bar .main-nav-links li .dropdown-menu li {
          float: none;
          min-width: 200px; }
        .en .main-nav-bar .main-nav-links li .dropdown-menu li a {
          min-width: 200px;
          height: 50px;
          line-height: 50px;
          background-color: #124391;
          color: #ffffff; }
        .en .main-nav-bar .main-nav-links li .dropdown-menu li a:hover {
          min-width: 200px;
          height: 50px;
          line-height: 50px;
          background-color: #ffffff;
          color: #124391; }
        .en .main-nav-bar .main-nav-links li .caret {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 2px;
          vertical-align: middle;
          border-top: 4px solid;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent; }
      .en .main-nav-bar .main-nav-links > li.open > a {
        background-color: #124391;
        color: #ffffff; }
      .en .main-nav-bar .main-nav-links > li.open .dropdown-menu {
        display: block; }
  .en .top-bar, .en .top-bar ul {
    background-color: #ffffff; }
  .en .social-media-block {
    height: 100px;
    float: left; }
  .en #topcontrol {
    text-align: center;
    display: none; }
  .en .homepage .main-image {
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    background-position: center center;
    position: relative;
    text-align: center;
    overflow: hidden;
    position: relative; }
    .en .homepage .main-image .yt-video {
      width: 100%;
      height: 1080px;
      position: absolute;
      top: 50%;
      margin-top: -540px;
      left: 0;
      z-index: 100; }
    .en .homepage .main-image .master-slider {
      width: 100%;
      height: 500px; }
  .en .homepage .main-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.28);
    width: 100%;
    height: 100%;
    margin: 0; }
    .en .homepage .main-container h1 {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Capriola";
      font-size: 53.5px; }
    .en .homepage .main-container .transparent-button {
      border: 3px solid #ffffff;
      display: inline-block;
      color: #ffffff;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      font-size: 24px;
      letter-spacing: 2px;
      margin-top: 10px;
      background-color: transparent;
      width: 131px;
      height: 57px;
      line-height: 57px; }
    .en .homepage .main-container .transparent-button:hover {
      background-color: #ffffff;
      color: #124391; }
  .en .homepage .homepage-grid {
    margin: 4px 0; }
    .en .homepage .homepage-grid .homepage-grid-element {
      background-color: #f7f7f7;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 539px;
      padding: 0;
      text-align: center; }
      .en .homepage .homepage-grid .homepage-grid-element .white-block {
        background-color: #ffffff;
        height: 539px;
        background-position: top center;
        background-repeat: no-repeat; }
        .en .homepage .homepage-grid .homepage-grid-element .white-block .philly-image {
          width: 70%;
          margin: 0 auto; }
      .en .homepage .homepage-grid .homepage-grid-element .transparent-block {
        background-color: rgba(255, 255, 255, 0.75);
        height: 539px; }
      .en .homepage .homepage-grid .homepage-grid-element h2 {
        text-transform: uppercase;
        color: #124391;
        font-family: "Capriola";
        font-size: 30px; }
      .en .homepage .homepage-grid .homepage-grid-element p {
        color: #124391;
        font-family: "Open Sans";
        font-size: 14px;
        display: inline-block;
        width: 80%;
        min-height: 120px; }
      .en .homepage .homepage-grid .homepage-grid-element .image-block p {
        min-height: 50px; }
      .en .homepage .homepage-grid .homepage-grid-element .transparent-button {
        border: 3px solid #124391;
        display: inline-block;
        padding: 0;
        color: #124391;
        font-family: "Open Sans Condensed Bold";
        font-weight: bold;
        font-size: 18.1px;
        line-height: 43px;
        letter-spacing: 2px;
        margin-top: 10px;
        background-color: transparent;
        min-width: 155px;
        text-transform: uppercase; }
      .en .homepage .homepage-grid .homepage-grid-element .transparent-button:hover {
        background-color: #124391;
        color: #ffffff; }
      .en .homepage .homepage-grid .homepage-grid-element .image-block .transparent-button {
        width: 225px; }
      .en .homepage .homepage-grid .homepage-grid-element .grid-inner {
        height: 441px;
        margin: 0;
        display: table; }
        .en .homepage .homepage-grid .homepage-grid-element .grid-inner > .column {
          display: table-cell;
          width: 50%;
          vertical-align: middle;
          border-bottom: 8px solid #f7f7f7; }
    .en .homepage .homepage-grid .homepage-grid-element.first {
      background-position: -230px; }
    .en .homepage .homepage-grid .left {
      border-top: 4px solid #f7f7f7;
      border-right: 4px solid #f7f7f7;
      border-bottom: 4px solid #f7f7f7; }
    .en .homepage .homepage-grid .right {
      border-top: 4px solid #f7f7f7;
      border-left: 4px solid #f7f7f7;
      border-bottom: 4px solid #f7f7f7; }
  .en .recipes .header-box {
    position: relative;
    margin-bottom: 110px; }
  .en .recipes .main-image {
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    background-position: center center;
    position: relative;
    text-align: center;
    overflow: hidden;
    position: relative; }
    .en .recipes .main-image .yt-video {
      width: 100%;
      height: 1080px;
      position: absolute;
      top: 50%;
      margin-top: -540px;
      left: 0;
      z-index: 100; }
    .en .recipes .main-image .master-slider {
      width: 100%;
      height: 500px; }
  .en .recipes .recipe-search-box {
    width: 960px;
    min-height: 180px;
    position: absolute;
    background-color: #f7f7f7;
    bottom: -110px;
    left: 50%;
    margin-left: -480px; }
    .en .recipes .recipe-search-box .search-form {
      padding: 30px 20px 20px 20px;
      background-color: #ffffff; }
      .en .recipes .recipe-search-box .search-form select, .en .recipes .recipe-search-box .search-form option {
        color: #848484;
        font-family: "Capriola";
        background-color: #fcfcfc;
        font-size: 1rem; }
      .en .recipes .recipe-search-box .search-form input[type="text"] {
        background-color: #fcfcfc; }
    .en .recipes .recipe-search-box .submit-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 0;
      color: #124391;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      font-size: 18.1px;
      letter-spacing: 2px;
      margin-top: 20px;
      background-color: transparent;
      text-transform: uppercase;
      cursor: pointer;
      width: 142px;
      height: 44px;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .en .recipes .recipe-search-box .submit-btn:hover {
      background-color: #124391;
      color: #ffffff; }
  .en .recipes .main-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.28);
    width: 100%;
    height: 100%;
    margin: 0; }
    .en .recipes .main-container h1 {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Capriola";
      font-size: 53.5px; }
    .en .recipes .main-container .transparent-button {
      border: 3px solid #ffffff;
      display: inline-block;
      padding: 8px 25px;
      color: #ffffff;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      font-size: 1em;
      letter-spacing: 2px;
      margin-top: 10px;
      background-color: transparent; }
    .en .recipes .main-container .transparent-button:hover {
      background-color: #ffffff;
      color: #124391; }
  .en .recipes .recipes-headline {
    text-align: center;
    font-family: "Capriola";
    font-size: 30px;
    color: #124391;
    margin-bottom: 15px; }
  .en .recipes .recipes-grid {
    position: relative; }
    .en .recipes .recipes-grid .recipes-filter {
      position: absolute;
      width: 270px;
      top: -45px;
      left: 5px; }
      .en .recipes .recipes-grid .recipes-filter select {
        color: #848484;
        font-family: "Capriola";
        background-color: #ffffff;
        font-size: 1rem; }
    .en .recipes .recipes-grid .recipes-grid-element {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 0;
      text-align: center;
      border: 5px solid #f7f7f7; }
      .en .recipes .recipes-grid .recipes-grid-element .white-block {
        background-color: #ffffff;
        height: 330px;
        background-position: top center;
        background-repeat: no-repeat; }
        .en .recipes .recipes-grid .recipes-grid-element .white-block .philly-image {
          width: 70%;
          margin: 0 auto; }
      .en .recipes .recipes-grid .recipes-grid-element .transparent-block {
        background-color: rgba(255, 255, 255, 0.75);
        height: 330px; }
      .en .recipes .recipes-grid .recipes-grid-element h2 {
        text-transform: uppercase;
        color: #124391;
        font-family: "Capriola";
        font-size: 30px; }
      .en .recipes .recipes-grid .recipes-grid-element p {
        color: #124391;
        font-family: "Open Sans";
        font-size: 18px;
        display: inline-block;
        width: 80%; }
      .en .recipes .recipes-grid .recipes-grid-element .transparent-button {
        border: 3px solid #124391;
        display: inline-block;
        padding: 7px 0;
        color: #124391;
        font-family: "Open Sans Condensed Bold";
        font-weight: bold;
        font-size: 18.1px;
        letter-spacing: 2px;
        margin-top: 10px;
        background-color: transparent;
        min-width: 158px;
        text-transform: uppercase; }
      .en .recipes .recipes-grid .recipes-grid-element .transparent-button:hover {
        background-color: #124391;
        color: #ffffff; }
      .en .recipes .recipes-grid .recipes-grid-element .grid-inner {
        height: 320px;
        margin: 0;
        display: table; }
        .en .recipes .recipes-grid .recipes-grid-element .grid-inner > .column {
          display: table-cell;
          width: 50%;
          vertical-align: middle;
          border-bottom: 10px solid #f7f7f7; }
    .en .recipes .recipes-grid .left {
      border-top: 5px solid #ffffff;
      border-right: 5px solid #ffffff;
      border-bottom: 5px solid #ffffff; }
    .en .recipes .recipes-grid .right {
      border-top: 5px solid #ffffff;
      border-left: 5px solid #ffffff;
      border-bottom: 5px solid #ffffff; }
  .en .recipes .recipes-load-more-box {
    text-align: center; }
    .en .recipes .recipes-load-more-box .load-more-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 0;
      color: #124391;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      font-size: 18.1px;
      letter-spacing: 2px;
      margin-top: 10px;
      background-color: transparent;
      text-transform: uppercase;
      width: 176px;
      height: 43px;
      line-height: 43px;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .en .recipes .recipes-load-more-box .load-more-btn:hover {
      background-color: #124391;
      color: #ffffff; }
  .en .recipes .popular-recipes-headline {
    text-align: center;
    font-family: "Capriola";
    font-size: 36px;
    color: #124391;
    margin-bottom: 15px;
    margin-top: 95px; }
  .en .recipes .be-our-chef {
    margin-top: 110px; }
    .en .recipes .be-our-chef .transparent-block {
      height: 539px !important; }
  .en .recipe-inner .header-box {
    position: relative;
    margin-bottom: 30px; }
  .en .recipe-inner .main-image {
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    background-position: center center;
    position: relative;
    text-align: center;
    overflow: hidden;
    position: relative; }
    .en .recipe-inner .main-image .yt-video {
      width: 100%;
      height: 1080px;
      position: absolute;
      top: 50%;
      margin-top: -540px;
      left: 0;
      z-index: 100; }
    .en .recipe-inner .main-image .master-slider {
      width: 100%;
      height: 500px; }
  .en .recipe-inner .main-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.28);
    width: 100%;
    height: 100%;
    margin: 0; }
    .en .recipe-inner .main-container h1 {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Capriola";
      font-size: 53.5px; }
    .en .recipe-inner .main-container .recipe-date, .en .recipe-inner .main-container .submitted-by {
      font-family: "Capriola";
      font-size: 1rem;
      color: #ffffff; }
    .en .recipe-inner .main-container .recipe-submitted-img {
      display: inline-block;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      background-color: #ffffff;
      margin-bottom: 15px; }
  .en .recipe-inner .recipe-video {
    text-align: center;
    margin: 0 auto; }
  .en .recipe-inner .recipe-video-btn {
    border: 3px solid #124391;
    display: inline-block;
    padding: 8px 20px;
    color: #124391;
    font-family: "Open Sans Condensed Bold";
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 2px;
    margin-top: 10px;
    background-color: transparent;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .en .recipe-inner .recipe-video-btn:hover {
    background-color: #124391;
    color: #ffffff; }
  .en .recipe-inner .recipe-buttons-box {
    display: inline-block;
    text-align: right; }
  .en .recipe-inner .recipe-buttons-box ul {
    float: right; }
  .en .recipe-inner .recipe-servings-wrapper, .en .recipe-inner .recipe-servings, .en .recipe-inner .recipe-servings-caption {
    float: left;
    margin-bottom: 40px; }
  .en .recipe-inner .recipe-serving {
    height: 32px;
    width: 8px;
    background-image: url(../images/servings-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-right: 7px;
    margin-top: 10px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg); }
  .en .recipe-inner .recipe-servings-caption {
    height: 32px;
    padding-left: 20px;
    line-height: 32px;
    font-size: 18px;
    color: #124391;
    margin-top: 10px; }
  .en .recipe-inner .recipe-buttons-box ul li {
    list-style: none;
    float: left;
    margin-left: 5px; }
  .en .recipe-inner .recipe-title {
    text-align: left;
    font-family: "Capriola";
    font-size: 30px;
    color: #124391;
    margin-bottom: 15px; }
  .en .recipe-inner .recipe-description {
    text-align: left;
    font-family: "Open Sans";
    font-size: 1rem;
    color: #124391;
    margin-bottom: 35px; }
  .en .recipe-inner .recipe-ingredients {
    background-color: #ffffff; }
  .en .recipe-inner .recipe-ingredients, .en .recipe-inner .recipe-instruction {
    padding: 30px 30px 30px 50px; }
  .en .recipe-inner .recipe-ingredients h2, .en .recipe-inner .recipe-instruction h2 {
    text-align: left;
    font-family: "Capriola";
    font-size: 30px;
    color: #124391;
    margin-bottom: 15px; }
  .en .recipe-inner .recipe-title img, .en .recipe-inner .recipe-instruction img, .en .recipe-inner .recipe-ingredients img {
    height: 26px;
    margin-top: -8px;
    margin-right: 14px; }
  .en .recipe-inner .recipe-ingredients ul li, .en .recipe-inner .recipe-instruction ol li {
    margin-bottom: 10px;
    text-align: left;
    font-family: "Open Sans";
    font-size: 18px;
    color: #124391;
    margin-bottom: 15px; }
  .en .recipe-inner .recipe-instruction ol, .en .recipe-inner .recipe-ingredients ul {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none; }
  .en .recipe-inner .recipe-instruction ol li {
    counter-increment: step-counter;
    display: table-row; }
  .en .recipe-inner .recipe-instruction ol li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 30px;
    color: #124391;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
    font-family: "Capriola";
    display: table-cell; }
  .en .recipe-inner .recipe-ingredients ul li::before {
    content: counter(step-counter);
    margin-right: 15px;
    color: transparent;
    border: 3px solid #124391;
    padding: 4px 5px;
    font-size: 0.1rem;
    width: 20px;
    height: 20px;
    vertical-align: middle; }
  .en .recipe-inner .recipe-grid {
    position: relative;
    margin-top: 95px; }
    .en .recipe-inner .recipe-grid .recipes-filter {
      position: absolute;
      width: 150px;
      top: -45px;
      left: 5px; }
      .en .recipe-inner .recipe-grid .recipes-filter select {
        color: #848484;
        font-family: "Capriola";
        background-color: #ffffff;
        font-size: 1rem; }
    .en .recipe-inner .recipe-grid .recipes-grid-element {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 0;
      text-align: center;
      border-right: 4px solid #f7f7f7;
      border-left: 4px solid #f7f7f7; }
      .en .recipe-inner .recipe-grid .recipes-grid-element .white-block {
        background-color: #ffffff;
        height: 330px;
        background-position: top center;
        background-repeat: no-repeat; }
        .en .recipe-inner .recipe-grid .recipes-grid-element .white-block .philly-image {
          width: 70%;
          margin: 0 auto; }
      .en .recipe-inner .recipe-grid .recipes-grid-element .transparent-block {
        background-color: rgba(255, 255, 255, 0.75);
        height: 330px; }
      .en .recipe-inner .recipe-grid .recipes-grid-element h2 {
        text-transform: uppercase;
        color: #124391;
        font-family: "Capriola";
        font-size: 30px; }
      .en .recipe-inner .recipe-grid .recipes-grid-element p {
        color: #124391;
        font-family: "Open Sans";
        font-size: 18px;
        display: inline-block;
        width: 80%; }
      .en .recipe-inner .recipe-grid .recipes-grid-element .transparent-button {
        border: 3px solid #124391;
        display: inline-block;
        padding: 0;
        color: #124391;
        font-family: "Open Sans Condensed Bold";
        font-weight: bold;
        font-size: 18.1px;
        letter-spacing: 2px;
        margin-top: 10px;
        background-color: transparent;
        min-width: 158px;
        height: 43px;
        line-height: 43px;
        text-transform: uppercase; }
      .en .recipe-inner .recipe-grid .recipes-grid-element .transparent-button:hover {
        background-color: #124391;
        color: #ffffff; }
      .en .recipe-inner .recipe-grid .recipes-grid-element .grid-inner {
        height: 330px;
        margin: 0;
        display: table; }
        .en .recipe-inner .recipe-grid .recipes-grid-element .grid-inner > .column {
          display: table-cell;
          width: 50%;
          vertical-align: middle; }
    .en .recipe-inner .recipe-grid .left {
      border-top: 5px solid #ffffff;
      border-right: 5px solid #ffffff;
      border-bottom: 5px solid #ffffff; }
    .en .recipe-inner .recipe-grid .right {
      border-top: 5px solid #ffffff;
      border-left: 5px solid #ffffff;
      border-bottom: 5px solid #ffffff; }
  .en .recipe-inner .ymal-recipes {
    margin-top: 75px !important; }
  .en .recipe-inner .ymal-headline {
    text-align: center;
    font-family: "Capriola";
    font-size: 30px;
    color: #124391;
    margin-bottom: 15px; }
  .en .recipe-inner .comment-box {
    padding: 30px 0;
    background-color: #ffffff;
    margin-top: 50px; }
    .en .recipe-inner .comment-box .comment {
      margin-bottom: 30px; }
    .en .recipe-inner .comment-box .comments-headline {
      text-align: left;
      font-family: "Capriola";
      font-size: 1.5rem;
      color: #124391;
      margin-bottom: 15px;
      margin-top: 15px; }
    .en .recipe-inner .comment-box .profile-pic {
      width: 80px;
      height: 80px;
      background-color: #C4c4c4;
      border-radius: 80px; }
    .en .recipe-inner .comment-box .comment-name {
      font-size: 0.8rem;
      text-align: center; }
    .en .recipe-inner .comment-box .comments-body p {
      font-size: 1rem;
      color: #124391;
      font-family: "Open Sans"; }
    .en .recipe-inner .comment-box .comment-reply-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 0;
      color: #124391;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      font-size: 18.1px;
      letter-spacing: 2px;
      margin-top: 10px;
      background-color: transparent;
      text-transform: uppercase;
      width: 122px;
      height: 43px;
      text-align: center;
      line-height: 43px;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .en .recipe-inner .comment-box .comment-reply-btn:hover {
      background-color: #124391;
      color: #ffffff; }
    .en .recipe-inner .comment-box .comment-see-replies {
      float: right;
      width: 150px;
      color: #848484;
      font-family: "Capriola";
      background-color: #fcfcfc;
      font-size: 1rem; }
    .en .recipe-inner .comment-box .comments-view-more {
      text-align: center; }
    .en .recipe-inner .comment-box .comments-view-more select {
      width: 150px;
      color: #848484;
      font-family: "Capriola";
      background-color: #fcfcfc;
      font-size: 1rem;
      margin: 10px auto; }
    .en .recipe-inner .comment-box .add-comment-headline {
      text-align: left;
      font-family: "Capriola";
      font-size: 30px;
      color: #124391;
      margin-bottom: 15px; }
    .en .recipe-inner .comment-box .add-comment-box textarea {
      width: 100%;
      resize: none;
      height: 114px; }
    .en .recipe-inner .comment-box .add-comment-btn {
      text-align: right; }
    .en .recipe-inner .comment-box .add-comment-btn button {
      border: 3px solid #124391;
      display: inline-block;
      padding: 8px 20px;
      color: #124391;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      font-size: 18.1px;
      letter-spacing: 2px;
      margin-top: 10px;
      background-color: transparent;
      text-transform: uppercase;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .en .recipe-inner .comment-box .add-comment-btn button:hover {
      background-color: #124391;
      color: #ffffff; }
  .en .recipe-inner .be-our-chef {
    margin-top: 110px; }
    .en .recipe-inner .be-our-chef .transparent-block {
      height: 539px !important; }
  .en .about .header-box {
    position: relative;
    margin-bottom: 30px; }
  .en .about .main-image {
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    background-position: center center;
    position: relative;
    text-align: center;
    overflow: hidden;
    position: relative; }
  .en .about .main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0; }
    .en .about .main-container h1 {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Capriola";
      font-size: 53.5px; }
  .en .about .all-products .main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0; }
    .en .about .all-products .main-container h1 {
      text-transform: uppercase;
      color: #124391;
      font-family: "Capriola";
      font-size: 30px; }
  .en .about .products-slider-headline {
    text-align: left;
    font-family: "Capriola";
    font-size: 1.7rem;
    color: #124391;
    margin-bottom: 15px; }
  .en .about .all-products {
    height: 500px; }
  .en .about .product-img img {
    width: 100%; }
  .en .about .product-description {
    font-size: 1rem;
    color: #124391;
    font-family: "Open Sans"; }
  .en .about .ms-nav-next, .en .about .ms-nav-prev {
    background: none;
    border: 3px solid #124391;
    height: 30px; }
  .en .about .ms-nav-prev::after {
    content: "\f053";
    font-family: FontAwesome;
    color: #124391;
    font-size: 1.2rem;
    margin-left: 6px;
    line-height: 32px; }
  .en .about .ms-nav-next::after {
    content: "\f054";
    font-family: FontAwesome;
    color: #124391;
    font-size: 1.2rem;
    margin-left: 9px;
    line-height: 32px; }
  .en .about .ms-view {
    background: #f7f7f7; }
  .en .about .about-image-block {
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .en .about .about-text-block {
    min-height: 500px; }
  .en .about .white {
    background-color: #ffffff; }
  .en .about .about-text-block h2 {
    text-align: left;
    font-family: "Capriola";
    font-size: 1.7rem;
    color: #124391;
    margin-bottom: 15px; }
  .en .about .about-text-block p {
    font-size: 1rem;
    color: #124391;
    font-family: "Open Sans"; }
  .en .about .about-video {
    margin-bottom: 80px; }
  .en .about .about-video-headline {
    text-align: left;
    font-family: "Capriola";
    font-size: 1.7rem;
    color: #124391;
    margin-bottom: 15px;
    margin-top: 30px; }
  .en .about .video-view-more-btn {
    text-align: right; }
  .en .about .video-view-more-btn a {
    border: 3px solid #124391;
    display: inline-block;
    padding: 8px 20px;
    color: #124391;
    font-family: "Open Sans Condensed Bold";
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 2px;
    margin-top: 10px;
    background-color: transparent;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .en .about .video-view-more-btn a:hover {
    background-color: #124391;
    color: #ffffff; }
  .en .contact .white {
    background-color: #ffffff; }
  .en .contact .header-box {
    position: relative; }
  .en .contact .main-image {
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    background-position: center center;
    position: relative;
    text-align: center;
    overflow: hidden;
    position: relative; }
  .en .contact .main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0; }
    .en .contact .main-container h1 {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Capriola";
      font-size: 53.5px; }
  .en .contact .contact-boxes {
    padding-top: 20px;
    padding-bottom: 20px; }
  .en .contact .contact-box {
    text-align: left;
    font-family: "Capriola";
    font-size: 1.7rem;
    color: #124391;
    margin-bottom: 15px;
    padding-top: 10px; }
    .en .contact .contact-box i {
      font-size: 2.2rem;
      color: #ffffff;
      background-color: #124391;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      text-align: center;
      line-height: 50px; }
  .en .contact .contact-box-text {
    font-size: 1rem;
    color: #95a0aa;
    font-family: "Open Sans";
    padding-left: 75px;
    padding-top: 20px;
    padding-right: 30px; }
    .en .contact .contact-box-text a {
      color: #95a0aa; }
  .en .contact .contact-form {
    padding-bottom: 60px; }
    .en .contact .contact-form .contact-headline {
      text-align: left;
      font-family: "Capriola";
      font-size: 1.7rem;
      color: #124391;
      margin-bottom: 30px;
      padding-top: 30px; }
    .en .contact .contact-form input[type="text"], .en .contact .contact-form textarea {
      border: 3px solid #124391;
      font-family: "Open Sans Condensed Bold";
      letter-spacing: 1px;
      font-weight: bold;
      margin-bottom: 50px; }
    .en .contact .contact-form input::-webkit-input-placeholder, .en .contact .contact-form textarea::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #95a0aa; }
    .en .contact .contact-form input::-moz-placeholder, .en .contact .contact-form textarea::-moz-placeholder {
      /* Firefox 19+ */
      color: #95a0aa; }
    .en .contact .contact-form input:-ms-input-placeholder, .en .contact .contact-form textarea:-ms-input-placeholder {
      /* IE 10+ */
      color: #95a0aa; }
    .en .contact .contact-form input:-moz-placeholder, .en .contact .contact-form textarea:-moz-placeholder {
      /* Firefox 18- */
      color: #95a0aa; }
    .en .contact .contact-form .captcha-box p {
      font-size: 1rem;
      color: #124391;
      font-family: "Open Sans Condensed Bold";
      letter-spacing: 1px; }
    .en .contact .contact-form .captcha-box .captcha {
      width: 400px;
      height: 120px;
      background-color: #666666; }
    .en .contact .contact-form .contact-submit-btn {
      text-align: right; }
    .en .contact .contact-form .contact-submit-btn button {
      border: 3px solid #124391;
      display: inline-block;
      padding: 8px 20px;
      color: #124391;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      font-size: 1em;
      letter-spacing: 2px;
      margin-top: 10px;
      background-color: transparent;
      text-transform: uppercase;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .en .contact .contact-form .contact-submit-btn button:hover {
      background-color: #124391;
      color: #ffffff; }
  .en .contact .map-headline {
    text-align: left;
    font-family: "Capriola";
    font-size: 1.7rem;
    color: #124391;
    margin-bottom: 30px;
    padding-top: 30px; }
  .en .terms .headline {
    text-align: left;
    font-family: "Capriola";
    font-size: 30px;
    color: #124391;
    margin-bottom: 30px;
    padding-top: 30px; }
  .en .terms h2 {
    text-align: left;
    font-family: "Capriola";
    font-size: 24px;
    color: #124391;
    margin-bottom: 20px;
    padding-top: 20px; }
  .en .terms .content, .en .terms .content p {
    font-size: 18px;
    color: #000000;
    font-family: "Open Sans"; }
  .en .search-results .search-results-headline {
    text-align: left;
    font-family: "Capriola";
    font-size: 30px;
    color: #124391;
    margin-bottom: 30px;
    padding-top: 30px; }
  .en .search-results .search-result-image .thumb {
    width: 230px;
    height: 230px;
    border: 1px solid #95a0aa;
    border-radius: 10px;
    padding-left: 35px;
    background-position: center;
    background-size: cover; }
  .en .search-results .search-result-text {
    padding-top: 30px;
    padding-left: 0; }
    .en .search-results .search-result-text h2 {
      text-align: left;
      font-family: "Capriola";
      font-size: 24px;
      color: #124391; }
    .en .search-results .search-result-text p {
      font-family: "Open Sans";
      font-size: 22.2px;
      color: #124391;
      padding-right: 135px; }
  .en .search-results .search-results-wrapper .search-results-box:nth-child(odd) {
    background-color: #ffffff; }
  .en .search-results .search-results-box {
    position: relative;
    padding: 20px 0 20px 0; }
  .en .search-results .read-more-btn {
    border: 3px solid #124391;
    display: inline-block;
    padding: 0;
    color: #124391;
    font-family: "Open Sans Condensed Bold";
    font-weight: bold;
    font-size: 18.1px;
    letter-spacing: 2px;
    margin-top: 10px;
    background-color: transparent;
    text-transform: uppercase;
    width: 134px;
    height: 43px;
    line-height: 41px;
    text-align: center;
    position: absolute;
    right: 30px;
    bottom: 30px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .en .search-results .read-more-btn:hover {
    background-color: #124391;
    color: #ffffff; }
  .en .search-results .search-load-more-box {
    text-align: center; }
    .en .search-results .search-load-more-box .load-more-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 0;
      color: #124391;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      font-size: 18.1px;
      letter-spacing: 2px;
      margin-top: 70px;
      margin-bottom: 20px;
      background-color: transparent;
      text-transform: uppercase;
      width: 134px;
      height: 43px;
      line-height: 41px;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .en .search-results .search-load-more-box .load-more-btn:hover {
      background-color: #124391;
      color: #ffffff; }
  .en .user-account .header-box {
    position: relative;
    margin-bottom: 25px; }
  .en .user-account .main-image {
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    background-position: center center;
    position: relative;
    text-align: center;
    overflow: hidden;
    position: relative; }
  .en .user-account .main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0; }
    .en .user-account .main-container h1 {
      text-transform: uppercase;
      color: #ffffff;
      font-family: "Capriola";
      font-size: 53.5px; }
  .en .user-account .user-account-menu {
    margin-top: 180px; }
    .en .user-account .user-account-menu li {
      list-style: none; }
    .en .user-account .user-account-menu li.menu-item {
      height: 45px;
      background-color: #f9f9f9;
      border-bottom: 1px solid #e5e5e5;
      font-family: "Open Sans Condensed Bold";
      font-size: 16px;
      color: #95a0aa;
      line-height: 45px; }
      .en .user-account .user-account-menu li.menu-item a {
        color: #95a0aa; }
      .en .user-account .user-account-menu li.menu-item a:hover {
        color: #666666; }
      .en .user-account .user-account-menu li.menu-item i {
        padding: 0 20px;
        color: #666666; }
    .en .user-account .user-account-menu li.menu-last-item {
      background-color: #e5e5e5;
      border-radius: 0 0 10px 10px;
      height: 75px; }
  .en .user-account .user-account-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 140px; }
    .en .user-account .user-account-box .user-account-header {
      height: 82px;
      border-bottom: 2px solid #124391;
      font-family: "Capriola";
      font-size: 32.6px;
      color: #124391;
      line-height: 82px; }
    .en .user-account .user-account-box .user-pic-name {
      background-color: #e5e5e5;
      height: 220px;
      position: relative; }
      .en .user-account .user-account-box .user-pic-name .user-profile-pic {
        position: absolute;
        top: -50%;
        left: 50%;
        margin-left: -142px; }
      .en .user-account .user-account-box .user-pic-name .user-name {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 60px;
        width: 100%;
        text-align: center;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 20px;
        color: #124391; }
  .en .user-account .search-form {
    margin: 40px auto 10px auto;
    padding: 0 10px; }
    .en .user-account .search-form .submit-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 0;
      color: #124391;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      font-size: 18.1px;
      letter-spacing: 2px;
      margin-top: 20px;
      background-color: transparent;
      text-transform: uppercase;
      cursor: pointer;
      width: 142px;
      height: 44px;
      float: right;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .en .user-account .search-form .submit-btn:hover {
      background-color: #124391;
      color: #ffffff; }
  .en .user-account .search-form select, .en .user-account .search-form option, .en .user-account .search-form input {
    color: #848484;
    font-family: "Capriola";
    background-color: #fcfcfc;
    font-size: 18.4px;
    height: 48px; }
  .en .user-account .search-form .pl {
    padding-left: 0; }
  .en .user-account .search-form .pr {
    padding-right: 0; }
  .en .user-account .recipes-filter select {
    color: #848484;
    font-family: "Capriola";
    background-color: #fcfcfc;
    font-size: 18.4px;
    width: 270px;
    height: 48px;
    margin-left: 10px;
    margin-bottom: 25px; }
  .en .user-account .recipe-grid {
    padding: 0 65px 0 35px; }
  .en .user-account .recipes-grid-element {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    text-align: center;
    border-right: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
    margin-bottom: 8px; }
    .en .user-account .recipes-grid-element .white-block {
      background-color: #ffffff;
      height: 200px;
      background-position: top center;
      background-repeat: no-repeat; }
      .en .user-account .recipes-grid-element .white-block .philly-image {
        width: 70%;
        margin: 0 auto; }
    .en .user-account .recipes-grid-element .transparent-block {
      background-color: rgba(255, 255, 255, 0.75);
      height: 200px; }
    .en .user-account .recipes-grid-element h2 {
      text-transform: uppercase;
      color: #124391;
      font-family: "Capriola";
      font-size: 23px; }
    .en .user-account .recipes-grid-element p {
      color: #124391;
      font-family: "Open Sans";
      font-size: 18px;
      display: inline-block;
      width: 80%; }
    .en .user-account .recipes-grid-element .transparent-button {
      border: 3px solid #124391;
      display: inline-block;
      padding: 0;
      color: #124391;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      font-size: 11.2px;
      margin-top: 10px;
      background-color: transparent;
      min-width: 99px;
      height: 26px;
      line-height: 20px;
      text-transform: uppercase; }
    .en .user-account .recipes-grid-element .transparent-button:hover {
      background-color: #124391;
      color: #ffffff; }
    .en .user-account .recipes-grid-element .grid-inner {
      height: 200px;
      margin: 0;
      display: table; }
      .en .user-account .recipes-grid-element .grid-inner > .column {
        display: table-cell;
        width: 50%;
        vertical-align: middle; }
  .en .user-account .load-more-btn {
    border: 3px solid #124391;
    display: inline-block;
    padding: 0;
    color: #124391;
    font-family: "Open Sans Condensed Bold";
    font-weight: bold;
    font-size: 18.1px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    text-transform: uppercase;
    width: 134px;
    height: 43px;
    line-height: 41px;
    float: right;
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .en .user-account .load-more-btn:hover {
    background-color: #124391;
    color: #ffffff; }
  .en .user-account .tip-item {
    margin-top: 45px; }
  .en .user-account .tip-item .thumb {
    width: 225px;
    height: 225px;
    border-radius: 10px;
    border: 1px solid #666666; }
  .en .user-account .tip-item .thumb img {
    width: 100%;
    border-radius: 10px; }
  .en .user-account .tip-text {
    padding-left: 30px; }
  .en .user-account .tip-item h2 {
    font-size: 24px;
    font-family: "Open Sans";
    color: #124391;
    font-weight: bold;
    margin-top: 20px; }
  .en .user-account .tip-item p {
    font-size: 20px;
    font-family: "Open Sans";
    color: #124391; }
  .en .user-account .tip-item .read-more-btn {
    font-size: 18.1px;
    font-family: "Open Sans Condensed Bold";
    color: #124391;
    float: right; }
  .en .user-account .tips-share-btn {
    border: 3px solid #124391;
    display: inline-block;
    padding: 8px 20px;
    color: #124391;
    font-family: "Open Sans Condensed Bold";
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 2px;
    margin-top: 10px;
    background-color: transparent;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .en .user-account .tips-share-btn:hover {
    background-color: #124391;
    color: #ffffff; }
  .en .user-account .tips-buttons-box {
    display: inline-block;
    text-align: right; }
  .en .user-account .tips-buttons-box ul {
    float: right; }
  .en .user-account .tips-buttons-box ul li {
    list-style: none;
    float: left;
    margin-left: 5px; }
  .en .user-account .submit-recipe-form .description-text {
    font-family: "Open Sans Condensed Bold";
    font-size: 16px;
    color: #95a0aa;
    padding: 20px; }
  .en .user-account .submit-recipe-form .sub-text {
    font-family: "Open Sans";
    font-size: 12px;
    color: #95a0aa;
    line-height: 12px; }
  .en .user-account .submit-recipe-form input, .en .user-account .submit-recipe-form select, .en .user-account .submit-recipe-form .mce-tinymce.mce-container.mce-panel, .en .user-account .submit-recipe-form textarea {
    border: 2px solid #124391 !important;
    color: #95a0aa;
    margin-bottom: 10px; }
  .en .user-account .submit-recipe-form input {
    font-family: "Open Sans Condensed Bold";
    font-size: 16px;
    color: #95a0aa;
    margin-bottom: 10px; }
  .en .user-account .submit-recipe-form .input-group {
    margin-bottom: 10px; }
  .en .user-account .submit-recipe-form input[readonly] {
    background-color: #ffffff;
    color: #95a0aa;
    margin-bottom: 5px; }
  .en .user-account .submit-recipe-form label {
    font-family: "Open Sans Condensed Bold";
    font-size: 20.2px;
    color: #95a0aa;
    margin-top: 10px; }
  .en .user-account .submit-recipe-form label.button {
    color: #ffffff;
    line-height: 36px;
    background-color: #124391;
    height: 39px;
    margin-top: 0; }
  .en .user-account .submit-recipe-form .add-method, .en .user-account .submit-recipe-form .add-ingredient {
    float: right;
    font-family: "Open Sans Condensed Bold";
    font-size: 20.2px;
    background-color: #124391;
    width: 240px;
    height: 40px;
    line-height: 0; }
  .en .user-account .submit-recipe-form .form-submit-btn {
    border: 3px solid #124391;
    display: inline-block;
    padding: 0;
    color: #124391;
    font-family: "Open Sans Condensed Bold";
    font-weight: bold;
    font-size: 18.1px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    text-transform: uppercase;
    width: 134px;
    height: 43px;
    line-height: 38px;
    float: right;
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .en .user-account .submit-recipe-form .form-submit-btn:hover {
    background-color: #124391;
    color: #ffffff; }
  .en .user-account .submit-tip-form .description-text {
    font-family: "Open Sans Condensed Bold";
    font-size: 16px;
    color: #95a0aa;
    padding: 20px; }
  .en .user-account .submit-tip-form .sub-text {
    font-family: "Open Sans";
    font-size: 12px;
    color: #95a0aa;
    line-height: 12px; }
  .en .user-account .submit-tip-form input, .en .user-account .submit-tip-form select, .en .user-account .submit-tip-form .mce-tinymce.mce-container.mce-panel, .en .user-account .submit-tip-form textarea {
    border: 2px solid #124391 !important;
    color: #95a0aa;
    margin-bottom: 10px; }
  .en .user-account .submit-tip-form input {
    font-family: "Open Sans Condensed Bold";
    font-size: 16px;
    color: #95a0aa;
    margin-bottom: 10px; }
  .en .user-account .submit-tip-form .input-group {
    margin-bottom: 10px; }
  .en .user-account .submit-tip-form input[readonly] {
    background-color: #ffffff;
    color: #95a0aa;
    margin-bottom: 5px; }
  .en .user-account .submit-tip-form label {
    font-family: "Open Sans Condensed Bold";
    font-size: 20.2px;
    color: #95a0aa;
    margin-top: 10px; }
  .en .user-account .submit-tip-form label.button {
    color: #ffffff;
    line-height: 36px;
    background-color: #124391;
    height: 39px;
    margin-top: 0; }
  .en .user-account .submit-tip-form .add-tip {
    float: right;
    font-family: "Open Sans Condensed Bold";
    font-size: 20.2px;
    background-color: #124391;
    width: 240px;
    height: 40px;
    line-height: 0; }
  .en .user-account .submit-tip-form .form-submit-btn {
    border: 3px solid #124391;
    display: inline-block;
    padding: 0;
    color: #124391;
    font-family: "Open Sans Condensed Bold";
    font-weight: bold;
    font-size: 18.1px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    text-transform: uppercase;
    width: 134px;
    height: 43px;
    line-height: 38px;
    float: right;
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .en .user-account .submit-tip-form .form-submit-btn:hover {
    background-color: #124391;
    color: #ffffff; }
  .en .user-account .submit-profile-form .description-text {
    font-family: "Open Sans Condensed Bold";
    font-size: 16px;
    color: #95a0aa;
    padding: 20px; }
  .en .user-account .submit-profile-form .sub-text {
    font-family: "Open Sans";
    font-size: 12px;
    color: #95a0aa;
    line-height: 12px; }
  .en .user-account .submit-profile-form input, .en .user-account .submit-profile-form select, .en .user-account .submit-profile-form .mce-tinymce.mce-container.mce-panel, .en .user-account .submit-profile-form textarea {
    border: 2px solid #124391 !important;
    color: #95a0aa;
    margin-bottom: 10px; }
  .en .user-account .submit-profile-form input {
    font-family: "Open Sans Condensed Bold";
    font-size: 16px;
    color: #95a0aa;
    margin-bottom: 10px; }
  .en .user-account .submit-profile-form .input-group {
    margin-bottom: 10px; }
  .en .user-account .submit-profile-form input[readonly] {
    background-color: #ffffff;
    color: #95a0aa;
    margin-bottom: 5px; }
  .en .user-account .submit-profile-form label {
    font-family: "Open Sans Condensed Bold";
    font-size: 20.2px;
    color: #95a0aa;
    margin-top: 10px; }
  .en .user-account .submit-profile-form label.button {
    color: #ffffff;
    line-height: 36px;
    background-color: #124391;
    height: 39px;
    margin-top: 0; }
  .en .user-account .submit-profile-form .add-tip {
    float: right;
    font-family: "Open Sans Condensed Bold";
    font-size: 20.2px;
    background-color: #124391;
    width: 240px;
    height: 40px;
    line-height: 0; }
  .en .user-account .submit-profile-form .form-submit-btn {
    border: 3px solid #124391;
    display: inline-block;
    padding: 0;
    color: #124391;
    font-family: "Open Sans Condensed Bold";
    font-weight: bold;
    font-size: 18.1px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    text-transform: uppercase;
    width: 134px;
    height: 43px;
    line-height: 38px;
    float: right;
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .en .user-account .submit-profile-form .form-submit-btn:hover {
    background-color: #124391;
    color: #ffffff; }
  .en .instragram-block {
    text-align: center;
    margin: 50px auto; }
    .en .instragram-block .social-block-caption {
      display: inline-block;
      padding-left: 10px;
      width: 950px;
      margin: 0 auto 18px auto;
      text-align: left;
      font-size: 18px;
      color: #124391;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      letter-spacing: 2px; }
    .en .instragram-block .instagram-wrapper {
      width: 950px;
      display: inline-block;
      margin: 0; }
      .en .instragram-block .instagram-wrapper .instagram-image {
        float: left;
        list-style: none;
        width: 150px;
        height: auto;
        margin-right: 10px; }
        .en .instragram-block .instagram-wrapper .instagram-image img {
          width: auto;
          height: auto; }
      .en .instragram-block .instagram-wrapper .instagram-image:last-child {
        margin-right: 0; }
  .en .footer {
    height: 315px;
    background-color: #124391;
    position: relative; }
    .en .footer li {
      list-style: none;
      color: #ffffff;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      font-size: 18.1px;
      margin-bottom: 10px;
      letter-spacing: 3px; }
      .en .footer li a {
        color: #ffffff; }
    .en .footer .footer-menu {
      float: right;
      width: 120px;
      margin-top: 30px; }
    .en .footer .footer-social-menu {
      float: left;
      width: 120px;
      margin-top: 30px; }
      .en .footer .footer-social-menu li {
        margin-bottom: 0; }
      .en .footer .footer-social-menu a {
        font-size: 14px;
        color: #6786b8;
        font-weight: bold; }
      .en .footer .footer-social-menu i {
        font-size: 16px;
        color: #ffffff; }
    .en .footer .footer-bottom {
      position: absolute;
      bottom: 0;
      width: 960px;
      left: 50%;
      margin-left: -480px;
      text-align: center;
      color: #95a0aa;
      font-family: "Open Sans";
      font-size: 14px;
      margin-bottom: 20px; }
      .en .footer .footer-bottom a {
        color: #95a0aa; }

@media screen and (max-width: 640px) {
  .en {
    padding: 0; }
    .en .header-popup {
      max-width: 315px;
      width: 315px;
      background-color: #ffffff;
      position: absolute;
      left: 50%;
      margin-left: -157.5px;
      top: 150px;
      border-radius: 10px;
      display: none; }
      .en .header-popup .close-btn {
        position: absolute;
        height: 30px;
        right: 20px;
        top: 15px;
        font-size: 20px;
        line-height: 30px;
        cursor: pointer; }
      .en .header-popup .popup-header {
        height: 63px;
        border-bottom: 2px solid #124391;
        text-align: center;
        font-family: "Open Sans Condensed Bold";
        font-size: 28.6px;
        color: #124391;
        line-height: 63px; }
      .en .header-popup .popup-form-box {
        width: 95%;
        margin: 45px auto 0 auto; }
        .en .header-popup .popup-form-box > input {
          border: 2px solid #124391;
          font-family: "Open Sans Condensed Bold";
          font-size: 20.2px;
          margin-bottom: 30px; }
        .en .header-popup .popup-form-box label {
          color: #124391;
          font-family: "Open Sans Condensed Bold";
          font-size: 22.2px;
          line-height: 23px;
          margin-bottom: 20px; }
        .en .header-popup .popup-form-box input[type="checkbox"] {
          float: left;
          height: 28px;
          width: 19px;
          border: 2px solid #124391; }
      .en .header-popup .popup-bottom-box {
        background-color: #124391;
        border-radius: 0 0 10px 10px; }
        .en .header-popup .popup-bottom-box .text-box {
          width: 100%;
          color: #ffffff;
          font-family: "Open Sans Condensed Bold";
          font-size: 22.2px;
          text-align: center;
          padding: 10px;
          margin: 0 auto; }
          .en .header-popup .popup-bottom-box .text-box a {
            color: #ffffff; }
        .en .header-popup .popup-bottom-box .text-box.bb {
          border-bottom: 2px dashed #ffffff; }
        .en .header-popup .popup-bottom-box .submit-btn {
          width: 100%;
          text-align: center;
          font-family: "Open Sans Condensed Bold";
          font-size: 27.5px;
          color: #124391;
          background: #ffffff;
          border: none;
          box-shadow: none;
          margin-bottom: 15px;
          height: 43px;
          line-height: 43px; }
    .en #topcontrol {
      width: 40px;
      height: 30px;
      background-color: #ffffff;
      display: block; }
    .en #topcontrol::after {
      content: "\f106";
      color: #124391;
      font-family: FontAwesome;
      font-size: 40px;
      line-height: 27px; }
    .en header {
      position: relative;
      height: 145px; }
    .en .top-nav-bar {
      height: auto;
      max-height: 110px; }
    .en .top-nav-bar-wrapper {
      text-align: center;
      height: 45px; }
      .en .top-nav-bar-wrapper .top-nav-links {
        float: none;
        margin: 10px 0 0 0;
        padding: 0; }
        .en .top-nav-bar-wrapper .top-nav-links a {
          font-size: 12.1px;
          letter-spacing: 0; }
    .en .mobile-search-bar-wrapper {
      text-align: center;
      display: none; }
      .en .mobile-search-bar-wrapper .search-box {
        display: inline-block;
        height: 30px;
        width: 220px;
        max-width: 230px;
        margin: 3px auto 20px auto;
        border-radius: 15px;
        position: relative; }
      .en .mobile-search-bar-wrapper .search-box input {
        background-color: #95a0aa;
        height: 30px;
        width: 220px;
        border-radius: 15px;
        font-family: "Open Sans Condensed Bold";
        letter-spacing: 1px;
        font-weight: bold;
        color: #ffffff;
        padding: 0 40px 0 10px;
        box-shadow: none;
        border: none; }
      .en .mobile-search-bar-wrapper .search-box .submit-btn {
        right: 10px;
        top: 5px;
        position: absolute;
        top: 0;
        color: #ffffff;
        font-size: 1.2rem;
        width: 30px;
        height: 30px; }
      .en .mobile-search-bar-wrapper .search-box input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #ffffff; }
      .en .mobile-search-bar-wrapper .search-box input::-moz-placeholder {
        /* Firefox 19+ */
        color: #ffffff; }
      .en .mobile-search-bar-wrapper .search-box input:-ms-input-placeholder {
        /* IE 10+ */
        color: #ffffff; }
      .en .mobile-search-bar-wrapper .search-box input:-moz-placeholder {
        /* Firefox 18- */
        color: #ffffff; }
      .en .mobile-search-bar-wrapper .close {
        display: inline-block;
        position: absolute;
        top: 0;
        right: -35px;
        font-size: 4rem;
        height: 30px;
        width: 30px;
        line-height: 25px;
        font-family: "Open Sans";
        color: #95a0aa;
        cursor: pointer; }
    .en .main-nav-bar {
      position: relative; }
      .en .main-nav-bar .mobile-menu-icon {
        position: absolute;
        padding: 3px;
        border: 1px solid #95a0aa;
        color: #95a0aa;
        background-color: #ffffff;
        right: 20px;
        top: 30px;
        width: 45px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 5px;
        z-index: 1000; }
        .en .main-nav-bar .mobile-menu-icon .line {
          width: 28px;
          height: 4px;
          background-color: #95a0aa;
          display: block;
          margin: 4px auto;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
    .en .mobile-menu-icon.open {
      border: 1px solid #ffffff;
      color: #ffffff;
      background-color: #95a0aa; }
      .en .mobile-menu-icon.open .line:nth-child(2) {
        opacity: 0; }
      .en .mobile-menu-icon.open .line:nth-child(1) {
        background-color: #ffffff;
        -webkit-transform: translateY(9px) rotate(45deg);
        -ms-transform: translateY(9px) rotate(45deg);
        -o-transform: translateY(9px) rotate(45deg);
        transform: translateY(9px) rotate(45deg); }
      .en .mobile-menu-icon.open .line:nth-child(3) {
        background-color: #ffffff;
        -webkit-transform: translateY(-7px) rotate(-45deg);
        -ms-transform: translateY(-7px) rotate(-45deg);
        -o-transform: translateY(-7px) rotate(-45deg);
        transform: translateY(-7px) rotate(-45deg); }
    .en .main-menu-wrapper, .en .logo-wrapper {
      width: 100%;
      flex: none;
      margin: 0;
      padding: 0; }
    .en .main-menu-wrapper {
      height: 60vh;
      max-height: 100vh;
      overflow: auto;
      display: none; }
    .en .main-menu-wrapper.open {
      display: block; }
    .en .logo-wrapper {
      height: 90px;
      padding-left: 10px; }
    .en .main-nav-bar {
      padding: 0;
      margin: 0; }
    .en .main-nav-bar .main-nav-links {
      margin: 0;
      padding: 0;
      height: auto;
      width: 100%; }
      .en .main-nav-bar .main-nav-links > li.open > a {
        background-color: #ffffff;
        color: #124391; }
      .en .main-nav-bar .main-nav-links li {
        width: 100%;
        float: none; }
        .en .main-nav-bar .main-nav-links li .dropdown-menu {
          position: relative;
          margin: 0;
          padding: 0; }
          .en .main-nav-bar .main-nav-links li .dropdown-menu li a {
            background-color: #95a0aa; }
          .en .main-nav-bar .main-nav-links li .dropdown-menu li a, .en .main-nav-bar .main-nav-links li .dropdown-menu li a:hover {
            height: 40px;
            line-height: 40px; }
        .en .main-nav-bar .main-nav-links li a {
          width: 100%;
          padding: 0;
          margin: 0;
          text-align: center;
          height: 40px;
          line-height: 40px; }
    .en .main-container h1 {
      font-size: 18px !important; }
    .en .main-container .transparent-button {
      font-size: 18px !important; }
    .en .main-image {
      height: 400px !important; }
    .en .homepage .main-image {
      background-repeat: no-repeat;
      background-size: cover; }
      .en .homepage .main-image .yt-video {
        display: none; }
    .en .homepage .main-container .transparent-button {
      width: 96px;
      height: 40px;
      line-height: 40px; }
    .en .homepage .homepage-grid {
      margin: 5px 0; }
      .en .homepage .homepage-grid .right {
        border: none;
        margin-top: 4px; }
      .en .homepage .homepage-grid .left {
        border: none;
        margin-top: 4px; }
      .en .homepage .homepage-grid .homepage-grid-element {
        background-color: #ffffff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 270px;
        padding: 0;
        text-align: center; }
        .en .homepage .homepage-grid .homepage-grid-element h2 {
          font-size: 18px; }
        .en .homepage .homepage-grid .homepage-grid-element p {
          font-size: 9px;
          min-height: 65px; }
        .en .homepage .homepage-grid .homepage-grid-element .transparent-button {
          width: auto;
          font-size: 13.1px;
          min-width: 112px;
          height: 30px;
          line-height: 26px;
          letter-spacing: 1px; }
        .en .homepage .homepage-grid .homepage-grid-element .image-block .transparent-button {
          width: auto;
          font-size: 9.7px;
          width: 115px;
          min-width: 115px;
          height: 30px;
          line-height: 26px;
          letter-spacing: 0; }
        .en .homepage .homepage-grid .homepage-grid-element .white-block {
          background-color: #ffffff;
          height: 270px; }
          .en .homepage .homepage-grid .homepage-grid-element .white-block .philly-image {
            width: 50%; }
        .en .homepage .homepage-grid .homepage-grid-element .transparent-block {
          background-color: rgba(255, 255, 255, 0.75);
          height: 270px; }
        .en .homepage .homepage-grid .homepage-grid-element .grid-inner {
          height: 270px; }
          .en .homepage .homepage-grid .homepage-grid-element .grid-inner > .column {
            border-bottom: none; }
      .en .homepage .homepage-grid .homepage-grid-element.first {
        background-position: -120px; }
      .en .homepage .homepage-grid .homepage-grid-element:last-of-type {
        background-position: 0 !important; }
    .en .recipes .main-image {
      background-repeat: no-repeat;
      background-size: cover; }
      .en .recipes .main-image .yt-video {
        display: none; }
    .en .recipes .header-box {
      position: relative;
      margin-bottom: 170px; }
    .en .recipes .recipe-search-box {
      width: 100%;
      min-height: 180px;
      position: absolute;
      background-color: transparent;
      bottom: -160px;
      left: 0;
      padding: 10px 20px;
      margin-left: 0; }
      .en .recipes .recipe-search-box .submit-btn-box {
        text-align: center;
        background-color: #ffffff;
        padding-bottom: 20px; }
      .en .recipes .recipe-search-box .submit-btn {
        margin-top: 0; }
    .en .recipes .recipes-grid .recipes-filter {
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center; }
      .en .recipes .recipes-grid .recipes-filter select {
        width: 80%; }
    .en .recipes .popular-recipes-headline {
      font-size: 18.6px;
      margin-top: 50px; }
    .en .recipes .recipes-grid .recipes-grid-element p {
      font-size: 9px; }
    .en .recipes .recipes-grid .recipes-grid-element {
      margin: 0;
      border: 0; }
      .en .recipes .recipes-grid .recipes-grid-element .grid-inner > .column {
        border-bottom: 5px solid #f7f7f7; }
      .en .recipes .recipes-grid .recipes-grid-element h2 {
        font-size: 20.5px; }
      .en .recipes .recipes-grid .recipes-grid-element .transparent-button {
        font-size: 11.2px;
        min-width: 112px;
        height: 30px;
        padding: 0;
        line-height: 26px;
        letter-spacing: 1px; }
    .en .recipes .recipes-load-more-box .load-more-btn {
      font-size: 13.1px;
      width: 100px;
      height: 29px;
      padding: 0;
      line-height: 24px; }
    .en .recipes .be-our-chef {
      margin-top: 40px; }
      .en .recipes .be-our-chef .recipes-grid-element {
        height: 330px !important; }
      .en .recipes .be-our-chef .transparent-block {
        height: 330px !important; }
    .en .recipe-inner .recipe-video iframe {
      height: 300px; }
    .en .recipe-inner .recipe-video-btn {
      font-size: 14px;
      padding: 3px 10px; }
    .en .recipe-inner .main-image {
      background-repeat: no-repeat;
      background-size: cover; }
      .en .recipe-inner .main-image .yt-video {
        display: none; }
    .en .recipe-inner .recipe-buttons-box {
      text-align: center; }
    .en .recipe-inner .recipe-buttons-box ul {
      float: none;
      display: inline-block;
      padding: 0;
      margin: 0; }
    .en .recipe-inner .recipe-title {
      margin-top: 30px;
      text-align: center;
      font-size: 17px; }
    .en .recipe-inner .recipe-description {
      font-size: 14px; }
    .en .recipe-inner .recipe-description, .en .recipe-inner .recipe-ingredients, .en .recipe-inner .recipe-instruction {
      text-align: center; }
    .en .recipe-inner .recipe-ingredients h2 {
      text-align: center;
      font-size: 17px; }
    .en .recipe-inner .recipe-instruction h2 {
      text-align: center;
      font-size: 17px; }
    .en .recipe-inner .recipe-title img, .en .recipe-inner .recipe-instruction img, .en .recipe-inner .recipe-ingredients img {
      height: 20px;
      margin-top: -8px;
      margin-right: 10px; }
    .en .recipe-inner .recipe-servings-wrapper, .en .recipe-inner .recipe-servings, .en .recipe-inner .recipe-servings-caption {
      margin-bottom: 15px; }
    .en .recipe-inner .recipe-servings-wrapper {
      float: none;
      display: inline-block; }
    .en .recipe-inner .recipe-servings-caption {
      height: 30px;
      line-height: 30px; }
    .en .recipe-inner .recipe-serving {
      width: 8px;
      height: 30px; }
    .en .recipe-inner .recipe-ingredients, .en .recipe-inner .recipe-instruction {
      padding: 30px 30px 0 30px; }
    .en .recipe-inner .recipe-ingredients ul, .en .recipe-inner .recipe-instruction ul {
      display: inline-block;
      max-width: 100%; }
    .en .recipe-inner .recipe-ingredients ul li, .en .recipe-inner .recipe-instruction ol li {
      font-size: 14px; }
    .en .recipe-inner .recipe-instruction ol li {
      line-height: 18px;
      display: inline-flex;
      float: left;
      margin-bottom: 20px; }
    .en .recipe-inner .recipe-instruction ol li::before {
      font-size: 17px;
      padding: 3px 22px 3px 0; }
    .en .recipe-inner .recipe-grid {
      margin-top: 40px; }
    .en .recipe-inner .prev-btn a, .en .recipe-inner .next-btn a {
      border: 3px solid #124391;
      display: inline-block;
      color: #124391;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 1px;
      background-color: transparent;
      text-transform: uppercase;
      min-width: 132px;
      height: 30px;
      line-height: 26px;
      text-align: center;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .en .recipe-inner .next-btn {
      text-align: right; }
    .en .recipe-inner .prev-btn {
      text-align: left; }
    .en .recipe-inner .prev-btn a:hover, .en .recipe-inner .next-btn a:hover {
      background-color: #124391;
      color: #ffffff; }
    .en .recipe-inner .comment-box .comments-headline {
      text-align: left;
      font-size: 17px; }
    .en .recipe-inner .comment-box .profile-pic {
      margin: 10px auto;
      width: 40px;
      height: 40px; }
    .en .recipe-inner .comment-box .comments-body p {
      font-size: 14px; }
    .en .recipe-inner .comment-box .comment-reply-btn {
      margin-top: 0; }
    .en .recipe-inner .comment-see-replies {
      height: 43px; }
    .en .recipe-inner .comments-view-more {
      margin-top: 0; }
    .en .recipe-inner .comment-box .comments-view-more select {
      font-size: 10px;
      width: 100px;
      height: 28px; }
    .en .recipe-inner .comment-box .add-comment-headline {
      margin-top: 20px;
      font-size: 19px; }
    .en .recipe-inner .comment-box .add-comment-btn {
      text-align: center; }
    .en .recipe-inner .comment-box .add-comment-btn button {
      font-size: 11.5px;
      letter-spacing: 1px;
      width: 80px;
      height: 25px;
      line-height: 21px;
      padding: 0; }
    .en .recipe-inner .recipe-grid .recipes-grid-element {
      margin-bottom: 4px; }
    .en .recipe-inner .ymal-headline {
      font-size: 17px; }
    .en .recipe-inner .recipe-grid .recipes-grid-element p {
      font-size: 9px; }
    .en .recipe-inner .recipe-grid .recipes-grid-element {
      margin-bottom: 4px; }
      .en .recipe-inner .recipe-grid .recipes-grid-element h2 {
        font-size: 17px; }
      .en .recipe-inner .recipe-grid .recipes-grid-element .transparent-button {
        font-size: 11.2px;
        min-width: 112px;
        height: 30px;
        padding: 0;
        line-height: 26px;
        letter-spacing: 1px; }
    .en .recipe-inner .be-our-chef {
      margin-top: 40px; }
      .en .recipe-inner .be-our-chef .recipes-grid-element {
        height: 330px !important; }
      .en .recipe-inner .be-our-chef .transparent-block {
        height: 330px !important; }
    .en .recipe-inner .ymal-recipes {
      margin-top: 40px !important; }
    .en .contact .main-image {
      background-repeat: no-repeat;
      background-size: cover; }
    .en .contact .contact-box-text {
      padding: 15px; }
    .en .contact .contact-form .contact-submit-btn {
      text-align: left;
      margin-top: 30px; }
    .en .contact .contact-form .captcha-box .captcha {
      width: 300px;
      margin: 0 auto; }
    .en .ms-skin-default .ms-nav-next {
      right: 5px; }
    .en .ms-skin-default .ms-nav-prev {
      left: 5px; }
    .en .about .main-image {
      background-repeat: no-repeat;
      background-size: cover; }
      .en .about .main-image .yt-video {
        display: none; }
    .en .about .all-products {
      height: 350px; }
    .en .about .all-products .main-container h1 {
      font-size: 30px;
      padding: 0 10px;
      text-align: center; }
    .en .about .product-img {
      text-align: center; }
    .en .about .product-img img {
      width: 75%; }
    .en .about .video-view-more-btn {
      text-align: center;
      margin-top: 30px; }
    .en .about .product-description {
      font-size: 9px;
      padding: 0 10px;
      text-align: center; }
    .en .about .about-video iframe {
      height: 300px; }
    .en .search-results .search-result-image .thumb {
      width: 100%;
      height: 100px;
      margin-left: 10px; }
    .en .search-results .search-result-text h2 {
      font-size: 17px; }
    .en .search-results .search-result-text {
      padding-top: 5px; }
    .en .search-results .search-result-text p {
      font-size: 9px;
      padding-right: 35px; }
    .en .search-results .read-more-btn {
      font-size: 14px;
      letter-spacing: 1px;
      width: 105px;
      height: 30px;
      line-height: 26px;
      right: 10px;
      bottom: 10px; }
    .en .search-results .search-load-more-box .load-more-btn {
      font-size: 14px;
      letter-spacing: 1px;
      width: 105px;
      height: 30px;
      line-height: 26px;
      right: 10px;
      bottom: 10px;
      margin-top: 40px;
      margin-bottom: 0; }
    .en .instragram-block .social-block-caption {
      width: 320px;
      margin: 0 auto 10px auto; }
    .en .instragram-block .instagram-wrapper {
      width: 320px;
      margin: 0; }
      .en .instragram-block .instagram-wrapper .instagram-image {
        margin-right: 5px; }
    .en .instragram-block .instagram-wrapper li:nth-child(3n+3) {
      margin-right: 0 !important; }
    .en .instragram-block .instagram-wrapper .instagram-image {
      width: 97px;
      height: 97px;
      margin-bottom: 5px; }
    .en .footer .footer-bottom {
      width: 100%;
      margin: 0 0 17px 0;
      left: 0; }
    .en .footer .footer-bottom, .en .footer .footer-bottom a {
      font-size: 8.8px; }
    .en .footer li:last-child i {
      font-size: 21px; }
    .en .user-account .user-account-header {
      font-size: 22.6px !important;
      text-align: center; }
    .en .user-account .user-account-menu {
      width: 280px;
      padding: 0;
      margin-left: auto;
      margin-right: auto; }
    .en .user-account .add-method, .en .user-account .add-tip, .en .user-account .form-submit-btn, .en .user-account .add-ingredient {
      display: block !important;
      margin: 15px auto !important;
      float: none !important; }
    .en .user-account .pl, .en .user-account .pr {
      padding: 0 !important; }
    .en .user-account .search-form {
      text-align: center; }
      .en .user-account .search-form select, .en .user-account .search-form input[type="text"] {
        width: 260px;
        margin: 10px auto; }
      .en .user-account .search-form .submit-btn {
        display: block !important;
        float: none !important;
        margin: 10px auto; }
    .en .user-account .recipes-filter {
      text-align: center; }
    .en .user-account .recipes-filter select {
      width: 260px !important; }
    .en .user-account .recipe-grid {
      padding: 0 !important; }
    .en .user-account .load-more-btn {
      display: block !important;
      float: none !important;
      margin: 15px auto; }
    .en .user-account .tip-item .thumb {
      margin: 20px auto; }
    .en .user-account .tips-buttons-box {
      text-align: center; }
    .en .user-account .tips-buttons-box ul {
      float: none; }
    .en .user-account .tips-share-buttons {
      margin: 20px auto;
      display: inline-block; }
    .en .user-account .tips-share-btn {
      width: 90px;
      height: 30px;
      font-size: 13.1px;
      padding: 0;
      text-align: center; } }

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .en .main-image {
    background-repeat: no-repeat;
    background-size: cover; }
    .en .main-image .yt-video {
      display: none; }
  .en .main-nav-bar .main-nav-links {
    margin-left: 0; }
  .en .main-nav-bar .main-nav-links li a {
    padding: 0 10px;
    font-size: 18px; }
  .en .main-nav-bar .logo {
    line-height: 70px; }
  .en .main-nav-bar .logo img {
    height: auto; }
  .en .recipes .recipe-search-box {
    width: 100%;
    min-height: 180px;
    position: absolute;
    background-color: transparent;
    bottom: -110px;
    left: 0;
    padding: 10px 20px;
    margin-left: 0; }
  .en .recipes .main-container h1 {
    font-size: 2rem;
    margin-top: -40px; }
  .en .recipes .recipe-grid .recipes-grid-element {
    margin-bottom: 4px; }
  .en .recipe-inner .recipe-buttons-box {
    text-align: center; }
  .en .recipe-inner .recipe-buttons-box ul {
    float: none;
    display: inline-block;
    padding: 0;
    margin: 0; }
  .en .recipe-inner .recipe-title {
    margin-top: 30px;
    text-align: center; }
  .en .recipe-inner .recipe-description, .en .recipe-inner .recipe-ingredients, .en .recipe-inner .recipe-instruction {
    text-align: center; }
  .en .recipe-inner .recipe-ingredients h2 {
    text-align: center; }
  .en .recipe-inner .recipe-instruction h2 {
    text-align: center; }
  .en .recipe-inner .recipe-title img, .en .recipe-inner .recipe-instruction img, .en .recipe-inner .recipe-ingredients img {
    height: 20px;
    margin-top: -8px;
    margin-right: 10px; }
  .en .recipe-inner .recipe-servings-wrapper, .en .recipe-inner .recipe-servings, .en .recipe-inner .recipe-servings-caption {
    margin-bottom: 15px; }
  .en .recipe-inner .recipe-servings-wrapper {
    float: none;
    display: inline-block; }
  .en .recipe-inner .recipe-servings-caption {
    height: 30px;
    line-height: 30px; }
  .en .recipe-inner .recipe-serving {
    width: 8px;
    height: 30px; }
  .en .recipe-inner .recipe-ingredients, .en .recipe-inner .recipe-instruction {
    padding: 30px 30px 0 30px; }
  .en .recipe-inner .recipe-ingredients ul, .en .recipe-inner .recipe-instruction ul {
    display: inline-block;
    max-width: 100%; }
  .en .recipe-inner .prev-btn a, .en .recipe-inner .next-btn a {
    border: 3px solid #124391;
    display: inline-block;
    padding: 8px 20px;
    color: #124391;
    font-family: "Open Sans Condensed Bold";
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 2px;
    background-color: transparent;
    text-transform: uppercase;
    min-width: 180px;
    text-align: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .en .recipe-inner .next-btn {
    text-align: right; }
  .en .recipe-inner .prev-btn {
    text-align: left; }
  .en .recipe-inner .prev-btn a:hover, .en .recipe-inner .next-btn a:hover {
    background-color: #124391;
    color: #ffffff; }
  .en .recipe-inner .comments-headline {
    text-align: center; }
  .en .recipe-inner .profile-pic {
    margin: 10px auto; }
  .en .recipe-inner .comment-box .comment-reply-btn {
    margin-top: 0; }
  .en .recipe-inner .comment-see-replies {
    height: 43px; }
  .en .recipe-inner .comments-view-more {
    margin-top: 30px; }
  .en .recipe-inner .comment-box .add-comment-btn {
    text-align: center; }
  .en .recipe-inner .recipe-grid .recipes-grid-element {
    margin-bottom: 4px; }
  .en .search-results .search-results-headline {
    text-align: left;
    font-family: "Capriola";
    font-size: 30px;
    color: #124391;
    margin-bottom: 30px;
    padding-top: 30px; }
  .en .search-results .search-result-image .thumb {
    width: 100%;
    height: 150px;
    border: 1px solid #95a0aa;
    border-radius: 10px;
    padding-left: 35px; }
  .en .search-results .search-result-text {
    padding-top: 0;
    padding-left: 0; }
    .en .search-results .search-result-text h2 {
      text-align: left;
      font-family: "Capriola";
      font-size: 24px;
      color: #124391; }
    .en .search-results .search-result-text p {
      font-family: "Open Sans";
      font-size: 22.2px;
      color: #124391;
      padding-right: 35px;
      padding-left: 0; }
  .en .search-results .search-results-wrapper .search-results-box:nth-child(odd) {
    background-color: #ffffff; }
  .en .search-results .search-results-box {
    position: relative;
    padding: 20px 0 20px 0; }
  .en .search-results .read-more-btn {
    border: 3px solid #124391;
    display: inline-block;
    padding: 0;
    color: #124391;
    font-family: "Open Sans Condensed Bold";
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 10px;
    background-color: transparent;
    text-transform: uppercase;
    width: 110px;
    height: 30px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .en .search-results .read-more-btn:hover {
    background-color: #124391;
    color: #ffffff; }
  .en .search-results .search-load-more-box {
    text-align: center; }
    .en .search-results .search-load-more-box .load-more-btn {
      border: 3px solid #124391;
      display: inline-block;
      padding: 0;
      color: #124391;
      font-family: "Open Sans Condensed Bold";
      font-weight: bold;
      font-size: 18.1px;
      letter-spacing: 2px;
      margin-top: 70px;
      margin-bottom: 20px;
      background-color: transparent;
      text-transform: uppercase;
      width: 134px;
      height: 43px;
      line-height: 41px;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
    .en .search-results .search-load-more-box .load-more-btn:hover {
      background-color: #124391;
      color: #ffffff; }
  .en .instragram-block .social-block-caption {
    width: 380px; }
  .en .instragram-block .instagram-wrapper {
    width: 380px;
    margin: 0; }
  .en .instragram-block .instagram-wrapper li:nth-child(3n+3) {
    margin-right: 0 !important; }
  .en .instragram-block .instagram-wrapper .instagram-image {
    width: 120px;
    height: 120px;
    margin-bottom: 10px; }
  .en .footer .footer-bottom {
    width: 100%;
    margin: 0;
    left: 0; } }

